.custom-header{

    padding: 10px;
    width: 100vw;
    position: relative;
    background-color: white;

    ion-button{

        margin: 0;
        --background: #4279FC33;
        --background-activated: #427afc62;
        transform: scale(.9);
        position: relative;
        z-index: 0;
        
        ion-icon{
            color: white;
        }

    }

    img{
        width: 80px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .menu-extendee{
        position: absolute;
        top: 0;
        left: 0;
        width: 65px;
        height: 65px;
        transform: translateX(-100%);
        z-index: 3;

        ion-icon{
            position: absolute;
            font-size: 30px;
            color: white;
            top: 50%;
            left: 40%;
            transform: translate(-50%,-50%);
            pointer-events: none;
        }
    }

}