<div class="custom-header">
  <div class="container">
    <ion-button (click)="openMenu()">
      <ion-icon name="grid"></ion-icon>
    </ion-button>
    <img src="assets/img/ican_logo.png" alt="">
  </div>
  <div class="menu-extendee" (click)="closeMenu()">
    <ion-icon name="chevron-back"></ion-icon>
    <svg viewBox="0 0 50 70">

      <path d="M 0 0 l 20 0 q 30 0 30 25 q 0 25 -30 25 q -20 0 -20 20 Z" stroke="none" fill="#0652DD"/>

    </svg>
  </div>
</div>