@import '../../../theme/colors';

ion-header{

    ion-toolbar{

        ion-button{
            --background: transparent;
            --background-activated: #00000011;
            --border-radius: 50px;
            --color: #3e3e3e;

            ion-icon{
                color: $black;
            }
        }

    }

}

.main-container{
    min-height: calc(100vh - 60px);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .header{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        h3{
            font-weight: 800;
            color: $highlight;
        }

        p{
            color: #00000066;
        }
    }

    ion-item{
        border-radius: 50px;
        box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .16);

        ion-icon{
            color: $highlight;
        }
    }

    .signup-form{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 30px 0;

        >*{
            margin-bottom: 10px;
        }

        ion-button{
            --background: #4279FC;
            --background-activated: #3468e2;
            --border-radius: 50px;
            --box-shadow: 0 6px 8px rgba(0,0,0,.16);
            color: #fafafa;
            width: 120px;
        }
    }

    .google-signup{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .divider{
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            align-items: center;
            color: rgba($color: #000000, $alpha: .5);
            margin-bottom: 10px;

            &::before, &::after{
                content: '';
                display: block;
                position: relative;
                height: 1px;
                width: 20%;
                background-color: rgba($color: #000000, $alpha: .2);
            }
        }

        ion-button{
            display: flex;
            justify-content: space-between;
            --background: #fafafa;
            --background-activated: #cacaca;
            --border-radius: 50px;
            --box-shadow: 0 6px 8px rgba(0,0,0,.16);

            img{
                width: 30px;
                margin-right: 10px;
            }
        }
    }
}