<ion-header class='ion-no-border'>
  <ion-toolbar>
    <ion-button (click)="back()" slot='start'><ion-icon name="chevron-back-outline"></ion-icon> Back</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="main-container">

    <div class="header">
      <h3>Create Account</h3>
      <p>Create a new account or sign up with google.</p>
    </div>

    <div class="signup-form">
      <ion-item *ngIf="!googleMode" lines='full'>
        <ion-icon name="mail" slot='start' size='small'></ion-icon>
        <ion-input [(ngModel)]="signUpData.main_email_address" placeholder='Email address' inputmode="email" autofocus="true"></ion-input>
      </ion-item>
      <ion-item *ngIf="!googleMode" lines='full'>
        <ion-icon name="person" slot="start" size="small"></ion-icon>
        <ion-input [(ngModel)]="signUpData.first_name" placeholder='Firstname'></ion-input>
      </ion-item>
      <ion-item *ngIf="!googleMode" lines='full'>
        <ion-icon name="person" slot="start" size="small"></ion-icon>
        <ion-input [(ngModel)]="signUpData.last_name" placeholder='Lastname'></ion-input>
      </ion-item>
      <ion-item lines='full'>
        <ion-icon name="person" slot="start" size="small"></ion-icon>
        <ion-input [(ngModel)]="signUpData.username" placeholder='Username'></ion-input>
      </ion-item>
      <ion-item lines='full'>
        <ion-icon name="lock-closed" slot='start' size='small'></ion-icon>
        <ion-input [(ngModel)]="password_init" placeholder='Password' type='password'></ion-input>
      </ion-item>
      <ion-item lines='full'>
        <ion-icon name="lock-closed" slot='start' size='small'></ion-icon>
        <ion-input [(ngModel)]="signUpData.password" placeholder='Confirm password' type='password'></ion-input>
      </ion-item>
      <ion-button [disabled]="allFilled()" (click)="googleMode ? signUpGoogle() : signUp()">Sign up</ion-button>
    </div>


    <div *ngIf="!googleMode" class="google-signup">
      <p class="divider">sign up with</p>
      <ion-button (click)="checkCreds()">
        <img src='assets/img/google-logo.png' />
        <p>Google</p>
      </ion-button>
    </div>

  </div>

</ion-content>
