@import '../../../theme/colors';

.main-container{
    justify-content: space-around;
    padding: 30px;
    background: linear-gradient(to bottom right, white, white, #ecfaff, #fcf0ff);

    *{
        width: 100%;
        position: relative;
        z-index: 2;
    }

    .illustration{

        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        
        h1{
            font-weight: 700;
            font-size: 30px;
            color: $primary;
        }
    }

    .cancellation-result{

        ion-skeleton-text{
            margin: 10px 0;

            &:last-child{
                width: 50%;
            }

        }


        p{
            font-weight: 600;
            font-size: 20px;
            text-align: center;
        }

    }

    ion-button{
        color: white;
        --background: #0f345c;
        --background-activated: #0a2a4d;
    }
}