<ion-content>

  <div class="main-container">

    <div class="illustration">
      <h1>Cancellation Request</h1>
    </div>

    <div *ngIf="!cancellation_text_result" class="cancellation-result">

      <ion-skeleton-text animated></ion-skeleton-text>
      <ion-skeleton-text animated></ion-skeleton-text>
      <ion-skeleton-text animated></ion-skeleton-text>
      <ion-skeleton-text animated></ion-skeleton-text>
      <ion-skeleton-text animated></ion-skeleton-text>
      <ion-skeleton-text animated></ion-skeleton-text>
      <ion-skeleton-text animated></ion-skeleton-text>
      <ion-skeleton-text animated></ion-skeleton-text>

    </div>

    <div *ngIf="cancellation_text_result" class="cancellation-result">

      <p>{{cancellation_text_result}}</p>

    </div>

    <ion-button *ngIf="cancellation_text_result" (click)="done()">Done</ion-button>

  </div>

</ion-content>
