<ion-content #termsAndConditionContent>

  <app-custom-header *ngIf="!redirected"></app-custom-header>
  <div *ngIf="redirected" class="header-back">
    <ion-button (click)="back()"><ion-icon name="arrow-back-outline"></ion-icon> Back</ion-button>
  </div>

  <div class="main-container">

    <div class="header">
      <h1>Terms and Conditions</h1>
    </div>

    <p>The following terms and conditions (the “Terms and Conditions”) cover the websites and applications (APPS) here in after referred as services owned or operated by I Can for Consumer Inc. (“iCAN”), any associated Content (as defined below) including email , and submissions, as defined below (collectively the “Services”). You must read and agree to the following Terms and conditions of use, including the Code of Conduct, before you access or otherwise use or participate in the Services. Your access to and registration with the Services (as applicable) is governed by the following Terms and Conditions. By accessing the Services, you accept these terms and conditions in effect at the time of your use. iCAN grants you access to use the Services solely in accordance with these Terms and Conditions. You acknowledge that unauthorized use of the Services may violate copyright, trademark, privacy, publicity, communication, and other applicable laws. As used here, “you” or “User” means any user or visitor of the Services who is deemed to have read, understood and agreed to the Terms and conditions and “we” or “us” means iCAN.</p>

    <ol type="I" class="content">
      
      <li class="content-item">
        <h3>DESCRIPTION OF SERVICES.</h3>
        <p>The site and app are a consumer based independent credit ADJUSTMENT network providing unique opportunities to intercept or reverse potentially fraudulent E-commerce transactions. The effectiveness of this network reversal is limited to participating member merchants.</p>
      </li>

      <li class="content-item">
        <h3>USE OF THE SERVICES.</h3>
        <p>Your access to and use of the Services is subject to all applicable international, federal, state and local laws and regulations. The trademarks, logos and service marks (“Marks”) displayed on the Services are the property of iCAN and other parties. Users are prohibited from using any Marks for any purpose including, but not limited to use as metatags on other pages or Services on the World Wide Web without the written permission of iCAN or such third party which may own the Marks. All information, materials and content including any text, photographs, audio, video, illustrations and software programs made available by iCAN on or through the Services (“content”) is protected by copyright and is the property of iCAN and other parties. Users may only use the Services and content for personal use as and to the extend permitted under these Terms and Conditions and are prohibited from modifying, creating derivative works of, copying, distributing, transmitting, displaying, publishing, selling or licensing any content available on through the Services for commercial, public or any other purposes. You agree that your participation in the Services is voluntary, personal and non-transferable. iCAN may, in its sole discretion fail to conform to the Terms and Conditions.</p>
      </li>

      <li class="content-item">
        <h3>MODIFICATIONS TO THESE TERMS AND CONDITIONS.</h3>
        <p>We may change the Terms and Conditions of the Services from time to time by updating this posting. Please visit the Terms and Conditions area each time you visit the Services to keep up to date with the current terms and conditions regarding your use of the Services. Your continued use of the Services constitutes an affirmative: (1) acknowledgment by you of the Terms and Conditions and any modifications thereof and (2) your agreement to abide and be bound by the Terms and Conditions as modified.</p>
      </li>

      <li class="content-item">
        <h3>MODIFICATIONS TO SERVICES.</h3>
        <p>We reserve the right to modify or discontinue the Services with or without notice to you. Neither iCAN. nor its affiliates shall be liable to you or any third party should we exercise this right to modify or discontinue the Services.</p>
      </li>
      
      <li class="content-item">
        <h3>PRIVACY POLICY.</h3>
        <p>Except as required by law and in accordance with the iCAN Privacy Statement, iCAN will maintain the confidentiality of all user communications solely to extent containing the personally identifiable information of a User and which are transmitted directly to iCAN. Transmissions to the Services, to the extent such transmissions do not contain the personally identifiable information of a User, will not be protected as confidential and iCAN may use and provide information contained in any such transmissions of its parent company, subsidiaries, and affiliates or other third parties for any purpose whatsoever and as deemed appropriate by iCAN. To the extent that you also provide us with any of your personally identifiable information, iCAN will only use such information in accordance wit the iCAN Privacy statement.</p>
      </li>

      <li class="content-item">
        <h3>NO WARRANTIES.</h3>
        <p>ALL CONTENT, PRODUCTS AND THIRD PARTY SERVICE ON THE SERVICES, OR OBTAINED FROM A LINKED SERVIVE ARE PROVIDED TO YOU “AS IS” WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS AND FOR A PARTICULAR PURPOSE, TITLE, NON-INFRINGEMENT, SECURITY OR ACCURACY. NEITHER iCAN, NOR ITS PARENT COMPANY OR AFFILIATES ENDORSE OR ARE RESPONSIBLE FOR (A) THE ACCURACY OR RELIABILITY OF ANY OPINION, ADVICE OR STATEMENT MADE THROUGH THE SERVICES, (B) ANY CONTENT PROVIDED ON THE SERVICES AND ANY LINKED SERVICESS OR (C) THE CAPABILITIES OR RELIABILITY OF ANY PRODUCT OR SERVICE OBTAINED FROM THE SERVICES OR A LINKED SERVICES. OTHER THAN AS REQUIRED UNDER APPLICABLE CONSUMER PROTECTION LAW, UNDER NO CIRCUMSTANCE WILL iCAN, ITS PARENT COMPANY, AFFILIATES OR AGENCIES BE LIABLE FOR ANY LOSS OR DAMAGE CAUSED BY YOUR RELIANCE ON INFORMATION OBTAINED THROUGH THE SERVICES OR A LINKED SERVICES, OR YOUR RELIANCE ON ANY PRODUCT OR SERVICE OBTAINED FROM THE SERVICES. PLEASE SEEK THE ADVICE OF PROFESSIONALS, AS APPROPRIATE, REGARDING THE EVALUATION OF ANY SPECIFIC OPINION, ADVICE, PRODUCT, SERVICE, OR OTHER CONTENT.</p>
      </li>

      <li class="content-item">
        <h3>LIMITATION OF LIABILITY FOR USE OF THE SERVICES AND LINKED SERVICESS.</h3>
        <p>THE INFORMATION, SOFTWARE, PRODUCTS AND DESCRIPTIONS OF SERVICES PUBLISHED ON THE SERVICES OR A LINKED SERVICES MAY INCLUDE INACCURACIES OR TYPOGRAPHICAL ERRORS, AND iCAN SPECIFICALLY DISCLAIMS ANY LIABILITY FOR SUCH INACCURACIES OR ERRORS. iCAN DOES NOT WARRANT OR REPRESENT THAT THE CONTENT ON THE SERVICES IS COMPLETE OR UP-TO-DATE. iCAN IS UNDER NO OBLIGATION TO UPDATE ANY CONTENT ON THE SERVICES. iCAN MAY CHANGE THE CONTENT ON THE SERVICES AT ANY TIME WITHOUT NOTICE. iCANMAY MAKE IMPROVEMENTS OR CHANGES TO THE SERVICES AT ANY TIME. YOU AGREE THAT iCAN, ITS PARENT COMPANY, AFFILIATES AND AGENCIES AND ANY OF THEIR RESPECTIVE OFFICERS, DIRECTORS, EMPLOYEES, OR AGENTS WILL NOT BE LIABLE. WHETHER IN CONTRACT, TORT, STRICT LIABILITY OR OTHERWISE, FOR ANY INDIRECT, PUNITIVE, SPECIAL, CONSEQUENTAL, INCIDENTAL OR INDIRECT DAMAGE (INCLUDING WITHOUT LIMITATION LOST PROFITS, COST OF PROCURING SUBSTITUTE SERVICE OR LOST OPPORTUNITY) ARISING OUT OFOR IN CONNECTION WITH THE USE OF THE SERVICES OR A LINKED SERVICES, OR WITH THE DELAY OR INABILITY TO USE THE SERVICES OR A LINKED SERVICES, EVEN IF iCAN IS MADE AWARE OF THE POSSIBILITY OF SUCH DAMAGES. THIS LIMITATION ON LIABILITY INCLUDES, BUT IS NOT LIMITED TO, THE TRANSMISSION OF ANY VIRUSES WHICH MAY INFECT A USER’S EQUIPMENT, FAILURE OF MECHANICAL OR ELECTRONIC EQUIPMENT OR COMMUNICATION LINES, TELEPHONE OR OTHER INTERCONNECT PROBLEMS (e.g., YOU CANNOT ACCESS YOUR INTERNETSERVICE PROVIDER), UNAUTHORIZED ACCESS, THEFT, OPERATOR ERRORS,STRIKES OR OTHER LABOR PROBLEMS OR ANY FORCE MAJEURE. iCAN CANNOTAND DOES NOT GUARANTEE CONTINOUOS, UNINTERUPTED OR SECUREACCESS TO THE SERVICES.</p>
      </li>

      <li class="content-item">
        <h3>LIMITATIONS OF LIABILITY FOR GOODS AND SERVICES ARRANGED THROUGH THE SERVICES.</h3>
        <p>ANY AND ALL CLAIMS REGARDING ANY FAILURE OR BREACH WITHRESPECT TO GOODS AND SERVICES OFFERED THROUGH THE SERVICES ARE LIMITEDTO CLAIMS AGAINST ANY AND ALL SUCH PROVIDERS OF GOODS ANDSERVICE. iCAN, ITS PARENT COMPANY, AFFILIATES AND AGENCIES HEREBY DISCLAIM ANY LIABILITY, WHETHER BASED ON A CONTRACT, TORT, STRICT LIABILITY OR OTHERWISE, INCLUDING WITHOUT LIMITATION LIABILITY FOR ANY DIRECT,PUNITIVE SPECIAL, CONSEQUENTAL, INCIDENTAL OUR INDIRECT DAMAGES, IN CONNECTION WITH THE GOODS OR SERVICES PROVIDED BY ANY CARRIER OR OTHER SUPPLIER THROUGH THE SERVICES, INCLUDING WITHOUT LIMITATION, LIABILITY FOR ANY ACT, ERROR, OMISSION, INJURY, LOSS, ACCIDENT, DELAY OR IRREGULARITY WHICH MAY BE INCURRED THROUGH THE FAULT, NEGLIGENT OR OTHERWISE, OF SUCH CARRIER OR SUPPLIER ANDYOU HEREBY EXONERATE iCAN, ITS PARENT COMPANY, AFFLIATES ANDAGENCIESFROM ANY LIABILITY WITH RESPECT TO THE SAME.</p>
      </li>

      <li class="content-item">
        <p>You agree to indemnify and hold iCAN, its agencies and their parents, subsidiaries, affiliates, officers and employees, harmless from any claim or demand, including reasonable attorneys’ fees, made by any third party due to arising out of your use of the Services, the violation of these Terms and Condition by you, or the infringement by you, or other user of the Services, or application using your computer, or other device enabled to access the world wide web, of any intellectual property or other right of any person or entity.</p>
      </li>

      <li class="content-item">
        <h3>We shall not be liable to you or any third party for termination of the Services.</h3>
        <p>Should you object to any Terms and Condition of the Services or any subsequent modifications thereto or become dissatisfied with the Services in any way, your only recourse is to immediately discontinue use of the Services, or application.</p>
      </li>

      <li class="content-item">
        <h3>PARTICIPATION IN PROMOTIONS OF ADVERTISERS.</h3>
        <p>You may enter into correspondence with or participation in promotions of advertisers, if any, showing their products or links on the Services. Any such correspondence or promotions, including the delivery of and the payment for goods and services, and any other Terms, conditions, warranties or representations associated with such correspondence or promotions, are solely between the corresponding User and the advertiser. iCAN assumes no liability, obligation or responsibility for any part of any such correspondence or promotion.</p>
      </li>

      <li class="content-item">
        <h3>USE OF “COOKIE” FILE FEATURES.</h3>
        <p>iCAN reserves the right to store information on a User’s computer, in or other device the form of a “cookie” or similar file for purposes of modifying the Services to reflect User’s preferences. The iCAN Privacy Statement provides additional information regarding iCAN’ use of cookies as well as procedures for disabling cookies. View the iCAN Privacy Statement, “about cookies”.</p>
      </li>

      <li class="content-item">
        <h3>The Terms and Conditions shall be governed by and construed in accordance with the laws of the state of Georgia, excluding its conflict of law provisions.</h3>
        <p>You and iCAN agree to submit to the exclusive jurisdiction of the courts of the state of Georgia. If any provision(s) of the Terms and Conditions is held by a court of competent jurisdiction to be contrary to law, then such provision(s) shall be construed, as nearly as possible, to reflect the intentions of the parties with the other provisions remaining in full force and effect. Our failure to exercise or enforce any right or provision of the Terms and Conditions shall not constitute a waiver of such right or provision unless acknowledged and agreed to by us in writing. You acknowledge and agree that you will not seek to litigate any claims against iCAN, its parent company or affiliates on a class action or representative party basis and that you shall pursue such claims solely on an individual basis. You and iCAN agree that any cause of action arising out of or related to the Services must commence within one (1) year after the cause of action arose; otherwise, such cause of action is permanently barred. The section titles in the Terms and Conditions are solely use for the convenience of the parties and have no legal or contractual significance.</p>
      </li>

    </ol>

    <div class="content-item">
      <p>Source: <span class="link" (click)="openSource()">https://ican4consumers.com/terms-and-conditions.php</span></p>
    </div>

    <div class="back-to-top">
      <p (click)="termsAndConditionContent.scrollToTop(400)" >Back to top <ion-icon name="arrow-up-outline"></ion-icon></p>
    </div>

  </div>

</ion-content>
