<div *ngIf="api_type" class="main-txn-picker">

  <div class="header">

    <ion-icon name="information-circle"></ion-icon>
    <h3>There are multiple orders found based on the details you provided. Please select the desired order.

    </h3>

  </div>

  <div *ngFor="let txn of txns" class="txn-card" (click)="pickTxn(txn.transactionid)">

    <div class="header">
      <p>{{txn.firstname}} {{txn.lastname}}</p>
      <p>{{txn.transactionid}}</p>
    </div>

    <div class="content-item">
      <p>Card number:</p>
      <p>{{txn.first6.substring(0,4)}} {{txn.first6.substring(4)}}xx xxxx {{txn.last4}}</p>
    </div>

    <div class="content-item">
      <p>Amount:</p>
      <p>$ {{txn.amount}}</p>
    </div>

    <div class="content-item">
      <p>Date settled:</p>
      <p>{{parseDate(txn.time)}}</p>
    </div>

  </div>

</div>


<div *ngIf="!api_type" class="main-txn-picker">

  <div class="header">

    <ion-icon name="information-circle"></ion-icon>
    <h3>There are multiple orders found based on the details you provided. Please select the desired order.

    </h3>

  </div>

  <div *ngFor="let txn of txns" class="txn-card" (click)="pickTxn(txn.transactionid)">

    <div class="header">
      <p>{{txn.first_name}} {{txn.last_name}}</p>
      <p>{{txn.transaction_id}}</p>
    </div>

    <div class="content-item">
      <p>Card number:</p>
      <p>{{txn.first6.substring(0,4)}} {{txn.first6.substring(4)}}xx xxxx xxxx</p>
    </div>

    <div class="content-item">
      <p>Amount:</p>
      <p>$ {{txn.action.amount}}</p>
    </div>

    <div class="content-item">
      <p>Date settled:</p>
      <p>{{parseDate(txn.action.date)}}</p>
    </div>

  </div>

</div>
