@import '../../../theme/colors';

.main-txn-picker{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    >.header{
        display: flex;
        padding: 20px;
        margin: 10px 0;
        background-color: $highlight;
        border-radius: 12px;

        h3{
            font-size: 18px;
            font-weight: 600;
            color: $white;
            flex: 90%;
        }
        ion-icon{
            font-size: 25px;
            color: $white;
            flex: 10%;
        }
    }

    .txn-card{
        padding: 20px;
        background-color: white;
        width: 100%;
        border-radius: 12px;
        box-shadow: 0 3px 12px rgba($color: #000000, $alpha: .1);
        transition: .4s;
        margin: 10px 0;

        .header{
            display: flex;
            justify-content: space-between;
            font-size: 20px;
            font-weight: 700;
            p{
                color: $orange;
            }
        }

        .content-item{

            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 16px;
            font-weight: 500;
            p{
                color: #a1a1a1;

                &:last-child{
                    color: $primary;
                    font-weight: 700;
                }
            }

        }

        &:active{
            transform: scale(.95);
        }
    }
}