@import '../../../theme/colors';

ion-content{
    --background: transparent;
}

.main-container{
    background: linear-gradient(to bottom right, white, white, #ecfaff, #fcf0ff);
    margin-top: 100px;
    border-radius: 12px 12px 0 0;
    padding: 20px;
    min-height: calc(100vh - 100px);

    >*{
        width: 100%;
    }

    .header{
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1{
            font-weight: 700;
        }

        ion-button{
            --background: transparent;
            --background-activated: #cccccc;
            --border-radius: 50px;
        }
    }

    .content{
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        flex: 100%;
        
        ion-item{
            width: 100%;
            margin: 10px 0;
            border-radius: 12px;
            border: 2px solid rgba($color: #000000, $alpha: .2)
        }

        ion-label{
            font-style: italic;
            color: #8d8d8d;
        }

        .message{
            height: 40%;
        }
    }

    ion-button.send{
        --background: #0f345c;
        --background-activated: #0b2e53;
        color: white;

        ion-icon{
            color: white;
            margin-left: 10px;
        }
    }
}