<ion-content>
  <div class="main-container">
    
    <div class="header">
      <h1>Compose</h1>
      <ion-button (click)="cancel()">Cancel</ion-button>
    </div>

    <div class="content">

      <ion-item lines="none">
        <ion-input [(ngModel)]="emailDetails.first_name" placeholder="Firstname"></ion-input>
        <ion-input  [(ngModel)]="emailDetails.last_name" placeholder="Lastname"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-input  [(ngModel)]="emailDetails.email" type="email" placeholder="Email address"></ion-input>
      </ion-item>

      <ion-label>Optional</ion-label>
      <ion-item lines="none">
        <ion-input  [(ngModel)]="emailDetails.phone" type="tel" placeholder="Phone number: (999) 999-9999"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-textarea  [(ngModel)]="emailDetails.message" rows="5" autoGrow="true"></ion-textarea>
      </ion-item>

    </div>

    <ion-button class="send" (click)="sendEmail()" [disabled]="!emailDetails.first_name || !emailDetails.last_name || !emailDetails.email || !emailDetails.message">Send <ion-icon name="send"></ion-icon></ion-button>

  </div>
</ion-content>