@import '../../../../theme/colors';

.main-container{
    padding-top: 65px;
    background: linear-gradient(to bottom right, #fafafa, #edfcff, #ffeaf4);

    .media{
        width: 100%;
        position: relative;
        video{
            width: 100%;
            position: relative;
            z-index: 1;
        }

        .volume{
            position: absolute;
            z-index: 2;
            height: 40px;
            width: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba($color: #000000, $alpha: .5);
            border-radius: 8px;
            right: 5px;
            top: 5px;
            ion-icon{
                font-size: 25px;
                color: white;
            }
        }
    }

    .content-text{
        width: 100%;
        padding: 20px;
        
        .header{
            text-align: center;
            padding: 10px 0;
            margin: 10px 0;
            border-top: 1px solid rgba($color: #000000, $alpha: .2);
            border-bottom: 1px solid rgba($color: #000000, $alpha: .2);
            
            h1{
                font-weight: 700;
                color: $green;

                span{
                    color: $marine;
                }
            }
        }

        .paragraph{
            
            text-align: center;
        }
    }

    .slides{
        padding: 20px;
        background-color: white;

        ion-slides{
            height: 400px;
            width: 100vw;
            
            ion-slide{
                width: 100vw;

                .slide-item{
                    padding: 20px;

                    img{
                        margin: 20px 0;
                    }
                }
            }
        }
    }

    .redirects{
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

        h3{
            color: $green;
            font-weight: 600;
            padding: 20px;
            border-top: 1px solid rgba($color: #000000, $alpha: .2);
            border-bottom: 1px solid rgba($color: #000000, $alpha: .2);
            text-align: center;
            margin-bottom: 20px;
        }

        ion-card{
            width: 100%;
            margin: 10px;

            ion-card-content{

                .content{
                    display: flex;
                    // align-items: center;
                    justify-content: space-between;

                    img{
                        width: 80px;
                        height: 80px;
                        object-fit: cover;
                    }

                    .text{
                        display: flex;
                        flex-direction: column;
                        padding: 0 0 0 20px;

                        h4{
                            font-weight: 600;
                            font-size: 22px;
                            color: $primary;
                            margin-bottom: 10px;
                        }

                        .button{
                            display: flex;
                            justify-content: flex-end;
                            margin-top: 10px;

                            ion-button{
                                --background: #fafafa;
                                --background-activated: #e4e4e4;
                                --border-color: #cccccc;
                                --border-style: solid;
                                --border-width: 1px;
                            }
                        }
                    }
                }
            }
        }
    }
}