<ion-content>
  <app-custom-header></app-custom-header>

  <div class="main-container">

    <div class="media">
      <video #ic4cVid src="assets/vid/ic4cvid.mp4"></video>
      <div *ngIf="vidMuted" class="volume" (click)="unmuteVid()">
        <ion-icon name="volume-mute-outline"></ion-icon>
      </div>
      <div *ngIf="!vidMuted" class="volume" (click)="muteVid()">
        <ion-icon name="volume-medium-outline"></ion-icon>
      </div>
    </div>

    <div class="content-text">

      <div class="header">
        <h1>It's easy, and <span>i</span>t <span>C</span>ost <span>A</span>bsolutely <span>N</span>othing</h1>
      </div>

      <div class="paragraph">
        <p>
          A better e-commerce experience for consumers. <br> <br>
          iCAN has one goal: to give on-line consumers a way to get a refund for any on-line purchase, quickly, easily, and privately, with no costs, no fees, and no hassles. <br> <br>          
          Your refund request for any purchase made at any of our member merchants will be handled within a matter of days. <br><br>          
          We’ve made it easy to get a no-questions-asked refund for online purchases—securely and transparently, with complete customer satisfaction.</p>
      </div>

    </div>

    <div class="slides">

      <ion-slides #refundSlides pager="true" [options]="sliderOptions">

        <ion-slide>
          <div class="slide-item">
            <h3>Get a refund on any online or phone purchase.</h3>
            <img src="assets/img/iCan-Process-icons-25.png" alt="">
            <p>You give us the details, we'll handle the rest.</p>
          </div>
        </ion-slide>
        
        <ion-slide>
          <div class="slide-item">
            <h3>We'll email you to confirm your request.</h3>
            <img src="assets/img/iCan-Process-icons-26.png" alt="">
            <p>Your request, including your identity, are safe and secured.</p>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="slide-item">
            <h3>Receive your refund in 5-7 days.</h3>
            <img src="assets/img/iCan-Process-icons-27.png" alt="">
            <p>Questions? You can contact us at any time.</p>
          </div>
        </ion-slide>

      </ion-slides>

    </div>

    <div class="redirects">

      <h3>No hassle, no long forms. Just your money back.</h3>

      <ion-card button>
        <ion-card-content>
          <div class="content">

            <img src="assets/img/iCan-Web-Icons-34.png" alt="">

            <div class="text">
              <h4>Need a refund?</h4>
              <p>Refunds for online and phone purchases.</p>

              <div class="button">
                <ion-button (click)="refund()"><ion-icon name="arrow-forward-outline" size="small"></ion-icon></ion-button>
              </div>
            </div>

          </div>
        </ion-card-content>
      </ion-card>

      <ion-card button>
        <ion-card-content>
          <div class="content">

            <img src="assets/img/iCan-Web-Icons-33.png" alt="">

            <div class="text">
              <h4>Got qestions?</h4>
              <p>iCan has the answers to your rrefund question.</p>

              <div class="button">
                <ion-button (click)="support()"><ion-icon name="arrow-forward-outline" size="small"></ion-icon></ion-button>
              </div>
            </div>


          </div>
        </ion-card-content>
      </ion-card>

      <ion-card button>
        <ion-card-content>
          <div class="content">

            <img src="assets/img/iCan-Web-Icons-35.png" alt="">

            <div class="text">
              <h4>Feedback</h4>
              <p>Get in thouch with us tody to lean more.</p>

              <div class="button">
                <ion-button  (click)="email()"><ion-icon name="arrow-forward-outline" size="small"></ion-icon></ion-button>
              </div>
            </div>

          </div>
        </ion-card-content>
      </ion-card>

    </div>

  </div>

</ion-content>
