<svg class="{{ entrance == 'true' ? 'entrance' : '' }}" xmlns="http://www.w3.org/2000/svg" width="232.03" height="184.378" viewBox="0 0 232.03 184.378">
  <g id="undraw_Mobile_pay_re_sjb8" transform="translate(-0.787 0)">
    <g id="Phone">
      <path id="Path_46" data-name="Path 46" d="M359.843,154.891h-.969V128.357A15.357,15.357,0,0,0,343.517,113H287.3a15.357,15.357,0,0,0-15.357,15.357V273.926A15.357,15.357,0,0,0,287.3,289.283h56.216a15.357,15.357,0,0,0,15.357-15.357V173.779h.969Z" transform="translate(-245.969 -113)" fill="#3f3d56"/>
      <path id="Path_47" data-name="Path 47" d="M354.967,128.933h-7.338a5.449,5.449,0,0,1-5.045,7.507H310.378a5.449,5.449,0,0,1-5.045-7.507H298.48A11.469,11.469,0,0,0,287.011,140.4V285.757a11.469,11.469,0,0,0,11.469,11.469h56.487a11.469,11.469,0,0,0,11.469-11.469V140.4a11.469,11.469,0,0,0-11.469-11.469Zm-1.233,67.431a2.979,2.979,0,0,1-2.971,2.971H336.405a2.979,2.979,0,0,1-2.971-2.971v-.743a2.979,2.979,0,0,1,2.971-2.971h14.358a2.979,2.979,0,0,1,2.971,2.971Zm1.609-13.12a2.979,2.979,0,0,1-2.971,2.971H300.882a2.979,2.979,0,0,1-2.971-2.971V182.5a2.979,2.979,0,0,1,2.971-2.971h51.491a2.979,2.979,0,0,1,2.97,2.971Zm0-13.12a2.979,2.979,0,0,1-2.971,2.971H300.882a2.979,2.979,0,0,1-2.971-2.971v-.743a2.979,2.979,0,0,1,2.971-2.971h51.491a2.979,2.979,0,0,1,2.97,2.971Zm0-13.12a2.979,2.979,0,0,1-2.971,2.971H300.882A2.979,2.979,0,0,1,297.911,157v-.743a2.979,2.979,0,0,1,2.971-2.971h51.491a2.979,2.979,0,0,1,2.97,2.971Z" transform="translate(-256.915 -124.574)" fill="#fff"/>
      <circle id="Ellipse_15" data-name="Ellipse 15" cx="1.733" cy="1.733" r="1.733" transform="translate(43.348 56.689)" fill="#fff"/>
      <circle id="Ellipse_16" data-name="Ellipse 16" cx="1.733" cy="1.733" r="1.733" transform="translate(49.042 56.689)" fill="#fff"/>
      <circle id="Ellipse_17" data-name="Ellipse 17" cx="1.733" cy="1.733" r="1.733" transform="translate(54.736 56.689)" fill="#fff"/>
      <circle id="Ellipse_18" data-name="Ellipse 18" cx="1.733" cy="1.733" r="1.733" transform="translate(60.429 56.689)" fill="#fff"/>
      <circle id="Ellipse_19" data-name="Ellipse 19" cx="1.733" cy="1.733" r="1.733" transform="translate(78.996 69.81)" fill="#fff"/>
      <circle id="Ellipse_20" data-name="Ellipse 20" cx="1.733" cy="1.733" r="1.733" transform="translate(84.689 69.81)" fill="#fff"/>
      <circle id="Ellipse_21" data-name="Ellipse 21" cx="1.733" cy="1.733" r="1.733" transform="translate(90.383 69.81)" fill="#fff"/>
    </g>
    <g id="Card">
      <path id="Path_48" data-name="Path 48" d="M368.5,456.6H309.777a5.2,5.2,0,0,0-5.2,5.2v28.611a5.2,5.2,0,0,0,5.2,5.2H368.5a5.2,5.2,0,0,0,5.2-5.2V461.8a5.2,5.2,0,0,0-5.2-5.2Zm-60.177,3.548a7.179,7.179,0,0,1,8.33,5.012l.092.286-.3.052a7.87,7.87,0,0,1-1.274.094,7.59,7.59,0,0,1-3.869-.975,8.215,8.215,0,0,1-3.187-4.13l-.092-.286Zm12.747,26.564H310.6a2.88,2.88,0,0,1,0-5.761h10.474a2.88,2.88,0,0,1,0,5.761Zm47.656-.524a3.152,3.152,0,0,1-3.143,3.142H357.73a3.151,3.151,0,0,1-3.142-3.142v-4.713a3.151,3.151,0,0,1,3.142-3.142h7.855a3.151,3.151,0,0,1,3.142,3.142Z" transform="translate(-269.674 -362.606)" fill="#53a0fe"/>
      <path id="Path_49" data-name="Path 49" d="M497.5,561.213H494.34a.85.85,0,1,0,0,1.7H497.5a.85.85,0,1,0,0-1.7Z" transform="translate(-406.909 -438.601)" fill="#3f3d56"/>
      <path id="Path_50" data-name="Path 50" d="M518.813,561.213h-3.159a.85.85,0,1,0,0,1.7h3.159a.85.85,0,0,0,0-1.7Z" transform="translate(-422.393 -438.601)" fill="#3f3d56"/>
      <path id="Path_51" data-name="Path 51" d="M497.5,552.438h-3.159a.85.85,0,0,0,0,1.7H497.5a.85.85,0,0,0,0-1.7Z" transform="translate(-406.908 -432.227)" fill="#3f3d56"/>
      <path id="Path_52" data-name="Path 52" d="M518.811,552.438h-3.158a.85.85,0,1,0,0,1.7h3.158a.85.85,0,1,0,0-1.7Z" transform="translate(-422.392 -432.227)" fill="#3f3d56"/>
      <path id="Path_53" data-name="Path 53" d="M497.5,543.841h-3.159a.85.85,0,0,0,0,1.7H497.5a.85.85,0,0,0,0-1.7Z" transform="translate(-406.908 -425.981)" fill="#3f3d56"/>
      <path id="Path_54" data-name="Path 54" d="M518.811,543.841h-3.158a.85.85,0,1,0,0,1.7h3.158a.85.85,0,1,0,0-1.7Z" transform="translate(-422.392 -425.981)" fill="#3f3d56"/>
    </g>
    <g id="r25">
      <rect id="Rectangle_25" data-name="Rectangle 25" width="13" height="6" transform="translate(129.787 104.584)" fill="#e6e6e6"/>
    </g>
    <g id="p55">
      <path id="Path_55" data-name="Path 55" d="M625.939,513h12.584v12.584H625.939Zm12.037.547h-11.49v11.489h11.49Z" transform="translate(-503.126 -403.577)" fill="#3f3d56"/>
    </g>
    <g id="r26">
      <rect id="Rectangle_26" data-name="Rectangle 26" width="6" height="9" transform="translate(0.787 38.584)" fill="#e6e6e6"/>
    </g>
    <g id="p56">
      <path id="Path_56" data-name="Path 56" d="M199.523,242.584H186.939V230h12.584Zm-12.036-.547h11.489V230.547H187.486Z" transform="translate(-184.218 -197.994)" fill="#3f3d56"/>
    </g>
    <g id="Man">
      <path id="Path_57" data-name="Path 57" d="M639.934,627.065H636.58l-1.6-12.936h4.95Z" transform="translate(-462.662 -446.129)" fill="#ffb8b8"/>
      <path id="Path_58" data-name="Path 58" d="M621.245,657.914h6.468v4.072h-10.54A4.072,4.072,0,0,1,621.245,657.914Z" transform="translate(-449.723 -477.937)" fill="#2f2e41"/>
      <path id="Path_59" data-name="Path 59" d="M700.934,627.065h-3.354l-1.6-12.936h4.95Z" transform="translate(-506.976 -446.129)" fill="#ffb8b8"/>
      <path id="Path_60" data-name="Path 60" d="M682.245,657.914h6.468v4.072h-10.54A4.072,4.072,0,0,1,682.245,657.914Z" transform="translate(-494.036 -477.937)" fill="#2f2e41"/>
      <g id="hand">
          <path id="Path_61" data-name="Path 61" d="M762.168,510.349a2.939,2.939,0,0,1,1.234-4.334l11.4-31.423,5.61,3.061L767.4,507.683a2.955,2.955,0,0,1-5.228,2.666Z" transform="translate(-601.72 -375.676)" fill="#ffb8b8"/>
          <path id="Path_64" data-name="Path 64" d="M795.555,485.442l-9.119-1.85,4.274-10.13a3.829,3.829,0,1,1,7.415,1.914Z" transform="translate(-619.717 -372.768)" 
          fill="#ccc"/>
      </g>
      <path id="Path_62" data-name="Path 62" d="M868.273,526.837a2.939,2.939,0,0,1-.791-4.436l-3.532-33.24,6.385.292,1.468,32.7a2.955,2.955,0,0,1-3.529,4.689Z" transform="translate(-676.028 -386.259)" fill="#ffb8b8"/>
      <circle id="Ellipse_22" data-name="Ellipse 22" cx="6.719" cy="6.719" r="6.719" transform="translate(175.342 79.659)" fill="#ffb8b8"/>
      <path id="Path_63" data-name="Path 63" d="M825.806,499.821H805.55l.025-.158c.036-.236,3.61-23.646.974-31.3a3.232,3.232,0,0,1,1.661-3.989h0c3.767-1.774,11-3.959,17.1,1.343a7.724,7.724,0,0,1,2.588,6.4Z" transform="translate(-633.603 -366.803)" fill="#ccc"/>
      <path id="Path_65" data-name="Path 65" d="M860.813,490.76l-.548-12.568a3.863,3.863,0,1,1,7.546-1.306l2.061,11.743Z" transform="translate(-673.296 -374.651)" fill="#ccc"/>
      <path id="Path_66" data-name="Path 66" d="M822.234,593.752c3.259,12.413,3.615,28.2,2.736,45.411l-4.377-.547-7.933-32.827-4.377,33.374-4.924-.274c-1.471-18.063-2.9-33.57-.547-43.769Z" transform="translate(-630.705 -462.239)" fill="#2f2e41"/>
      <path id="Path_67" data-name="Path 67" d="M825.528,407.884a2.17,2.17,0,0,1-3.744-1.206,2.194,2.194,0,0,1,0-.426,9.874,9.874,0,0,0,.439-2.395,1.251,1.251,0,0,0-.23-.588c-1-1.338-3.344.6-4.286-.613-.578-.743.1-1.911-.342-2.741-.585-1.1-2.319-.555-3.407-1.155-1.21-.667-1.137-2.524-.341-3.653a5.745,5.745,0,0,1,4.356-2.218,11.684,11.684,0,0,1,4.922.961,9.836,9.836,0,0,1,4.651,3.225,7.873,7.873,0,0,1,.8,6.7A12.637,12.637,0,0,1,825.528,407.884Z" transform="translate(-639.041 -316.314)" fill="#2f2e41"/>
    </g>
    <path id="Path_68" data-name="Path 68" d="M749.559,785.547H645.333a.274.274,0,0,1,0-.547H749.559a.274.274,0,1,1,0,.547Z" transform="translate(-517.017 -601.169)" fill="#3f3d56"/>
  </g>
</svg>
