svg{
    width: 100%;
    height: 100%;
}

#hand{
    animation: swinghand 2s infinite alternate ease-in-out;
    transform-origin: center center;

    @keyframes swinghand{
        0%{
            transform: rotate(20deg) translate(0px, -20px);
        }
        100%{
            transform: rotate(0deg) translate(0px, 0px);
        }
    }
}

#r25{
    animation: r25box 5s infinite ease-in-out;

    @keyframes r25box{
        0%{
            transform: translate(0px, 0px);
        }
        20%{
            transform: translate(0px, 0px);
        }
        25%{
            transform: translate(-10px, 0px);
        }
        45%{
            transform: translate(-10px, 0px);
        }
        50%{
            transform: translate(-10px, 15px);
        }
        70%{
            transform: translate(-10px, 15px);
        }
        75%{
            transform: translate(0px, 15px);
        }
        95%{
            transform: translate(0px, 15px);
        }
        100%{
            transform: translate(0px, 0px);
        }
    }
}

#r26{
    animation: r26box 5s 1s infinite ease-in-out;

    @keyframes r26box{
        0%{
            transform: translate(0px, 0px);
        }
        20%{
            transform: translate(0px, 0px);
        }
        25%{
            transform: translate(10px, 0px);
        }
        45%{
            transform: translate(10px, 0px);
        }
        50%{
            transform: translate(10px, -10px);
        }
        70%{
            transform: translate(10px, -10px);
        }
        75%{
            transform: translate(0px, -10px);
        }
        95%{
            transform: translate(0px, -10px);
        }
        100%{
            transform: translate(0px, 0px);
        }
    }
}

#p55{
    animation: p55rotate 2s infinite alternate ease-in-out;
    transform-origin: 55% 63%;

    @keyframes p55rotate{
        0%{
            transform: rotate(0deg);
        }
        40%{
            transform: rotate(0deg);
        }
        60%{
            transform: rotate(360deg);
        }
        100%{
            transform: rotate(360deg);
        }
    }
}

#p56{
    animation: p56rotate 2s 1s infinite alternate ease-in-out;
    transform-origin: 4% 21%;

    @keyframes p56rotate{
        0%{
            transform: rotate(0deg);
        }
        40%{
            transform: rotate(0deg);
        }
        60%{
            transform: rotate(360deg);
        }
        100%{
            transform: rotate(360deg);
        }
    }
}

.entrance{

    #Phone{
        animation: phoneEnter 1s ease-in-out forwards;

        @keyframes phoneEnter{
            0%{
                transform: rotate(-20deg) translate(20%, -100%);
            }
            100%{
                transform: rotate(0deg) translate(0%, 0%);
            }
        }
    }

    #Card{
        transform: translateY(300px) rotate(90deg);
        animation: cardUp forwards 1s .1s ease-in-out;
        
        @keyframes cardUp{
            0%{
                transform: translateY(300px) rotate(90deg);
            }
            100%{
                transform: translateY(0px);
            }
        }
    }

    #Man{
        transform: translateX(300px);
        animation: slideMan 1s forwards ease-in-out;

        @keyframes slideMan{
            0%{
                transform: translateX(300px);
            }
            100%{
                transform: translateX(0px);
            }
        }
    }
}

@media (prefers-color-scheme: dark) {

    svg{
        filter: drop-shadow(0 0 1px white) drop-shadow(0 0 1px white);
    }

}