<ion-content>


  <img class="abstract" src="assets/img/abstract.jpg" alt="">

  <div class="main-container">

    <div class="header">
      <ion-button (click)="back()"><ion-icon name="arrow-back-outline"></ion-icon> Back</ion-button>
    </div>

    <div class="content">

      <div class="title">
        <h1>Merchant not a <br> member of iCAN?</h1>
        <br>
        <p>
          Want us to contact the merchant about getting you the refund you deserve? Join the iCAN4Consumers community and register by entering the following information and we'll work to contact the merchant and try our best to get your refund!
          <br>
          <br>
          Registration and the use of iCAN4Consumers <span>costs you absolutely nothing.</span> PLUS you’ll have access to all the benefits available to members of the iCAN community, including our periodic newsletter, which provides information you may find valuable when making online purchases as well a variety of news and articles related to best practices, tips and advice for consumers!
        </p>
      </div>

      <div class="steps">

        <div class="step">

          <div class="step-header">
            <h3>Merchant's Contact Information</h3>
          </div>

          <div class="step-content">

            <div class="step-input">
              <p>Merchant Information from your Credit Card Statement *</p>
              <ion-item lines="none">
                <ion-icon *ngIf="!nmm.merch_info" name="alert-circle-outline" slot="start"></ion-icon>
                <ion-input [(ngModel)]="nmm.merch_info" placeholder="Merchant Information"></ion-input>
              </ion-item>
              <i>Enter website, billing name, or phone # exactly as it appears from your statement for the charge in question.</i>
            </div>

            <div class="step-input">
              <p>Name of the Merchant Business and/or Merchants Website *</p>
              <ion-item lines="none">
                <ion-icon *ngIf="!nmm.merch_business && !nmm.merch_website" name="alert-circle-outline" slot="start"></ion-icon>
                <ion-input [(ngModel)]="nmm.merch_business" placeholder="Business Name"
                ></ion-input>
              </ion-item>
              <ion-item lines="none">
                <ion-icon *ngIf="!nmm.merch_business && !nmm.merch_website" name="alert-circle-outline" slot="start"></ion-icon>
                <ion-input [(ngModel)]="nmm.merch_website" placeholder="Website URL" inputmode="url"></ion-input>
              </ion-item>
              <i>Enter the URL of the website accessed when purchasing the product or service.</i>
            </div>
            
            <div class="step-input">
              <p>Merchant Contact Email Address and/or Merchants Contact Phone Number *</p>
              <ion-item lines="none">
                <ion-icon *ngIf="!nmm.merch_email && !nmm.merch_phone" name="alert-circle-outline" slot="start"></ion-icon>
                <ion-input [(ngModel)]="nmm.merch_email" placeholder="Email Address" inputmode="email"></ion-input>
              </ion-item>
              <ion-item lines="none">
                <ion-icon *ngIf="!nmm.merch_email && !nmm.merch_phone" name="alert-circle-outline" slot="start"></ion-icon>
                <ion-input [(ngModel)]="nmm.merch_phone" placeholder="Phone Number" inputmode="tel"></ion-input>
              </ion-item>
            </div>
            
          </div>

        </div>

        <div class="step">

          <div class="step-header">
            <h3>Your Contact & Purchase Information</h3>
          </div>

          <div class="step-content">

            <div class="step-input">
              <p>Your Name *</p>
              <ion-item lines="none">
                <ion-icon *ngIf="!nmm.firstname" name="alert-circle-outline" slot="start"></ion-icon>
                <ion-input [(ngModel)]="nmm.firstname" placeholder="First Name"></ion-input>
              </ion-item>
              <ion-item lines="none">
                <ion-icon *ngIf="!nmm.lastname" name="alert-circle-outline" slot="start"></ion-icon>
                <ion-input [(ngModel)]="nmm.lastname" placeholder="Last Name"></ion-input>
              </ion-item>
            </div>

            <div class="step-input">
              <p>Your Email Address and/or Your Phone Number *</p>
              <ion-item lines="none">
                <ion-icon *ngIf="!nmm.contact_email && !nmm.contact_phone" name="alert-circle-outline" slot="start"></ion-icon>
                <ion-input [(ngModel)]="nmm.contact_email" placeholder="Email Address" inputmode="email"></ion-input>
              </ion-item>
              <i>Enter the email address we should use when providing updates about you request.</i>
              <ion-item lines="none">
                <ion-icon *ngIf="!nmm.contact_phone && !nmm.contact_email" name="alert-circle-outline" slot="start"></ion-icon>
                <ion-input [(ngModel)]="nmm.contact_phone" placeholder="Phone Number" inputmode="tel"></ion-input>
              </ion-item>
              <i>Enter your phone number if you'd like us to contact you by phone regarding your request.</i>
            </div>
            
            <div class="step-input">
              <p>Credit Card Number *</p>
              <ion-item lines="none">
                <ion-icon *ngIf="!nmm.first6 || nmm.first6.length != 6" name="alert-circle-outline" slot="start"></ion-icon>
                <ion-input [(ngModel)]="nmm.first6" placeholder="First 6 Digits" inputmode="numeric" maxlength="6"></ion-input>
              </ion-item>
              <ion-item lines="none">
                <ion-icon *ngIf="!nmm.last4 || nmm.last4.length != 4" name="alert-circle-outline" slot="start"></ion-icon>
                <ion-input [(ngModel)]="nmm.last4" placeholder="Last 4 Digits" inputmode="numeric" maxlength="4"></ion-input>
              </ion-item>
            </div>

            <div class="step-input">
              <p>Date of Purchase *</p>
              <ion-item lines="none">
                <ion-icon *ngIf="!nmm.time" name="alert-circle-outline" slot="start"></ion-icon>
                <ion-datetime [(ngModel)]="nmm.time" placeholder="MM DD, YY"></ion-datetime>
              </ion-item>
            </div>

            <div class="step-input money">
              <p>Amount of Purchase *</p>
              <ion-item lines="none">
                <ion-icon *ngIf="!nmm.amount" name="alert-circle-outline" slot="start"></ion-icon>
                <p slot="start">$</p>
                <ion-input [(ngModel)]="nmm.amount" inputmode="decimal" type="number" placeholder="0.00"></ion-input>
              </ion-item>
              <i>Enter the amount you were charged for the product or service.</i>
            </div>

            <div class="step-input">
              <p>Email Address used for Purchase of Products/Services *</p>
              <ion-item lines="none">
                <ion-icon *ngIf="!nmm.purchaser_email" name="alert-circle-outline" slot="start"></ion-icon>
                <ion-input [(ngModel)]="nmm.purchaser_email" placeholder="Email Address" inputmode="email"></ion-input>
              </ion-item>
            </div>

            <div class="step-input">
              <p>Reason for Refund*</p>
              <ion-item lines="none">
                <ion-icon *ngIf="!nmm.refund_reason" name="alert-circle-outline" slot="start"></ion-icon>
                <ion-select [(ngModel)]="nmm.refund_reason" placeholder="Select reason for refund" interface="action-sheet">
                  <ion-select-option value="I did not authorize this charge.">I did not authorize this charge.</ion-select-option>
                  <ion-select-option value="I did not received the good or service purchased.">I did not received the good or service purchased.</ion-select-option>
                  <ion-select-option value="I'm not satisfied with the goods/service provided.">I'm not satisfied with the goods/service provided.</ion-select-option>
                  <ion-select-option value="I no longer want to continue receiving the goods/service (Please cancel my membership).">I no longer want to continue receiving the goods/service (Please cancel my membership).</ion-select-option>
                </ion-select>
              </ion-item>
            </div>

            <div class="step-input">
              <p>Product or Service you purchased *</p>
              <ion-item lines="none">
                <ion-icon *ngIf="!nmm.product" name="alert-circle-outline" slot="start"></ion-icon>
                <ion-textarea [(ngModel)]="nmm.product" autoGrow="true" rows="1" placeholder="Product or Service"></ion-textarea>
              </ion-item>
              <i>Tell us all about what you purchased so that we can better communicate with the merchant business.</i>
            </div>

          </div>

        </div>

        <!-- <div class="step loginid">

          <div class="step-content">

            <div class="step-input toggle">
              <ion-item lines="none">
                <ion-toggle slot="start" [(ngModel)]="loginProvide" (ionChange)="provideLogin()"></ion-toggle>
                <p>Provide a Login ID and Password</p>
              </ion-item>
              <i>Provide your Login ID (username/email) and Password if you’d like the ability to Login to iCAN4Consumers at any time to check the status of your refund request</i>
            </div>

            <div class="step-input" *ngIf="loginProvide">
              <ion-item lines="none">
                <ion-input [(ngModel)]="loginID" placeholder="Enter Login ID" type="password"></ion-input>
              </ion-item>
              <ion-item lines="none">
                <ion-input [(ngModel)]="password" placeholder="Enter password" type="password"></ion-input>
              </ion-item>
              <ion-item lines="none">
                <ion-input [(ngModel)]="repassword" placeholder="Re-enter password" type="password"></ion-input>
              </ion-item>
              <br>
              <p>Sign up for updates from iCAN</p>
              <br>
              <ion-item class="checkbox" lines="none">
                <ion-checkbox slot="start"></ion-checkbox>
                <p>Send me the iCAN newsletter with articles and best practice tips for consumers!</p>
              </ion-item>
              <ion-item class="checkbox" lines="none">
                <ion-checkbox slot="start"></ion-checkbox>
                <p>I would like to receive promotional offerings from iCAN Member Merchants.</p>
              </ion-item>
              <ion-item class="checkbox" lines="none">
                <ion-checkbox slot="start"></ion-checkbox>
                <p>Please let me know when new merchants become members of the iCAN Network.</p>
              </ion-item>

            </div>
            
          </div>

        </div> -->

        <div class="step">
          <div class="step-content">
            <ion-button [disabled]="validate()" (click)="submit()">Submit</ion-button>
          </div>
        </div>

      </div>

    </div>

  </div>

</ion-content>
