@import '../../../../theme/colors';

.abstract{
    pointer-events: none;
    opacity: .15;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: stretch;
}

.main-container{

    align-items: stretch;
    *{
        color: $black;
    }

    .header{
        padding: 10px;
        ion-button{
            color: $black;
            --background: transaparent;
            --background-activated: #cccccc;
            --border-radius: 50px;

            ion-icon{
                color: $black;
                margin-right: 10px;
            }
        }
    }

    .content{
        padding: 20px;
        display: flex;
        flex-direction: column;

        .title{
            h1{
                font-weight: 700;
                font-size: 30px;
            }

            span{
                text-decoration: underline;
            }
        }

        .steps{
            width: 100%;
            padding: 20px 0;

            .step{
                margin-bottom: 20px;

                &-header{
                    padding: 10px;
                    border-bottom: 1px solid rgba($color: $black, $alpha: .3);
                 
                    h3{
                        font-weight: 600;
                    }
                }

                &-content{
                    padding: 10px;
                    
                    ion-button{
                        width: 100%;
                        --background: #4279FC;
                        --background-activated: #3369e6;
                        color: $white;
                        margin-top: 20px;
                        --border-width: 1px;
                        --border-style: solid;
                        // --border-color: #9b9b9b;
                    }
                }

                &-input{
                    margin: 20px 0;

                    &:last-child{
                        margin-bottom: 0;
                    }

                    >p{
                        font-weight: 500;   
                        border-bottom: 1px solid rgba($color: $black, $alpha: .3);
                        width: fit-content;
                    }

                    ion-item{
                        margin: 10px 0;
                        border-radius: 12px;
                        border: 1px solid rgba($color: $black, $alpha: .6);
                        --background: #eeeeee;
                        
                        ion-icon{
                            color: #df2727;
                        }
                    }

                    i{
                        color: rgba($color: $black, $alpha: .8);
                        font-weight: 300;
                    }

                    &.money{
                        ion-input{
                            text-align: right;
                        }
                    }

                    &.signup-updates{
                        ion-item{
                            margin: 0;
                            --background: transaparent;
                            border: none;
                            border-radius: 0;
                            border-bottom: 1px solid rgba($color: $black, $alpha: .6);

                            &:nth-child(2){
                                margin-top: 20px;
                            }

                            &:last-child{
                                border-bottom: none;
                            }
                        }
                    }
                }

                &.loginid{

                    .step-content{
                        .step-input{
                            &.toggle{
                                border: 1px solid rgba($color: $black, $alpha: .6);
                                border-radius: 12px;
                                padding: 8px 12px;
                                ion-item{
                                    border: none;
                                    --background: transparent;
                                }
                            }

                            .checkbox{
                                border: 0;
                                --background: transparent;
                            }
                        }
                    }

                }

            }
        }
    }

}