@import '../../../../theme/colors';

.main-container{
    padding: 70px 20px 0;
    background: linear-gradient(to bottom right, white, white, #ecfaff, #fcf0ff);

    >*{
        width: 100%;
    }

    .header{
        padding: 20px 0;
        h1{
            font-weight: 700;
            font-size: 35px;
            color: $primary;
            text-decoration: underline;
        }
    }

    .content{
        padding: 20px;
        border-left: 1px solid rgba($color: #000000, $alpha: .2);

        &-item{
            &:not(:first-child){
                margin-top: 50px;
            }
        }

        h3{
            font-weight: 700;
            padding: 20px 0;
        }

        span{
            color: $highlight;

            &.link{
                text-decoration: underline;
            }
        }
    }

    .back-to-top{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 50px 0;
        p{
            display: flex;
            align-items: center;
            color: #aaaaaa;

            ion-icon{
                margin-left: 10px;
                color: #aaaaaa;
            }
        }
    }
}