<ion-content #aboutUsContent>

  <app-custom-header></app-custom-header>

  <div class="main-container">

    <div class="header">
      <h1>About Us</h1>
    </div>

    <div class="content">
      
      <div class="content-item">
        <h3>What is iCAN?</h3>
        <p>iCAN4Consumers is a consumer driven brand, providing the iCAN Consumer Community with value-based benefits and it Costs Absolutely Nothing to join! <br> <br> Our goal and mission as an organization focused on consumer advocacy is to help and support consumers with a broad array of issues / topics, particularly related to eCommerce credit card purchases … we want to improve the customer’s experience with both retail and eCommerce merchants to help ensure their overall satisfaction.</p>
      </div>
        
      <div class="content-item">
        <h3>When iCAN began</h3>
        <p>When iCAN4Consumers was initially introduced, we began by offering a service for helping consumers acquire refunds for online credit card purchases. For consumers who are dissatisfied with the service or product delivered, we provide them with a means for getting their money back quickly and easily, and at no cost to them!</p>
      </div>

      <div class="content-item">
        <h3>iCAN is expanding to be much more!</h3>
        <p>iCAN4Consumers is also a loyalty / Discount Program Provider meaning that we are continuously searching for new ways to help benefit our consumer community by establishing relationships with groups that can provide iCAN members with exceptional value.</p>
      </div>

      <div class="content-item">
        <h3>iCAN promotes trust between consumers and merchants</h3>
        <p>We want to improve the way consumers and merchants interact when either face-to-face or online, which benefits everyone within the online universe and the ecommerce ecosystem. We work with both online and retail merchant businesses to help them improve the way they serve their customers in order to achieve a higher level of customer satisfaction. <br/><br/>
        If you’d like our assistance in acquiring a refund and would like us to reach out to a merchant business on your behalf, just call us toll free at <span>(855) 660-3214</span> or complete our <span class="link" (click)="refund()">online refund request form</span>, and we’ll be happy to assist, at no cost to you! <br/><br/>
        Remember to always look for the iCAN4Consumers Trust Mark on websites and store front windows as it signifies that the merchant is a trusted member of the iCAN merchant network, and that they care about you, the consumer!</p>
      </div>

    </div>

    <div class="back-to-top">
      <p (click)="aboutUsContent.scrollToTop(400)" >Back to top <ion-icon name="arrow-up-outline"></ion-icon></p>
    </div>

  </div>

</ion-content>
