@import '../../../theme/colors';

.main-container{
    padding: 20px 50px;
    justify-content: space-around;
    text-align: center;
    background: linear-gradient(to bottom right, white, #ecfaff, #fcf0ff);

    *{
        width: 100%;
    }

    .header{
        h1{
            font-weight: 700;
            color: $primary;
        }
    }

    .form{
        ion-item{
            width: 100%;
            border-radius: 12px;
            --background: #eaf2ff;
            border: 1px solid #c3cfe4;
            margin-bottom: 10px;
        }
    }

    .buttons{
        display: flex;
        justify-content: space-between;

        ion-button{
            width: 49%;

            &:first-child{
                --background: #fafafa;
                --background-activated: #d8d8d8;
                --border-width: 1px;
                --border-style: solid;
                --border-color: #cacaca;
            }
            &:last-child{
                --background: #0f345c;
                --background-activated: #082749;
                --border-width: 1px;
                --border-style: solid;
                --border-color: #cacaca;
                color: white;
            }
        }
    }
}