<ion-content>

  <div class="main-container">

    <div class="header">
      <h1>Change Password</h1>
    </div>

    <div class="form">

      <ion-item lines='none'>
        <ion-input [(ngModel)]="oldPassword" placeholder="Old Password" type="password"></ion-input>
      </ion-item>

      <ion-item lines='none'>
        <ion-input [(ngModel)]="initNewPassword" placeholder="New Password" type="password"></ion-input>
      </ion-item>

      <ion-item lines='none'>
        <ion-input [(ngModel)]="newPassword" placeholder="Re-enter New Password" type="password"></ion-input>
      </ion-item>
      
    </div>

    <div class="buttons">
      <ion-button (click)="cancel()">Cancel</ion-button>
      <ion-button [disabled]="!oldPassword || !initNewPassword || !newPassword" (click)="changePassword()">Confirm</ion-button>
    </div>    

  </div>

</ion-content>
