@import '../../../theme/colors';

.main-container{
    height: 100vh;
    background: $primary;
}

.chatroom-custom-header{
    padding: 10px 5px;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #fafafa;
    z-index: 2;

    ion-button{
        --background: #fafafa;
        --background-activated: #cccccc;
        --border-radius: 50%;
        margin: 0;

        ion-icon{
            color: $primary;
        }
    }

    h3{
        position: absolute;
        top: 47%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: fit-content;
        color: $primary;
    }
}

.chat-convo{
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
    border-radius: 0 0 30px 30px;
    box-shadow: 0 6px 16px rgba($color: #000000, $alpha: .3);
    z-index: 1;
    background: #fafafa;
    overflow-y: scroll;

    // ion-content{
    //     --background: #fafafa;

        *{
            position: relative;
            z-index: 1;
        }

        .chat-status{
            width: 100%;
            position: fixed;
            z-index: 3;

            .chat-stat{
                width: 100%;
                padding: 2px;
                display: flex;
                align-items: center;
                justify-content: center;

                p{
                    color: white;
                }
                &.connecting{
                    // display: none;
                    background-color: $orange;
                }
                &.connected{
                    // display: none;
                    background-color: $green;
                }
                &.connect-failed{
                    // display: none;
                    background-color: $red;
                }
            }
        }

        .waiting{
            width: 100%;
            text-align: center;
            padding: 2px;
            background-color: rgba($color: #000000, $alpha: .5);
            position: fixed;
            z-index: 2;
        }

        // globals
        .convo-bubbles{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 50px 0 0;
            min-height: 100%;
            justify-content: flex-end;

            &.pendingMsg{
                padding: 0;
                min-height: unset;

                .typing-bubble{
                    width: 100%;

                    .dots{
                        width: fit-content;
                        display: flex;
                        margin: 20px;
                        padding: 10px 15px;
                        border-radius: 20px;
                        background-color: rgba($color: #000000, $alpha: .1);
                    }
                    
                    span{
                        margin: 2px;
                        width: 10px;
                        height: 10px;
                        background-color: rgba($color: #000000, $alpha: .2);
                        border-radius: 50%;

                        &:first-child{
                            animation: 1s pump infinite ease-out;
                        }

                        &:nth-child(2){
                            animation: 1s .1s pump infinite ease-out;
                        }

                        &:last-child{
                            animation: 1s .2s pump infinite ease-out;
                        }

                        @keyframes pump{

                            0%{
                                transform: translateY(0);
                            }
                            25%{
                                transform: translateY(-50%);
                            }
                            50%{
                                transform: translateY(0);
                            }

                        }
                    }
                }
            }

            .date-divider{
                text-align: center;
                padding: 20px;

                p{
                    font-weight: 500;
                    color: #c5c5c5;
                    font-size: 14px;
                }
            }
            

            br{
                display: none !important;
            }

            .date_time{
                display: inline-block;
                overflow: hidden;
                height: 0;
                i{
                    display: relative;
                    color: rgba($color: #000000, $alpha: .5);
                    font-size: 14px;
                }
            }

            .agent_msg{
                display: flex;
                width: 100%;
                padding: 10px;

                &:last-child{
                    padding-bottom: 20px;
                }

                img{
                    display: none;
                }

                .img{
                    width: 50px;
                    height: 50px;
                    background-color: rgba($color: $highlight, $alpha: .8);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    position: relative;
                    top: 30px;
                    margin-right: 10px;
                    span{
                        color: white;
                        font-size: 25px;
                    }
                }

                .msg_content{
                    width: 70%;
                    display: flex;
                    flex-direction: column;

                    .agentname{
                        b{
                            color: rgba($color: #000000, $alpha: .5);
                            font-size: 14px;
                            font-weight: 500;
                        }
                    }

                    .agentmsg{
                        padding: 10px 15px;
                        border-radius: 0 20px 20px;
                        background: rgba($color: #000000, $alpha: .05);
                        display: inline-block;
                        color: $black;
                    }
                }
            }

            .clients_msg{
                display: flex;
                flex-direction: row-reverse;
                width: 100%;
                padding: 10px;
                height: fit-content;

                &:last-child{
                    padding-bottom: 20px;
                }

                &.pending{
                    opacity: .5;
                }


                img{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    margin-left: 10px;
                    position: relative;
                    top: 20px;
                }

                .msg_content{
                    width: 70%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;

                    .aclientname{
                        b{
                            color: rgba($color: #000000, $alpha: .5);
                            font-size: 14px;
                            font-weight: 500;
                        }
                    }

                    .clientmsg{
                        padding: 10px 15px !important;
                        border-radius: 20px 0 20px 20px !important;
                        background: $primary !important;
                        display: inline-block;
                        color: white !important;
                    }
                }

                &.alert-danger{
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    color: rgba($color: $red, $alpha: .5);
                    font-size: 14px;
                    padding:  20px;

                    *{
                        color: rgba($color: $red, $alpha: .5) !important;
                    }

                    .date_time{
                        height: unset;
                        overflow: unset;
                    }
                }
            }
        }
    // }
}

.chatroom-custom-footer{
    display: flex;
    align-items: flex-end;
    position: relative;
    bottom: 0;
    width: 100%;
    background: $primary;
    padding: 15px;

    ion-textarea{
        // --padding-top: 0;
        // --padding-bottom: 0;
        --padding-start: 15px;
        margin-right: 5px;
        --background: #143d69;
        border-radius: 20px;
        max-height: 120px;
    }

    ion-button{
        --background: #0f345c;
        --background-activated: #0c2e52;
        --border-radius: 50%;
        margin: 0;
        
        ion-icon{
            color: white;
        }
    }
}