<ion-content>

  <div class="main-container">
    <div class="chatroom-custom-header">

      <ion-button (click)="back()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
      
      <h3>Welcome to iCAN Chat!</h3>

    </div>

    <div class="chat-convo" #chatConvoContent>

      <!-- <ion-content #chatConvoContent> -->

        <div class="chat-status" *ngIf="socketStatus != 'hidden'">
          <div *ngIf="socketStatus == 'connecting'" class="chat-stat connecting">
            <p>Connecting...</p>
          </div>
          <div *ngIf="socketStatus == 'connected'" class="chat-stat connected">
            <p>Connected</p>
          </div>
          <div *ngIf="socketStatus == 'failed'" class="chat-stat connect-failed">
            <p>Failed to connect</p>
          </div>
        </div>

        <div *ngIf="requesting" class="waiting">
          <p>Waiting for Agent ({{timer}})</p>
        </div>

        

        <div #convoBubbles class="convo-bubbles">

          <div class="new-convo-bubbles">

          </div>

          <!-- <div class="agent_msg p-1 42">
            <div class="img">
              <span>J</span>
            </div>
            <img alt="Logo" class="float-right ml-1 agent_icon hide" src="https://devstaging.mybizbox.us/AgentChat/public/img/agent1.png">
            <div class="float-right msg_content fromagent">
              <span class="float-right agentname">
                <b>Agent John Doe</b>
              </span>
              <br>
              <span class="right mt-0 agentmsg p-2">Thank you for contacting chat support. My name is John Doe, How can i help you?</span>
              <br>
              <span class="float-right date_time agenttime"><i>Tue, 05 Oct 2021 2:17 PM</i></span>
              <br>
              <br>
            </div>
          </div>

          <div class="clients_msg p-1">
            <img alt="Logo" class="ml-1 mt-3 client_icon float-left" [src]="clientImg">
            <div class="msg_content fromclient float-left ml-2">
              <span class="aclientname float-left">
                <b>Constantine RND TEST-null</b>
              </span>
              <br>
              <span class="mt-0 clientmsg p-2 float-left left" style="background: rgb(226, 226, 226); border-radius: 5px; padding: 5px 8px; color: rgb(51, 51, 51);">Testing getting elements</span>
              <br>
              <span class="date_time clienttime float-left"><i>Tue, 05 Oct 2021 2:16 PM</i></span>
              <br>
              <br>
            </div>
          </div>
          
          <div class="clients_msg mt-1 mb-1 text-center alert-danger p-1">
            <b>John Doe</b> ended the chat<br>
            <span class="date_time"><i>Tue, 05 Oct 2021 2:18 PM</i></span>
          </div> -->

        </div>

        <div class="pendingMsg convo-bubbles">


          <div *ngFor="let msg of pendingMsg" class="clients_msg pending p-1 ">
            <img class="float-left mr-1 mt-3 client_icon" [src]="clientImg" alt="Logo">
            <div class="float-left msg_content fromclient">
              <span class="float-left aclientname">
                  <b>{{chat.client.name.split('-')[0].trim()}}</b>
              </span>
              <br>
              <span class="left mt-0 clientmsg p-2">{{msg}}</span>
              <br>
              <span class="float-left date_time clienttime"><i></i></span>
            </div>
          </div>

          <div *ngIf="chat.typing" class="typing-bubble">
            <div class="dots">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>

        </div>

      <!-- </ion-content> -->

    </div>

    <div class="chatroom-custom-footer">

      <ion-textarea #textarea [disabled]="requesting" [(ngModel)]="chatString" class='chatroom-textarea' rows='1' autoGrow placeholder="Write message..." (ionChange)="triggerTyping()"></ion-textarea>

      <ion-button [disabled]="requesting" (click)="sendChat()">
        <ion-icon name="send"></ion-icon>
      </ion-button>

    </div>
  </div>

</ion-content>
