@import '../../../theme/colors';

.main-container{

    .top-bar{
        padding: 12px 16px;
        width: 100%;

        h4{
            font-weight: 700;
        }

        ion-button{
            --background: #e6f0ff;
            
            ion-icon{
                font-size: 16px;
            }

        }
    }

    .refund-details{
        width: 100%;
        padding: 30px;
        overflow-y: scroll;
        overflow-x: hidden;

        #descriptor{
            font-weight: 700;
            color: $highlight;
            margin-bottom: 50px;
        }

        .detail-item{
            width: 100%;
            padding: 15px;
            margin-left: 10px;
            margin-right: 10px;

            .amount{
                display: flex;
                flex-direction: column;

                span{
                    margin: 0;
                }
            }

            &.customer{
                background-color: #f0f6ff;
                border-radius: 12px;


                .card{
                    h4{
                        padding: 0;
                    }
                }

                .label{
                    margin-bottom: 10px;
                    color: #8390bf;

                    &:not(:first-child){
                        padding-top: 10px;
                        margin-top: 10px;
                        border-top: 1px solid #cbd1e5;
                        margin-bottom: 0;
                    }
                }

                img{
                    width: 80px;
                    max-height: 50px;
                    margin-right: 15px;
                    object-fit: contain;
                    padding: 12px;
                    background-color: white;
                    border-radius: 12px;
                }

            }

            // min-height: 120px;
            // border: 1px solid #3e3e3e;

            .label{
                font-weight: 700;
                font-size: 14px;
                color: #cecece;
            }

            h4{
                padding-top: 10px;
                display: flex;
                font-weight: 600;

                span{
                    font-weight: 700;
                    font-size: 40px;
                    transform: translateY(-5px);
                    margin: 0 10px;
                }
            }

            &-status{
                border-radius: 12px;

                &.pending{
                    background-color: rgba($color: $orange, $alpha: .1);

                    .label{
                        color: $orange !important;
                    }

                    .indicator{
                        background: $orange;
                    }
                }

                &.approved{
                    background-color: rgba($color: $green, $alpha: .1);

                    .label{
                        color: $green !important;
                    }

                    .indicator{
                        background: $green;
                    }
                }

                &.declined{
                    background-color: rgba($color: $red, $alpha: .1);

                    .label{
                        color: $red !important;
                    }

                    .indicator{
                        background: $red;
                    }
                }
            }

            .status{
                display: flex;
                align-items: center;
                justify-content: space-between;

                .indicator{
                    min-width: 10px;
                    min-height: 10px;
                    display: block;
                    border-radius: 50%;
                    margin-right: 10px;
                }
            }
        }

        >*{
            margin-bottom: 20px;
            align-items: stretch;
        }
    }

    .block{
        width: 100%;
    }
}