<div class="main-container">

  <div class="top-bar flex-alcen-jusSB">

    <h4>Refund Details</h4>

    <ion-button (click)="dismissModal()">
      <ion-icon name="chevron-down-outline"></ion-icon>
    </ion-button>

  </div>

  <div class="refund-details flex-col-alcen">

    <div class="flex-col-alcen">
      <p style="text-align:center">DESCRIPTOR</p>
      <h3 id="descriptor">{{refund.descriptor_or_mid}}</h3>
    </div>

    <div class="flex-alcen-jusSB block">

      <div class="detail-item">
        <p class="label">AMOUNT</p>
        <h4 class="amount">$ <span>{{refund.amount_of_purchase}}</span></h4>
      </div>

      <div class="detail-item">
        <p class="label">PURCHASE DATE</p>
        <h4>{{parseDate(refund.refund_request_date)}}</h4>
      </div>

    </div>
    
    <div class="flex-alcen-jusSB block">

      <div *ngIf="refund.refund_Status == 'REFUND REQUESTED' || refund.refund_Status == 'CANCELLATION REQUESTED'" class="detail-item detail-item-status pending">
        <p class="label">STATUS</p>
        <div class="status">
          <span class="indicator"></span>
          <h4>{{refund.refund_Status}}</h4>
        </div>
      </div>

      <div *ngIf="refund.refund_Status == 'REFUND APPROVED' || refund.refund_Status == 'REFUND ISSUED' || refund.refund_Status == 'SUBSCRIPTION CANCELLED'" class="detail-item detail-item-status approved">
        <p class="label">STATUS</p>
        <div class="status">
          <span class="indicator"></span>
          <h4>{{refund.refund_Status}}</h4>
        </div>
      </div>

      <div *ngIf="refund.refund_Status == 'REFUND DECLINED' || refund.refund_Status == 'REFUND FAILED' || refund.refund_Status == 'CANCELLATION DECLINED'" class="detail-item detail-item-status declined">
        <p class="label">STATUS</p>
        <div class="status">
          <span class="indicator"></span>
          <h4>{{refund.refund_Status}}</h4>
        </div>
      </div>

      <div class="detail-item">
        <p class="label">REQUEST DATE</p>
        <h4>{{parseDate(refund.refund_request_date)}}</h4>
      </div>

    </div>

    <div class="detail-item customer">
      <p class="label">CARD</p>
      <div class="flex-alcen-jusstart card">
        <img *ngIf="cardNetwork == 'mastercard'" src="assets/img/mastercard.png" alt="">
        <img *ngIf="cardNetwork == 'amex'" src="assets/img/amex.png" alt="">
        <img *ngIf="cardNetwork == 'discover'" src="assets/img/discover.png" alt="">
        <img *ngIf="cardNetwork == 'visa'" src="assets/img/visa.png" alt="">
        <h4>{{formatCard(refund.card_number)}}</h4>
      </div>
      <p class="label">NAME</p>
      <h4>{{refund.purchase_name ? refund.purchase_name : "N/A"}}</h4>
      <p class="label">EMAIL</p>
      <h4>{{refund.email_address}}</h4>
    </div>

    <div class="detail-item">
      <p class="label">REASON FOR REFUND</p>
      <p>{{refund.reason}}</p>
    </div>

  </div>

</div>