svg{
    width: 100%;
    height: 100%;
}

#rightArm{
    animation: rightArm infinite 2s alternate ease-in-out;
    transform-origin: center center;
}
  #leftArm{
    animation: rightArm infinite 2s alternate-reverse ease-in-out;
    transform-origin: center center;
}
  #Head{
    animation: Head infinite 2s alternate ease-in-out;
    transform-origin: center center;
}
  #Path_27{
    animation: rotate infinite 5s linear;
    transform-origin: 120.1px 185.2px;
}

@keyframes rightArm{
    0%{
        transform: rotateZ(0deg) translate(0);
    }
    100%{
        transform: rotateZ(10deg) translate(5px,-10px);
    }
}

@keyframes Head{
    0%{
        transform: rotateZ(0deg) translate(0);
    }
    100%{
        transform: rotateZ(-5deg) translate(0px, 10px);
    }
}

@keyframes rotate{
    0%{
        transform: translate(-36.52px, -74.447px) rotateZ(0deg);
    }
    100%{
        transform: translate(-36.52px, -74.447px) rotateZ(360deg);
    }
}

@media (prefers-color-scheme: dark) {

    svg{
        filter: drop-shadow(0 0 1px white) drop-shadow(0 0 1px white);
    }

}