<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="275.428" height="217.343" viewBox="0 0 275.428 217.343">
  <defs>
      <linearGradient id="linear-gradient" x1="3.152" y1="0.467" x2="-0.172" y2="0.515" gradientUnits="objectBoundingBox">
      <stop offset="0.01"/>
      <stop offset="1" stop-opacity="0"/>
      </linearGradient>
      <linearGradient id="linear-gradient-2" x1="2.499" y1="1.742" x2="-0.059" y2="0.131" xlink:href="#linear-gradient"/>
      <linearGradient id="linear-gradient-3" x1="0.663" y1="-1.05" x2="0.397" y2="1.481" xlink:href="#linear-gradient"/>
      <linearGradient id="linear-gradient-4" x1="0.185" y1="0.239" x2="0.908" y2="0.732" gradientUnits="objectBoundingBox">
      <stop offset="0.02" stop-color="#fff" stop-opacity="0"/>
      <stop offset="0.58" stop-color="#fff" stop-opacity="0.388"/>
      <stop offset="1" stop-color="#fff"/>
      </linearGradient>
      <linearGradient id="linear-gradient-5" x1="1.26" y1="0.481" x2="-0.302" y2="0.521" xlink:href="#linear-gradient-4"/>
      <linearGradient id="linear-gradient-6" x1="0.498" y1="0.11" x2="0.507" y2="1.846" xlink:href="#linear-gradient"/>
      <linearGradient id="linear-gradient-7" x1="1.074" y1="-1.186" x2="0.428" y2="0.745" xlink:href="#linear-gradient"/>
      <linearGradient id="linear-gradient-8" x1="0.69" y1="1.44" x2="0.274" y2="-0.517" gradientUnits="objectBoundingBox">
      <stop offset="0.01"/>
      <stop offset="0.09" stop-opacity="0.82"/>
      <stop offset="1" stop-opacity="0"/>
      </linearGradient>
      <linearGradient id="linear-gradient-9" x1="0.59" y1="-1.291" x2="0.477" y2="0.951" gradientUnits="objectBoundingBox">
      <stop offset="0.02" stop-color="#fff" stop-opacity="0"/>
      <stop offset="0.58" stop-color="#fff" stop-opacity="0.388"/>
      <stop offset="0.68" stop-color="#fff" stop-opacity="0.678"/>
      <stop offset="1" stop-color="#fff"/>
      </linearGradient>
      <linearGradient id="linear-gradient-10" x1="1.037" y1="-0.78" x2="0.526" y2="0.435" xlink:href="#linear-gradient-9"/>
      <linearGradient id="linear-gradient-11" x1="0.462" y1="-0.383" x2="0.533" y2="1.403" xlink:href="#linear-gradient"/>
      <linearGradient id="linear-gradient-12" x1="0.744" y1="-0.276" x2="0.279" y2="1.203" xlink:href="#linear-gradient"/>
      <linearGradient id="linear-gradient-13" x1="0.747" y1="0.258" x2="0.545" y2="0.476" xlink:href="#linear-gradient"/>
      <linearGradient id="linear-gradient-14" x1="0.587" y1="0.486" x2="-0.01" y2="0.583" xlink:href="#linear-gradient"/>
      <linearGradient id="linear-gradient-15" x1="0.986" y1="0.352" x2="0.221" y2="0.604" xlink:href="#linear-gradient"/>
      <linearGradient id="linear-gradient-16" x1="0.445" y1="1.165" x2="0.539" y2="-0.341" xlink:href="#linear-gradient"/>
      <linearGradient id="linear-gradient-17" x1="0.365" y1="0.055" x2="0.652" y2="0.907" xlink:href="#linear-gradient-9"/>
      <linearGradient id="linear-gradient-18" x1="0.815" y1="-0.258" x2="0.039" y2="1.606" xlink:href="#linear-gradient"/>
  </defs>
  <g id="IT_Support_Monochromatic" data-name="IT Support_Monochromatic" transform="translate(0 0)">
      <path id="BG" d="M258.855,239.367c14.348-5.422,27.32-17.018,30.132-32.1,2.318-12.443-2.46-25.076-8.268-36.334s-12.843-22.135-15.554-34.5c-5.049-22.989,5.368-48.492-4.527-69.848A52.5,52.5,0,0,0,247.76,49.931c-22.969-20.522-57.459-25.117-86.88-16.042S106.9,64.15,88.83,89.078C81.375,99.352,74.9,110.325,66.77,120.064c-10.83,12.972-24.887,24.358-29.59,40.563-3.423,11.711-1.355,24.4,2.711,35.92,6.256,17.662,33.209,49.075,46.039,49.014,28.594-.142,83.457,1.261,109.964.244C215.751,245.026,238.069,247.215,258.855,239.367Z" transform="translate(-14.156 -29.45)" fill="#68e1fd" opacity="0.18"/>
      <g id="leftArm">
      <path id="Path_2" data-name="Path 2" d="M183.845,289.776c-.678,1.932-1.274,4.148-.291,5.944a7.584,7.584,0,0,0,2.582,2.426l9.353,6.357c1.8,1.22,3.7,2.474,5.856,2.636s4.6-1.213,4.785-3.389c.217-2.487-2.392-4.188-3.612-6.371-1.6-2.86-.718-6.4.115-9.576a175.349,175.349,0,0,0,4.6-24.3c-1.918-.786-7.5-4.3-9.488-3.721-2.237.678-4.256,6.933-5.252,8.973a162.5,162.5,0,0,0-8.641,21.024Z" transform="translate(-7.636 -136.525) rotate(11)" fill="#f1af8c"/>
      <path id="Path_3" data-name="Path 3" d="M206.372,218.016c-2.426,6.893-5,13.806-8.892,20a.983.983,0,0,0-.21.63.969.969,0,0,0,.38.529c3.911,3.423,8.133,6.994,13.277,7.733a1.626,1.626,0,0,0,1-.088,1.654,1.654,0,0,0,.624-.861,58.854,58.854,0,0,0,4.331-24.148,99.41,99.41,0,0,0-.976-12.281c-.136-.99-.21-5.381-1.071-5.9-1.308-.773-2.745,1.925-3.314,2.772C209.164,209.938,207.768,214,206.372,218.016Z" transform="translate(-15.596 -119.617) rotate(11)" fill="#fff"/>
      <path id="Path_4" data-name="Path 4" d="M219.748,205.54s-3.057,1.145-5.544,9.753-8.424,29.468-8.424,29.468,9.183,4.588,11.481,2.867S219.748,205.54,219.748,205.54Z" transform="translate(-18.163 -120.786) rotate(11)" fill="url(#linear-gradient)"/>
      </g>
      <g id="Body">
      <path id="Path_5" data-name="Path 5" d="M246.264,192.44a49.19,49.19,0,0,1,14.876,1.444,24.653,24.653,0,0,1,12.545,7.8c3.5,4.3,5.029,9.915,5.381,15.439s-.38,11.061-.935,16.578a262.96,262.96,0,0,0-1.03,38.868c.149,3.1,1.925,19.309-.258,21.525-1.355,1.4,1.355,2.792-.576,3.253-15.791,3.8-44.162,1.932-59.113-4.4-3.8-1.613-7.618-3.856-9.488-7.53-2.033-3.978,3.457-19.749,4.114-24.175q2.989-20.258,4.31-40.732c.386-6.039-.061-12.545,1.179-18.475.9-4.3,3.673-5.476,7.672-6.533A96.53,96.53,0,0,1,246.264,192.44Z" transform="translate(-69.509 -81.962)" fill="#fff"/>
      <path id="Path_6" data-name="Path 6" d="M264.777,272.462c-.522,2.745-1.206,5.612-3.084,7.686a13.257,13.257,0,0,1-5.3,3.24c-9.421,3.551-20.163,3-29.19,7.455a6.3,6.3,0,0,0-1.735,1.132c-1.742,1.721-1.254,4.744.129,6.777,3.07,4.493,9.041,5.754,14.429,6.588,12.918,2.033,26.107,3.694,39.018,1.613a3.578,3.578,0,0,0,1.932-.739,3.511,3.511,0,0,0,.82-1.83c2.928-13,.624-26.534.569-39.858,0-7.686.678-15.378.156-23.043a46.765,46.765,0,0,0-2.941-13.941c-1.2-3.036-4.71-9.739-6.818-3.517-3.348,9.888-4.31,20.549-5.517,30.858C266.587,260.757,265.882,266.64,264.777,272.462Z" transform="translate(-75.03 -91.329)" fill="url(#linear-gradient-2)"/>
      <path id="Path_7" data-name="Path 7" d="M245.645,193.922c-2.243-.359-3.5-2.616-2.5-8.052.108-.6.251-1.186.413-1.769a1.451,1.451,0,0,1,.088-.325c.244-.84.522-1.681.793-2.514a18.347,18.347,0,0,0,1.179-6.256,11.206,11.206,0,0,1,.393-4.615,7.55,7.55,0,0,1,2.514-3.043c2.42-1.864,9.488-5.368,10.844-.739.6,1.979.163,4.283.136,6.31a18.977,18.977,0,0,0,1.559,8.465C262.541,184.353,251.155,194.8,245.645,193.922Z" transform="translate(-80.974 -72.912)" fill="#f1af8c"/>
      <path id="Path_8" data-name="Path 8" d="M244.65,185.887s12.5-4.744,14.91-12.247L246.243,178S245.924,184.863,244.65,185.887Z" transform="translate(-81.572 -75.916)" fill="url(#linear-gradient-3)"/>
      <path id="Path_10" data-name="Path 10" d="M255.5,214.523c3.707-3.911,6.425-8.634,9.109-13.3,1.633-2.847,3.307-5.822,3.538-9.1a1.816,1.816,0,0,0-.169-1.091,1.959,1.959,0,0,0-.624-.576l-5.09-3.45c-.088,3.124-2.331,5.808-4.893,7.6-2.711,1.925-10.471,4.033-8.811,8.024C248.974,203.639,255.067,214.977,255.5,214.523Z" transform="translate(-82.758 -80.222)" fill="#68e1fd"/>
      <path id="Path_11" data-name="Path 11" d="M242.776,201.961a89.366,89.366,0,0,1-5.09,8.75,6.611,6.611,0,0,1-2.711,2.711.746.746,0,0,1-.495.068c-.3-.1-.366-.495-.386-.807-.251-5.212-.495-10.512.779-15.588a14.375,14.375,0,0,1,2.2-5.022,13.909,13.909,0,0,1,4.527-2.813c-.271.834-.549,1.674-.793,2.514a.827.827,0,0,0-.081.251s0,.047,0,.075c-.163.583-.3,1.166-.413,1.769C239.293,199.345,240.553,201.6,242.776,201.961Z" transform="translate(-78.105 -80.95)" fill="#68e1fd"/>
      <path id="Path_12" data-name="Path 12" d="M255.5,214.523c3.707-3.911,6.425-8.634,9.109-13.3,1.633-2.847,3.307-5.822,3.538-9.1a1.816,1.816,0,0,0-.169-1.091,1.959,1.959,0,0,0-.624-.576l-5.09-3.45c-.088,3.124-2.331,5.808-4.893,7.6-2.711,1.925-10.471,4.033-8.811,8.024C248.974,203.639,255.067,214.977,255.5,214.523Z" transform="translate(-82.758 -80.222)" fill="url(#linear-gradient-4)"/>
      <path id="Path_13" data-name="Path 13" d="M242.776,201.961a89.366,89.366,0,0,1-5.09,8.75,6.611,6.611,0,0,1-2.711,2.711.746.746,0,0,1-.495.068c-.3-.1-.366-.495-.386-.807-.251-5.212-.495-10.512.779-15.588a14.375,14.375,0,0,1,2.2-5.022,13.909,13.909,0,0,1,4.527-2.813c-.271.834-.549,1.674-.793,2.514a.827.827,0,0,0-.081.251s0,.047,0,.075c-.163.583-.3,1.166-.413,1.769C239.293,199.345,240.553,201.6,242.776,201.961Z" transform="translate(-78.105 -80.95)" fill="url(#linear-gradient-5)"/>
      </g>
      <g id="rightArm">
      <path id="Path_9" data-name="Path 9" d="M294.479,212.165a83.959,83.959,0,0,0,6.832,41.471,3.091,3.091,0,0,0,.834,1.254,3.389,3.389,0,0,0,2.033.5,24.948,24.948,0,0,0,15.493-4.975c1.355-1.023,2.63-2.331,2.745-3.924a6.384,6.384,0,0,0-.495-2.487,275.482,275.482,0,0,0-12.1-29.489c-1.708-3.551-4-7.713-8.133-9.278C296.716,203.361,294.825,208.451,294.479,212.165Z" transform="matrix(1, -0.017, 0.017, 1, -102.736, -78.664)" fill="#fff"/>
      <path id="Path_14" data-name="Path 14" d="M283.287,314.436l29.685-5.673a10.693,10.693,0,0,0,4.975-1.83,7.438,7.438,0,0,0,2.3-6.649,21.836,21.836,0,0,0-2.426-6.9C313.6,284.656,305.05,268.987,305,269.9c-5.191,1.1-9.488,1.152-13.948,4.005a5.1,5.1,0,0,0-1.884,1.755c-1.782,3.389,3.091,8.336,4.744,10.912a6.384,6.384,0,0,1,1.233,2.813,4.636,4.636,0,0,1-.393,2.108c-1.606,3.944-7.326,6.242-10.844,8.268a36.51,36.51,0,0,1-15.1,5.069c-4.148.352-8.384-.183-12.437.746a17.818,17.818,0,0,0-11.678,9.109c2.413,1.532,5.551.644,8.329-.054a48.751,48.751,0,0,1,15.757-1.267C272.206,313.657,281.661,317.628,283.287,314.436Z" transform="matrix(1, -0.017, 0.017, 1, -87.168, -99.895)" fill="#f1af8c"/>
      </g>
      <g id="Laptop">
      <rect id="Rectangle_1" data-name="Rectangle 1" width="120.665" height="11.129" rx="5.564" transform="translate(78.686 204.963)" fill="#68e1fd"/>
      <rect id="Rectangle_2" data-name="Rectangle 2" width="120.665" height="11.129" rx="5.564" transform="translate(78.686 204.963)" fill="url(#linear-gradient-6)"/>
      <path id="Path_15" data-name="Path 15" d="M183.25,318.33H99.211L77.042,262.077a4.941,4.941,0,0,1,4.6-6.777h65.971a15.907,15.907,0,0,1,14.809,10.078Z" transform="translate(-27.445 -102.232)" fill="#68e1fd"/>
      <path id="Path_16" data-name="Path 16" d="M183.25,318.33H99.211L77.042,262.077a4.941,4.941,0,0,1,4.6-6.777h65.971a15.907,15.907,0,0,1,14.809,10.078Z" transform="translate(-27.445 -102.232)" fill="url(#linear-gradient-7)"/>
      <path id="Path_17" data-name="Path 17" d="M179.48,319.941H99.629L78.565,266.528a4.7,4.7,0,0,1,4.365-6.418h62.664a15.141,15.141,0,0,1,14.07,9.576Z" transform="translate(-27.944 -103.782)" fill="url(#linear-gradient-8)"/>
      </g>
      <g id="Board">
      <rect id="Rectangle_3" data-name="Rectangle 3" width="120.577" height="137.893" rx="15.64" transform="translate(0 3.497)" fill="#68e1fd" opacity="0.45"/>
      <circle id="Ellipse_7" data-name="Ellipse 7" cx="18.041" cy="18.041" r="18.041" transform="translate(18.319 92.119)" fill="url(#linear-gradient-9)"/>
      <rect id="Rectangle_4" data-name="Rectangle 4" width="77.066" height="4.338" transform="translate(10.742 16.571)" fill="#68e1fd"/>
      <rect id="Rectangle_5" data-name="Rectangle 5" width="77.066" height="4.338" transform="translate(13.067 73.61)" fill="#68e1fd" opacity="0.51"/>
      <rect id="Rectangle_6" data-name="Rectangle 6" width="54.782" height="4.338" transform="translate(13.067 66.188)" fill="#68e1fd"/>
      <rect id="Rectangle_7" data-name="Rectangle 7" width="36.673" height="4.338" transform="translate(75.345 66.188)" fill="#68e1fd"/>
      <rect id="Rectangle_8" data-name="Rectangle 8" width="56.388" height="3.856" transform="translate(55.507 38.733)" fill="#68e1fd"/>
      <rect id="Rectangle_9" data-name="Rectangle 9" width="60.326" height="3.856" transform="translate(43.694 45.571)" fill="#68e1fd" opacity="0.51"/>
      <rect id="Rectangle_10" data-name="Rectangle 10" width="37.086" height="3.856" transform="translate(14.117 38.733)" fill="#68e1fd"/>
      <rect id="Rectangle_11" data-name="Rectangle 11" width="81.512" height="3.856" transform="translate(30.383 52.213)" fill="#68e1fd"/>
      <rect id="Rectangle_12" data-name="Rectangle 12" width="11.969" height="3.856" transform="translate(14.117 52.213)" fill="#68e1fd" opacity="0.51"/>
      <rect id="Rectangle_13" data-name="Rectangle 13" width="53.799" height="3.856" transform="translate(58.089 59.058)" fill="#68e1fd" opacity="0.51"/>
      <rect id="Rectangle_14" data-name="Rectangle 14" width="37.086" height="3.856" transform="translate(14.117 59.058)" fill="#68e1fd"/>
      <rect id="Rectangle_15" data-name="Rectangle 15" width="23.85" height="3.856" transform="translate(14.117 45.409)" fill="#68e1fd"/>
      <path id="Path_26" data-name="Path 26" d="M55.2,173.873a6.3,6.3,0,0,0-1.037,4.744,2.236,2.236,0,0,1,0,.9,2.033,2.033,0,0,1-.407.678,69.718,69.718,0,0,1-9.6,9.787.989.989,0,0,1-.346.217,1.016,1.016,0,0,1-.678-.095,5.408,5.408,0,0,0-3.172-.576,3.185,3.185,0,0,0-2.094,2A5.422,5.422,0,0,0,37.7,194.5a45.088,45.088,0,0,1,3.612-2.711l1.782,1.769a.793.793,0,0,1,.312.6.773.773,0,0,1-.21.366l-2.63,3.1a5.09,5.09,0,0,0,5.212-.868,3.6,3.6,0,0,0,.23-4.988l10.092-11.312a3.863,3.863,0,0,0,4.683-.068,5.083,5.083,0,0,0,1.762-4.514,18.923,18.923,0,0,0-3.47,2.67l-2.033-2.535c.718-.678,3.5-2.548,1.694-3.28A3.392,3.392,0,0,0,55.2,173.873Z" transform="translate(-14.837 -75.573)" fill="#68e1fd"/>
      <path id="Path_27" data-name="Path 27" d="M135.294,191.032l.969-3.084s-3.829-3.023-3.944-2.833l-.156-2.23,3.5-3.728-1.613-2.8s-4.744.773-4.744.99a22.426,22.426,0,0,0-2.948-2.338l-.149-5.083-3.118-.847s-2.853,3.958-2.664,4.066c0,0-2.2.461-3.246.793l-3.551-3.023-2.711,1.749s.807,3.775,1.125,4.568c-.759.834-1.708,1.776-1.708,1.776l-5.056.813-.434,3.2s3.558,1.925,4.249,2.121a11.081,11.081,0,0,0,.474,3.057l-2.758,4.243,2.081,2.467s2.758-.969,3.958-1.5c1.118,1.017,2.711,2.223,2.711,2.223l1.274,4.961,3.226.136s1.552-3.612,1.715-4.405a15.98,15.98,0,0,1,3.124-.041l4.534,2.379,2.27-2.3a46.353,46.353,0,0,0-2.189-4.283,8.867,8.867,0,0,0,.779-1.111Zm-15.046.115a6.411,6.411,0,1,1,6.4-6.411,6.411,6.411,0,0,1-6.4,6.411Z" transform="translate(-36.52 -74.447)" fill="url(#linear-gradient-10)"/>
      </g>
      <g id="Head">
      <path id="Path_18" data-name="Path 18" d="M239.935,73.043a20.712,20.712,0,0,1,6.364-2.853c2.3-.447,5.422-.176,6.974,1.559a14.517,14.517,0,0,0-10.363,5.469,1.01,1.01,0,0,1-.522.447.983.983,0,0,1-.549-.1c-.935-.352-7.943,1.247-8.35.4C233.51,77.963,239.075,73.565,239.935,73.043Z" transform="translate(-77.975 -42.517)" fill="#68e1fd"/>
      <path id="Path_19" data-name="Path 19" d="M239.935,73.043a20.712,20.712,0,0,1,6.364-2.853c2.3-.447,5.422-.176,6.974,1.559a14.517,14.517,0,0,0-10.363,5.469,1.01,1.01,0,0,1-.522.447.983.983,0,0,1-.549-.1c-.935-.352-7.943,1.247-8.35.4C233.51,77.963,239.075,73.565,239.935,73.043Z" transform="translate(-77.975 -42.517)" fill="url(#linear-gradient-11)"/>
      <ellipse id="Ellipse_1" data-name="Ellipse 1" cx="8.228" cy="10.139" rx="8.228" ry="10.139" transform="translate(138.585 61.932)" fill="#68e1fd"/>
      <ellipse id="Ellipse_2" data-name="Ellipse 2" cx="7.611" cy="9.38" rx="7.611" ry="9.38" transform="translate(140.889 63.83)" fill="#68e1fd"/>
      <ellipse id="Ellipse_3" data-name="Ellipse 3" cx="7.611" cy="9.38" rx="7.611" ry="9.38" transform="translate(140.889 63.83)" fill="url(#linear-gradient-12)"/>
      <path id="Path_20" data-name="Path 20" d="M219.19,104.576l1.9,34.843s.847,13.148,13.88,13.277c15.656.156,20.42-8.946,22.8-15.873s4.527-27.272,0-32.9S227.77,84.453,219.19,104.576Z" transform="translate(-73.367 -50.261)" fill="#f1af8c"/>
      <path id="Path_21" data-name="Path 21" d="M225.7,78.719c-6.14-.108-13.155,2.758-15.954,8.553a10.031,10.031,0,0,0-.19,8.628,3.622,3.622,0,0,1,.529,2.738,7.177,7.177,0,0,0,2.908,6.1c1.078.779,2.386,1.267,3.246,2.277l-.332-6.486a1.355,1.355,0,0,1,1.03-1.613l4.127-1.925s1.274.929,1.43,1a5.192,5.192,0,0,0,2.169.413,30.5,30.5,0,0,0,4.839-.271,45.723,45.723,0,0,0,10.01-3.023,4.554,4.554,0,0,1-1.234,2.67l10.525,2.033a28.6,28.6,0,0,1,3.694,6.9,24.039,24.039,0,0,1,1.423,5.971,21.572,21.572,0,0,1-.766,8.262,8.668,8.668,0,0,0,1.857-1.938,10.661,10.661,0,0,0,3.118,1.484,1.355,1.355,0,0,0,.725.061c.515-.142.624-.752.678-1.24.42-4.371,3.673-8.065,5.164-12.24a18.406,18.406,0,0,0-1.871-15.425,12.437,12.437,0,0,0-3.273-3.822c-4.846-3.551-11.732-1.925-17.262-3.782-2.63-.881-4.744-2.555-7.259-3.66A26.081,26.081,0,0,0,225.7,78.719Z" transform="translate(-69.979 -45.326)" fill="#3f3d56"/>
      <path id="Path_22" data-name="Path 22" d="M225.7,78.719c-6.14-.108-13.155,2.758-15.954,8.553a10.031,10.031,0,0,0-.19,8.628,3.622,3.622,0,0,1,.529,2.738,7.177,7.177,0,0,0,2.908,6.1c1.078.779,2.386,1.267,3.246,2.277l-.332-6.486a1.355,1.355,0,0,1,1.03-1.613l4.127-1.925s1.274.929,1.43,1a5.192,5.192,0,0,0,2.169.413,30.5,30.5,0,0,0,4.839-.271,45.723,45.723,0,0,0,10.01-3.023,4.554,4.554,0,0,1-1.234,2.67l10.525,2.033a28.6,28.6,0,0,1,3.694,6.9,24.039,24.039,0,0,1,1.423,5.971,21.572,21.572,0,0,1-.766,8.262,8.668,8.668,0,0,0,1.857-1.938,10.661,10.661,0,0,0,3.118,1.484,1.355,1.355,0,0,0,.725.061c.515-.142.624-.752.678-1.24.42-4.371,3.673-8.065,5.164-12.24a18.406,18.406,0,0,0-1.871-15.425,12.437,12.437,0,0,0-3.273-3.822c-4.846-3.551-11.732-1.925-17.262-3.782-2.63-.881-4.744-2.555-7.259-3.66A26.081,26.081,0,0,0,225.7,78.719Z" transform="translate(-69.979 -45.326)" fill="url(#linear-gradient-13)"/>
      <ellipse id="Ellipse_4" data-name="Ellipse 4" cx="8.14" cy="10.037" rx="8.14" ry="10.037" transform="translate(183.993 63.281)" fill="#68e1fd"/>
      <ellipse id="Ellipse_5" data-name="Ellipse 5" cx="8.14" cy="10.037" rx="8.14" ry="10.037" transform="translate(183.993 63.281)" fill="url(#linear-gradient-14)"/>
      <ellipse id="Ellipse_6" data-name="Ellipse 6" cx="8.14" cy="10.037" rx="8.14" ry="10.037" transform="translate(187.111 63.281)" fill="#68e1fd"/>
      <path id="Path_23" data-name="Path 23" d="M278.527,106.236l-4.066.434-.969.1-4.066-20.014c-2.115-7.916-7.286-14-13.772-16.361a7.32,7.32,0,0,0-3.131-.373l-2.772.251,1.355-.359,2.711-.718a8.926,8.926,0,0,1,2.6-.319c7.238.264,14.1,6.1,16.591,14.463Z" transform="translate(-83.215 -42.155)" fill="#68e1fd"/>
      <path id="Path_24" data-name="Path 24" d="M278.527,106.236l-4.066.434-.969.1-4.066-20.014c-2.115-7.916-7.286-14-13.772-16.361a7.32,7.32,0,0,0-3.131-.373l-2.772.251,1.355-.359,2.711-.718a8.926,8.926,0,0,1,2.6-.319c7.238.264,14.1,6.1,16.591,14.463Z" transform="translate(-83.215 -42.155)" fill="url(#linear-gradient-15)"/>
      <path id="Path_25" data-name="Path 25" d="M279.171,106.236l-4.066.434-4.066-20.061c-2.148-8-7.367-14.131-13.914-16.51a7.15,7.15,0,0,0-3.165-.38l-2.209.2,2.711-.718a8.926,8.926,0,0,1,2.6-.319c7.238.264,14.1,6.1,16.591,14.463Z" transform="translate(-83.86 -42.155)" fill="#68e1fd"/>
      <path id="Path_28" data-name="Path 28" d="M212.447,104.911a8.62,8.62,0,0,1,6.425-4.209,25.585,25.585,0,0,1,7.93.366c-2.542,2.033-9.637,5.063-9.773,5.6a16.518,16.518,0,0,0-.034,2.887c.095,1.4.142,2.86.136,4.256a10.844,10.844,0,0,0-2.182-1.654,5.422,5.422,0,0,1-1.83-1.172,5.632,5.632,0,0,1-.671-6.079Z" transform="translate(-71.002 -52.352)" fill="url(#linear-gradient-16)"/>
      <path id="Path_29" data-name="Path 29" d="M258.913,165.521a31.583,31.583,0,0,1-9.014-1.5,1.358,1.358,0,0,1,.779-2.6c6.981,2.1,12.233,1.823,15.588-.827,4.568-3.585,4.27-10.417,4.27-10.485a1.357,1.357,0,1,1,2.711-.136c0,.332.359,8.316-5.307,12.762A14.181,14.181,0,0,1,258.913,165.521Z" transform="translate(-82.951 -67.872)" fill="#68e1fd"/>
      <path id="Path_30" data-name="Path 30" d="M258.913,165.521a31.583,31.583,0,0,1-9.014-1.5,1.358,1.358,0,0,1,.779-2.6c6.981,2.1,12.233,1.823,15.588-.827,4.568-3.585,4.27-10.417,4.27-10.485a1.357,1.357,0,1,1,2.711-.136c0,.332.359,8.316-5.307,12.762A14.181,14.181,0,0,1,258.913,165.521Z" transform="translate(-82.951 -67.872)" fill="url(#linear-gradient-17)"/>
      <path id="Path_31" data-name="Path 31" d="M247.085,162.733a3.592,3.592,0,0,1,1.715,1.857c.3,1.152-.6,2.257-1.518,3.009a5.673,5.673,0,0,1-2.813,1.355,6.525,6.525,0,0,1-4.27-1.518,5.652,5.652,0,0,1-1.776-1.715c-1.179-2.074.346-4.744,2.345-5.625C242.985,159.141,245.344,161.588,247.085,162.733Z" transform="translate(-79.432 -71.482)" fill="#68e1fd"/>
      <path id="Path_32" data-name="Path 32" d="M247.085,162.733a3.592,3.592,0,0,1,1.715,1.857c.3,1.152-.6,2.257-1.518,3.009a5.673,5.673,0,0,1-2.813,1.355,6.525,6.525,0,0,1-4.27-1.518,5.652,5.652,0,0,1-1.776-1.715c-1.179-2.074.346-4.744,2.345-5.625C242.985,159.141,245.344,161.588,247.085,162.733Z" transform="translate(-79.432 -71.482)" fill="url(#linear-gradient-18)"/>
      </g>
  </g>
</svg>