<ion-content #supportContent>

  <div class="main-container">

    <div class="header">
      <ion-button (click)="back()"><ion-icon name="arrow-back-outline"></ion-icon> Back</ion-button>
    </div>

    <div class="content">

      <div class="title">
        <h1>Support</h1>
      </div>

      <div class="searchbar">
        <ion-item lines="none">
          <ion-input [(ngModel)]="supportSearchKey" placeholder="Search..." debounce="400" (ionChange)="searchQuestion()"></ion-input>
          <ion-icon name="search-outline" size="small" slot="end"></ion-icon>
        </ion-item>
      </div>

      <div class="questions">

        <div #questionItem class="questions-item">
           <ion-item button lines="full" detail="false" (click)="toggle(questionItem)">
            <ion-icon *ngIf="!isVisible(questionItem)" name="chevron-up-outline" slot="end" size="small"></ion-icon>
            <ion-icon *ngIf="isVisible(questionItem)" name="chevron-down-outline" slot="end" size="small"></ion-icon>
            <p class="question">What is iCAN4Consumers?</p>
           </ion-item>
           <div class="answer">
             <p>iCAN4Consumers is a consumer driven service that provides the iCAN Consumer Community with value-based benefits and it Costs Absolutely Nothing to join!</p>
             <br>
             <p>Our goal and mission as an organization focused on consumer advocacy is to help and support consumers with a broad array of issues / topics, particularly related to eCommerce credit card purchases. We want to improve the customer’s experience with both retail and eCommerce merchants to help ensure their overall satisfaction.</p>
           </div>
        </div>
        
        <div #questionItem1 class="questions-item">
           <ion-item button lines="full" detail="false" (click)="toggle(questionItem1)">
            <ion-icon *ngIf="!isVisible(questionItem1)" name="chevron-up-outline" slot="end" size="small"></ion-icon>
            <ion-icon *ngIf="isVisible(questionItem1)" name="chevron-down-outline" slot="end" size="small"></ion-icon>
            <p class="question">Can iCAN help me get a refund for an online purchase? How does it work?</p>
           </ion-item>
           <div class="answer">
             <p>Yes. iCAN is also an independent issuer of online refunds and can provide consumers with a sure-fire way to get a full refund for any online purchase, for any reason—quickly, easily, and privately, with no costs, no fees, and no hassles.</p>
             <p>If the online merchant where you made your purchase is a member of the iCAN merchant network, we guarantee your refund within five to seven business days.</p>
             <br>
             <p>Just make your <span class="link" (click)="refund()">refund request</span>. Your refund will be credited to the credit card you used to make the purchase in five to seven business days. We’ll keep you posted about your refund by email. And you can check the status of your refund online or by phone, any time.</p>
             <br>
             <p>It’s simple, quick, and secure, and <span class="bold">i</span>t <span class="bold">C</span>ost <span class="bold">A</span>bsolutely <span class="bold">N</span>othing.</p>
           </div>
        </div>

        <div #questionItem2 class="questions-item">
          <ion-item button lines="full" detail="false" (click)="toggle(questionItem2)">
           <ion-icon *ngIf="!isVisible(questionItem2)" name="chevron-up-outline" slot="end" size="small"></ion-icon>
           <ion-icon *ngIf="isVisible(questionItem2)" name="chevron-down-outline" slot="end" size="small"></ion-icon>
           <p class="question">Where can I access iCAN?</p>
          </ion-item>
          <div class="answer">
            <p>You can get to us several ways:</p>
            <br>
            <ul>
              <li>Click on the iCAN logo or link on a member merchant’s website</li>
              <li>Call iCAN’s customer support toll-free at (855) 660-3214 (open all day, every day)</li>
              <li>Use our mobile app (downloadable from <span class="link" (click)="playstore()">Google</span> and <span class="link" (click)="appstore()">Apple</span> app stores)</li>
              <li>Visit our <span class="link" (click)="fb()">Facebook page</span>.</li>
            </ul>
          </div>
        </div>

        <div #questionItem3 class="questions-item">
          <ion-item button lines="full" detail="false" (click)="toggle(questionItem3)">
           <ion-icon *ngIf="!isVisible(questionItem3)" name="chevron-up-outline" slot="end" size="small"></ion-icon>
           <ion-icon *ngIf="isVisible(questionItem3)" name="chevron-down-outline" slot="end" size="small"></ion-icon>
           <p class="question">What’s the cost to me?</p>
          </ion-item>
          <div class="answer">
            <p>Nothing. No fees, no charges. You get your refund in full.</p>
            <br>
            <p>“No cost” isn’t our middle name. It is our name: <span class="bold">i</span>t <span class="bold">C</span>ost <span class="bold">A</span>bsolutely <span class="bold">N</span>othing.</p>
          </div>
        </div>

        <div #questionItem4 class="questions-item">
          <ion-item button lines="full" detail="false" (click)="toggle(questionItem4)">
           <ion-icon *ngIf="!isVisible(questionItem4)" name="chevron-up-outline" slot="end" size="small"></ion-icon>
           <ion-icon *ngIf="isVisible(questionItem4)" name="chevron-down-outline" slot="end" size="small"></ion-icon>
           <p class="question">So can I request a refund for an online or phone purchase for any credit or payment card?</p>
          </ion-item>
          <div class="answer">
            <p>That’s right. We support Visa, MasterCard, American Express, Discover and any other credit card payment method.</p>
          </div>
        </div>

        <div #questionItem5 class="questions-item">
          <ion-item button lines="full" detail="false" (click)="toggle(questionItem5)">
           <ion-icon *ngIf="!isVisible(questionItem5)" name="chevron-up-outline" slot="end" size="small"></ion-icon>
           <ion-icon *ngIf="isVisible(questionItem5)" name="chevron-down-outline" slot="end" size="small"></ion-icon>
           <p class="question">What if I used a debit card or a pre-paid card to make my purchase?</p>
          </ion-item>
          <div class="answer">
            <p>Not a problem. We also support:</p>
            <br>
            <ul>
              <li>Debit Cards</li>
              <li>Check Cards</li>
              <li>Pre-paid Gift Cards</li>
              <li>Reloadable Pre-paid Cards</li>
            </ul>
          </div>
        </div>

        <div #questionItem6 class="questions-item">
          <ion-item button lines="full" detail="false" (click)="toggle(questionItem6)">
           <ion-icon *ngIf="!isVisible(questionItem6)" name="chevron-up-outline" slot="end" size="small"></ion-icon>
           <ion-icon *ngIf="isVisible(questionItem6)" name="chevron-down-outline" slot="end" size="small"></ion-icon>
           <p class="question">How do I request a refund?</p>
          </ion-item>
          <div class="answer">
            <p>It’s simple. Just request your refund using our simple, easy-to-use refund request form. (We’ll prompt you for the information we need from you. If you want to gather it beforehand—always a good idea— <span class="link" (click)="refund()">here’s what you’ll need .)</span></p>
            <br>
            <p>We do the rest:</p>
            <br>
            <ul>
              <li>You’ll immediately receive a confirmation email that your refund request has been successfully submitted. This email includes a confirmation number you’ll need if you call iCAN customer support.</li>
              <li>We’ll email you again once we’ve secured your refund—anywhere up to 24 hours after you’ve made your refund request.</li>
              <li>Your refund will be posted to your credit card account typically between five to seven business days from your refund request. You’ll see the credited amount on your next credit card statement and, if you have access to your card activity online, as soon as it posts.</li>
            </ul>
            <br>
            <p>You can easily check the status of your refund request. If you’re an iCAN member , you can login and check the status of your refund request at any time.</p>
            <br>
            <p>Or you can call iCAN consumer support at toll-free (855) 660-3214 any time to check on your refund—whether or not you’re an iCAN member.</p>
          </div>
        </div>

        <div #questionItem7 class="questions-item">
          <ion-item button lines="full" detail="false" (click)="toggle(questionItem7)">
           <ion-icon *ngIf="!isVisible(questionItem7)" name="chevron-up-outline" slot="end" size="small"></ion-icon>
           <ion-icon *ngIf="isVisible(questionItem7)" name="chevron-down-outline" slot="end" size="small"></ion-icon>
           <p class="question">What information do I need to request a refund?</p>
          </ion-item>
          <div class="answer">
            <p>We need just a few essential pieces of information. We’ll prompt you for this info on the request form.</p>
            <br>
            <ul>
              <li>The transaction date of your online purchase.</li>
              <li>The amount of your purchase (dollars or other currency).</li>
              <li>The name of the business, website, or customer service phone number.</li>
            </ul>
            <br>
            <p>This information should be available on your credit card statement, and online if you have online access to your card activity. You’ll also need:</p>
            <br>
            <ul>
              <li>The first six and last four digits of the credit card number you used to make your online purchase.</li>
              <li>Any email address you may have used to make your online purchase. Look for this on the purchase confirmation you were emailed by the online merchant. If you didn’t use an email address, just leave this field blank.</li>
            </ul>
          </div>
        </div>

        <div #questionItem8 class="questions-item">
          <ion-item button lines="full" detail="false" (click)="toggle(questionItem8)">
           <ion-icon *ngIf="!isVisible(questionItem8)" name="chevron-up-outline" slot="end" size="small"></ion-icon>
           <ion-icon *ngIf="isVisible(questionItem8)" name="chevron-down-outline" slot="end" size="small"></ion-icon>
           <p class="question">Is iCAN secure?</p>
          </ion-item>
          <div class="answer">
            <p>Absolutely. We comply with the <span class="link" (click)="pci()">Payment Card Industry Data Security Standards (PCI DSS)</span> —the gold standard in information security, mandated by VISA, MasterCard, American Express, and other credit card associations.</p>
            <br>
            <p>Please see our  <span class="link" (click)="termsAndConditions()">Terms and Conditions</span> and <span class="link" (click)="privacyPolicy()">Privacy Policy</span> for details on our commitment to protecting your information.</p>
          </div>
        </div>

        <div #questionItem9 class="questions-item">
          <ion-item button lines="full" detail="false" (click)="toggle(questionItem9)">
           <ion-icon *ngIf="!isVisible(questionItem9)" name="chevron-up-outline" slot="end" size="small"></ion-icon>
           <ion-icon *ngIf="isVisible(questionItem9)" name="chevron-down-outline" slot="end" size="small"></ion-icon>
           <p class="question">How long will it take to get my refund?</p>
          </ion-item>
          <div class="answer">
            <p>Normal turnaround for your refund is between five and seven business days.</p>
          </div>
        </div>

        <div #questionItem10 class="questions-item">
          <ion-item button lines="full" detail="false" (click)="toggle(questionItem10)">
           <ion-icon *ngIf="!isVisible(questionItem10)" name="chevron-up-outline" slot="end" size="small"></ion-icon>
           <ion-icon *ngIf="isVisible(questionItem10)" name="chevron-down-outline" slot="end" size="small"></ion-icon>
           <p class="question">How do I receive my refund?</p>
          </ion-item>
          <div class="answer">
            <p>Your refund is credited to the account of the credit card you used to make your online purchase. You’ll see it on your credit card statement—and, if you have online access to your card activity, on your card’s site.</p>
          </div>
        </div>

        <div #questionItem11 class="questions-item">
          <ion-item button lines="full" detail="false" (click)="toggle(questionItem11)">
           <ion-icon *ngIf="!isVisible(questionItem11)" name="chevron-up-outline" slot="end" size="small"></ion-icon>
           <ion-icon *ngIf="isVisible(questionItem11)" name="chevron-down-outline" slot="end" size="small"></ion-icon>
           <p class="question">Can I check the status of my refund?</p>
          </ion-item>
          <div class="answer">
            <p>Yes. If you’re registered as an iCAN member , you can login and check the status of your refund request at any time.</p>
            <br>
            <p>Or you can call iCAN consumer support toll-free at (855) 660-3214 any time, 24/7, to check on your refund—whether or not you’re an iCAN member.</p>
          </div>
        </div>

        <div #questionItem12 class="questions-item">
          <ion-item button lines="full" detail="false" (click)="toggle(questionItem12)">
           <ion-icon *ngIf="!isVisible(questionItem12)" name="chevron-up-outline" slot="end" size="small"></ion-icon>
           <ion-icon *ngIf="isVisible(questionItem12)" name="chevron-down-outline" slot="end" size="small"></ion-icon>
           <p class="question">Do I need to be an iCAN member to use iCAN?</p>
          </ion-item>
          <div class="answer">
            <p>No. Anyone can request a refund using iCAN. But there are benefits to becoming an iCAN member:</p>
            <ul>
              <li>You can check your refund status online, any time.</li>
              <li>You can choose to receive news, offers, and other information from our member merchants available exclusively for iCAN members.</li>
            </ul>
            <p>Becoming an iCAN member is free.</p>
          </div>
        </div>

        <div #questionItem13 class="questions-item">
          <ion-item button lines="full" detail="false" (click)="toggle(questionItem13)">
           <ion-icon *ngIf="!isVisible(questionItem13)" name="chevron-up-outline" slot="end" size="small"></ion-icon>
           <ion-icon *ngIf="isVisible(questionItem13)" name="chevron-down-outline" slot="end" size="small"></ion-icon>
           <p class="question">How will I know when I’ve gotten my refund?</p>
          </ion-item>
          <div class="answer">
            <p>Your refund will appear on the credit card statement covering activity at the time you requested your refund.</p>
            <br>
            <p>For example, if your credit card statements cover activity from the 15th of the month through the 14th of the following month, and you requested your refund on March 20th, your refund will appear on the credit card statement you receive in April (covering March 15th through April 14th).</p>
            <br>
            <p>If your credit card offers online access to your card activity on an ongoing basis, you should see your refund as soon as it is credited to your account.</p>
            <br>
            <p>You can always check the status of your refund at any time by calling iCAN customer service toll-free at (855) 660-3214.</p>
          </div>
        </div>

        <div #questionItem14 class="questions-item">
          <ion-item button lines="full" detail="false" (click)="toggle(questionItem14)">
           <ion-icon *ngIf="!isVisible(questionItem14)" name="chevron-up-outline" slot="end" size="small"></ion-icon>
           <ion-icon *ngIf="isVisible(questionItem14)" name="chevron-down-outline" slot="end" size="small"></ion-icon>
           <p class="question">How does iCAN protect my privacy and my personal and credit card information?</p>
          </ion-item>
          <div class="answer">
            <p>iCAN complies with the <span class="link" (click)="pci()">Payment Card Industry Data Security Standards (PCI DSS)</span> —the gold standard in information security, mandated by VISA, MasterCard, American Express, and other credit card associations.</p>
            <br>
            <p>Please see our  <span class="link" (click)="termsAndConditions()">Terms and Conditions</span> and <span class="link" (click)="privacyPolicy()">Privacy Policy</span> for details on our commitment to protecting your information.</p>
          </div>
        </div>

        <div #questionItem16 class="questions-item">
          <ion-item button lines="full" detail="false" (click)="toggle(questionItem16)">
           <ion-icon *ngIf="!isVisible(questionItem16)" name="chevron-up-outline" slot="end" size="small"></ion-icon>
           <ion-icon *ngIf="isVisible(questionItem16)" name="chevron-down-outline" slot="end" size="small"></ion-icon>
           <p class="question">What if the merchant I purchased from isn’t a member of the iCAN network?</p>
          </ion-item>
          <div class="answer">
            <p>Want us to contact the merchant about getting you the refund you deserve? Simply complete this online request and we’ll attempt to contact the merchant on your behalf!</p>
            <br>
            <p>If we are unable to secure a refund, we will guide you towards the best next steps which may include contacting the merchant directly or going to your issuing bank in order to initiate a dispute. <span class="bold">Whatever we do, it will be with your best interest in mind!</span></p>
          </div>
        </div>

      </div>

      <div class="back-to-top">
        <p (click)="supportContent.scrollToTop(400)" >Back to top <ion-icon name="arrow-up-outline"></ion-icon></p>
      </div>

    </div>

  </div>

</ion-content>
