@import '../../../../theme/colors';

.main-container{
    background: linear-gradient(to bottom right, white, white, #ecfaff, #fcf0ff);

    >*{
        width: 100%;
    }

    .header{
        padding: 10px;
        ion-button{
            --background: transaparent;
            --background-activated: #cccccc;
            --border-radius: 50px;

            ion-icon{
                margin-right: 10px;
            }
        }
    }

    .content{
        padding: 20px;

        .title{
            h1{
                font-weight: 700;
                font-size: 30px;
            }
        }

        .searchbar{
            padding: 20px 0;
            ion-item{
                border-radius: 50px;
                --background: #ecf1ff;
            }
        }

        .questions{
            padding: 20px 0;

            &-item{
                ion-item{
                    --background: transaparent;
                    --padding-top: 15px;
                    --padding-bottom: 15px;
                }

                &.visible{

                    .answer{
                        padding: 10px 0 !important;
                        max-height: 1000px !important;
                        margin: 10px 0 30px !important;

                        span{
                            color: $highlight;
                    
                            &.link{
                                text-decoration: underline;
                            }

                            &.bold{
                                font-weight: 600;
                            }
                        }
                    }
                }
            }

            .answer{
                margin: 0;
                padding: 0;
                background: #fafafa;
                overflow: hidden;
                transition: .8s ease-in-out;
                max-height: 0;
                border-left: 1px solid rgba($color: #000000, $alpha: .2);

                p{
                    padding: 0 10px;
                }
            }
        }

        .back-to-top{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 50px 0;
            p{
                display: flex;
                align-items: center;
                color: #aaaaaa;
    
                ion-icon{
                    margin-left: 10px;
                    color: #aaaaaa;
                }
            }
        }
    }
}