<ion-content>

  <div class="main-container">

    <div class="header">
      <ion-button (click)="back()"><ion-icon name="arrow-back-outline"></ion-icon> Back</ion-button>
    </div>

    <div class="content">

      <div class="title">
        <h1>GET YOUR <br> REFUND NOW</h1>
        <p>Just fill out the form below to begin the refund process</p>
      </div>

      <div class="steps">

        <div class="step">

          <div class="step-header">
            <h3>Step 1</h3>
          </div>

          <div class="step-content">
            <p>Identify the credit card transaction in question on your credit card statement as you'll need to reference specific pieces of information in order to request a refund using iCAN4Consumers.</p>
          </div>

        </div>

        <div class="step">

          <div class="step-header">
            <h3>Step 2</h3>
          </div>

          <div class="step-content">
            Initiate a refund request with the following information regarding the transaction in question:

            <div class="step-input">
                <p>Merchant Information*</p>
                <ion-item lines="none">
                  <ion-icon *ngIf="!refundDetails.descriptor" name="alert-circle-outline" slot="start"></ion-icon>
                  <ion-input [(ngModel)]="refundDetails.descriptor" placeholder="Enter merchant's information" readonly (click)="searchMerchant()"></ion-input>
                </ion-item>
                <i>In order to assist us in identifying the specific transaction, for which you wish to request a refund, you'll need to provide a key piece of information from your credit card statement. This could be the merchant name, website, or customer service phone number from the description for the transaction in question.</i>
            </div>

            <div class="step-input">
                <p>Reason for Refund*</p>
                <ion-item lines="none">
                  <ion-icon *ngIf="!refundDetails.refund_reason" name="alert-circle-outline" slot="start"></ion-icon>
                  <ion-select [(ngModel)]="refundDetails.refund_reason" placeholder="Select reason for refund" interface="action-sheet">
                    <ion-select-option value="I did not authorize this charge.">I did not authorize this charge.</ion-select-option>
                    <ion-select-option value="I did not received the good or service purchased.">I did not received the good or service purchased.</ion-select-option>
                    <ion-select-option value="I'm not satisfied with the goods/service provided.">I'm not satisfied with the goods/service provided.</ion-select-option>
                    <ion-select-option value="I no longer want to continue receiving the goods/service (Please cancel my membership).">I no longer want to continue receiving the goods/service (Please cancel my membership).</ion-select-option>
                  </ion-select>
                </ion-item>
            </div>

            <div class="step-input">
              <p>Credit Card Number*</p>
              <ion-item lines="none">
                <ion-icon *ngIf="!refundDetails.first6 || refundDetails.first6.length != 6" name="alert-circle-outline" slot="start"></ion-icon>
                <ion-input [(ngModel)]="refundDetails.first6" inputmode="numeric" placeholder="First 6 Digits" maxlength="6"></ion-input>
              </ion-item>
              <ion-item lines="none">
                <ion-icon *ngIf="!refundDetails.last4 || refundDetails.last4.length != 4" name="alert-circle-outline" slot="start"></ion-icon>
                <ion-input [(ngModel)]="refundDetails.last4" inputmode="numeric" placeholder="Last 4 Digits" maxlength="4"></ion-input>
              </ion-item>
              <i>In order to protect your credit card information, we only ask for the beginning and ending portion of your credit card number.</i>
            </div>

            <div class="step-input">
              <p>Date of purchase*</p>
              <ion-item lines="none">
                <ion-icon *ngIf="!refundDetails.purchase_date" name="alert-circle-outline" slot="start"></ion-icon>
                <ion-datetime [(ngModel)]="refundDetails.purchase_date" placeholder="MM DD, YY"></ion-datetime>
              </ion-item>
              <i>Enter the sales date that the original transaction took place from your credit card statement.</i>
            </div>

            <div class="step-input money">
              <p>Amount of purchase*</p>
              <ion-item lines="none">
                <ion-icon *ngIf="!refundDetails.amount" name="alert-circle-outline" slot="start"></ion-icon>
                <p slot="start">$</p>
                <ion-input [(ngModel)]="refundDetails.amount" inputmode="decimal" type="number" placeholder="0.00"></ion-input>
              </ion-item>
              <i>Enter the amount of the transaction from your credit card statement in your local currency (please make sure that the correct country and currency is selected and is reflected to the right of the amount field).</i>
            </div>

            <div class="step-input">
              <p>Email Address used for Purchase of Products/Services*</p>
              <ion-item lines="none">
                <ion-icon *ngIf="!temp_email || !search.validateEmail(temp_email)" name="alert-circle-outline" slot="start"></ion-icon>
                <ion-input [(ngModel)]="temp_email" type="email" inputmode="email" placeholder="Enter Email Address"></ion-input>
              </ion-item>
              <i>You’ll want to specify the email address that you used when you made the actual purchase of the product or service. Typically this is the email address that merchant businesses would use in sending you notifications such as a purchase confirmation.</i>
            </div>

            <div class="step-input">
              <p>Email Address Confirmation*</p>
              <ion-item lines="none">
                <ion-icon *ngIf="!refundDetails.email_address || refundDetails.email_address != temp_email || !search.validateEmail(refundDetails.email_address)" name="alert-circle-outline" slot="start"></ion-icon>
                <ion-input [(ngModel)]="refundDetails.email_address" type="email" inputmode="email" placeholder="Re-enter Email Address"></ion-input>
              </ion-item>
              <i>Double entry of your email address can catch typing mistakes that would otherwise prevent your receipt of iCAN refund status updates.</i>
            </div>

            <div class="step-input">
              <p>Name of Purchaser*</p>
              <ion-item lines="none">
                <ion-icon *ngIf="!refundDetails.purchase_name" name="alert-circle-outline" slot="start"></ion-icon>
                <ion-input [(ngModel)]="refundDetails.purchase_name" placeholder="Enter Purchaser's Name"></ion-input>
              </ion-item>
              <i>Enter Your Name or the name of the person who made the purchase.</i>
            </div>

          </div>

        </div>

        <div class="step">
          <div class="step-header">
            <h3>Step 3</h3>
          </div>

          <div class="step-content">
            <p>You'll immediately receive a confirmation email / message that your Refund Request has been successfully submitted along with a confirmation number that you'll need to reference if at any time you'd like to talk to our iCAN4Consumer support staff. It could take up to 24 hours to secure your refund at which time the credit is actually initiated.</p>
          </div>

        </div>

        <div class="step">
          <div class="step-header">
            <h3>Step 4</h3>
          </div>

          <div class="step-content">
            <p>You'll then receive another email update that your refund has been secured at which point it will take 5 - 7 business days for the credit to post to your credit card account.<br><br>And we're always available at iCAN4Consumers support to provide assistance in checking the status of your refund Toll-free at (855) 660-3214!</p>
            
            <ion-button [disabled]="check_params()" (click)="requestRefund()">Submit</ion-button>
          </div>

        </div>

      </div>

    </div>

  </div>

  <img class="abstract" src="assets/img/abstract.jpg" alt="">

</ion-content>
