@import '../../../../theme/colors';

.main-container{
    position: relative;
    background-color: #3b65f2;

    >*{
        width: 100%;
    }
    
    *{
        color: white;
    }

    .header{
        padding: 10px;
        ion-button{
            color: white;
            --background: transaparent;
            --background-activated: #ffffff33;
            --border-radius: 50px;

            ion-icon{
                color: white;
                margin-right: 10px;
            }
        }
    }

    .content{
        padding: 20px;
        display: flex;
        flex-direction: column;

        .title{
            h1{
                font-weight: 700;
                font-size: 30px;
            }
        }

        .steps{
            width: 100%;
            padding: 20px 0;

            .step{
                margin-bottom: 20px;

                &-header{
                    padding: 10px;
                    border-bottom: 1px solid white;
                 
                    h3{
                        font-weight: 600;
                    }
                }

                &-content{
                    padding: 10px;
                    
                    ion-button{
                        width: 100%;
                        --background: #fafafa;
                        --background-activated: #e4e4e4;
                        color: $highlight;
                        margin-top: 20px;
                        --border-width: 1px;
                        --border-style: solid;
                        --border-color: #9b9b9b;
                    }
                }

                &-input{
                    margin: 20px 0;

                    >p{
                        font-weight: 500;   
                        border-bottom: 1px solid white;
                        width: fit-content;
                    }

                    ion-item{
                        margin: 10px 0;
                        border-radius: 12px;
                        border: 1px solid rgba($color: white, $alpha: .6);
                        --background: #fafafa11;
                        
                        ion-icon{
                            color: #df2727;
                        }
                    }

                    i{
                        color: rgba($color: white, $alpha: .6);
                        font-weight: 200;
                    }

                    &.money{
                        ion-input{
                            text-align: right;
                        }
                    }
                }

            }
        }

    }
}

.abstract{
    pointer-events: none;
    opacity: .05;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: stretch;
}