<ion-content #privacyPolicyContent>

  <app-custom-header *ngIf="!redirected"></app-custom-header>
  <div *ngIf="redirected" class="header-back">
    <ion-button (click)="back()"><ion-icon name="arrow-back-outline"></ion-icon> Back</ion-button>
  </div>

  <div class="main-container">

    <div class="header">
      <h1>Privacy Policy</h1>
    </div>

    <ol type="I" class="content">
      
      <li class="content-item">
        <h3>iCan4Consumers values and protects your privacy.</h3>
        <p>We thank you for the trust that you place in us and we want you to know that the information you share with us will be treated with care. The objective of our Privacy Statement is to disclose and explain what information we collect, use, and share and to explain the privacy choices that you can make. We encourage you to read our Privacy Statement as well as those of all websites that you visit. This Privacy Statement applies to any information collected by iCAN or its “Vendors” via: (1) the websites owned or operated by iCAN (“iCAN Websites” or “Websites”), (2) e-mail or any electronic newsletters in which you enroll, (3) offline means such as telephone, traditional mail, or in person, or (4) any other online or offline means in connection with iCAN generally or with any of the iCAN products and services. iCAN may provide links to third party websites. Since we do not control third party sites and are not responsible for any information you may provide while on such sites, we encourage you to read the privacy policies on those sites before providing any Personally Identifiable Information (“PII”) on such sites.</p>
      </li>


      <li class="content-item">
        <h3>THE INFORMATION WE COLLECT.</h3>
        <p>When you visit the iCAN Websites, we or our Vendors collect information, including PII that you provide, in order to provide you with the products and services you requested or with offers or promotions that may interest you, service your accounts, and save you time and better respond to your needs. We use “Cookie” technology to collect Website statistical information and to improve your customer experience with the iCAN Websites. Cookies set by iCAN do not capture any PII. However, if you choose to furnish us with PII, this information may be linked to the data stored in the Cookie to further enhance your experience with our Websites. For example, we may use Cookies to personalize your experience at our Websites (e.g., to recognize you by name when you return to our Websites). We also may use Cookies to offer you products, programs, or services. We or our Vendors also automatically collect some statistical data as you browse our Websites. For example, we automatically collect your “IP Address” used to connect your computer to the Internet, browser type and version, operating system and platform, average time spent on our Websites, pages viewed, information searched for, access times, “Click stream,” and other relevant information about your online experience. We or our Vendors also collect information, including PII, that you provide via telephone, traditional mail, e-mail, in person, or otherwise. At some iCAN Websites and through certain promotions, you can submit information, including PII, about other people. For example, if you order a gift online or offline and want it sent directly to the recipient, we might collect the recipient’s name, address, e-mail address, and telephone number. iCAN uses the information we or our Vendors collect about you and others, including PII, to complete transactions, respond to your requests, deliver the products and services in which you enroll or request, and notify you of updates, products, services, offers, or promotions that may interest you. We may process or combine your information with other information that is publicly available. This enables us to customize your customer experience and provide you with more relevant offers. iCAN may also use the information that we or our Vendors collect from you online and via other means to market to you through alternative channels. iCAN may share your information to provide products and services to you or offers that may interest you, we may also share your information with carefully selected Vendors with whom we work. This includes companies that manage accounts and companies that perform marketing services and other business operations for us. All companies that act on our behalf are required to safeguard PII. iCAN may share your information with “Business Partners” carefully selected by us that may wish to offer you products or services that may interest you, either in conjunction with iCAN or by themselves. We may also use or disclose your information, including PII, to comply with the law or in response to a subpoena, court order, government request, or other legal process, or as otherwise permitted by law; to report or collect debts owed; to reduce fraud or criminal activity; to protect the legal rights of iCAN, our customers, our Websites, or the users of our Websites; or to allow a purchaser of an iCAN division, or iCAN as a whole, to continue using your information to serve you or as otherwise permitted by this Privacy Statement.</p>
      </li>

      <li class="content-item">
        <h3>USING YOUR E-MAIL ADDRESS.</h3>
        <p>We may use your e-mail address for the following types of e-mail messages: Account Service Communications. We may send you communications related to iCAN products and services in which you are enrolled (e.g., subscription and membership communications). Updates and Valuable Offers. We may send you e-mail account updates, offers for our products and services, requests for enrollment, as well as valuable offers from our Business Partners that we send you on their behalf.</p>
      </li>

      <li class="content-item">
        <h3>YOUR COMMUNICATION AND PRIVACY CHOICES: HOW TO OPT OUT OF RECEIVING OFFERS AND PROMOTIONS.</h3>
        <p>iCAN respects the choices that you make regarding your privacy. You may request that we no longer send you e-mails and/or offline offers or promotions, or share your information with our Business Partners that are interested in providing you with offers and promotions that may interest you.</p>
      </li>

      <li class="content-item">
        <h3>PRIVACY CHOICES: HOW TO OPT OUT OF RECEIVING OFFERS AND PROMOTIONS.</h3>
        <p>If you have elected to receive certain marketing e-mails from iCAN but decide that you no longer want to receive them, you may also follow the unsubscribe instructions that are located at the bottom of those e-mail messages.</p>
      </li>

      <li class="content-item">
        <h3>SECURING YOUR INFORMATION.</h3>
        <p>We use reasonable administrative, technical, and physical security measures to protect your PII from unauthorized access and use.</p>
      </li>

      <li class="content-item">
        <h3>CHANGES TO THIS PRIVACY STATEMENT.</h3>
        <p>iCAN reserves the right to change this Privacy Statement at any time by posting revisions on this Website. Such changes will be effective upon posting.</p>
      </li>

    </ol>

    <div class="content-item">
      <p>Source: <span class="link" (click)="openSource()">https://ican4consumers.com/privacy-policy.php</span></p>
    </div>

    <div class="back-to-top">
      <p (click)="privacyPolicyContent.scrollToTop(400)" >Back to top <ion-icon name="arrow-up-outline"></ion-icon></p>
    </div>

  </div>

</ion-content>
