@import '../../../../theme/colors';

.header-back{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    padding: 10px;
    background-color: white;
    border-bottom: 1px solid rgba($color: #000000, $alpha: .1);
    ion-button{
        --border-radius: 50px;
        --background: transparent;
        --background-activated: #cccccc;
        color: $black;
        ion-icon{
            margin-right: 10px;
        }
    }
}

.main-container{
    padding: 70px 20px 0;
    background: linear-gradient(to bottom right, white, white, #ecfaff, #fcf0ff);

    >*{
        width: 100%;
    }

    .header{
        padding: 20px 0;
        h1{
            font-weight: 700;
            font-size: 35px;
            color: $primary;
            text-decoration: underline;
        }
    }

    span{
        color: $highlight;

        &.link{
            text-decoration: underline;
        }
    }

    .content{
        padding: 20px;
        padding-left: 40px;
        border-left: 1px solid rgba($color: #000000, $alpha: .2);

        &-item{
            padding-left: 10px;
            &:not(:first-child){
                margin-top: 50px;
            }

            &::marker{
                font-size: 20px;
            }
        }

        h3{
            font-weight: 700;
            padding: 20px 0;
        }
    }

    .back-to-top{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 50px 0;
        p{
            display: flex;
            align-items: center;
            color: #aaaaaa;

            ion-icon{
                margin-left: 10px;
                color: #aaaaaa;
            }
        }
    }
}