@import '../../../theme/colors';

.search-container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ebf5ff;
    min-height: 100vh;

    .header{
        display: flex;
        justify-content: space-between;
        width: 100%;
        h1{
            font-weight: 700;
            color: $primary;
        }
        ion-button{
            --background: transparent;
            --background-activated: rgba(0,0,0,.1);
            --border-radius: 50px;
            font-weight: 700;
            font-size: 18px;
            color: rgba(0,0,0,.4);
        }
        h3{
            font-size: 18px;
            font-weight: 700;
            color: rgba($color: #000000, $alpha: .3);
        }
    }

    ion-item{
        width: 100%;
        margin: 20px 0;
        --border-radius: 20px;
        --padding-end: 0;
        min-height: 52px;

        ion-icon{
            color: rgba($color: #000000, $alpha: .5);
        }
    }
    
    .recent-searches{
        width: 100%;

        .header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            h5{
                font-weight: 700;
                color: rgba($color: #000000, $alpha: .3);
            }
        }

        .chips{
            padding: 20px 0;

            ion-chip{
                ion-label{
                    font-weight: 500;
                    font-size: 16px;
                }
                ion-icon{
                    transform: rotate(-45deg);
                }
            }
        }
    }

    .search-results{
        flex: 100%;
        width: 100%;
        position: relative;

        .loader{
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
        }

        ion-list{
            border-radius: 20px;
            padding: 0;
        }

        ion-item{
            --border-radius: 0;
            margin: 0;
        }
    }
}