<ion-content>

<div class="search-container">

  <div class="header">
    <h1>Search<br>Descriptor</h1>
    <ion-button (click)="closeModal()">Cancel</ion-button>
  </div>

  <ion-item lines="none">
    <ion-input [(ngModel)]="descriptor_key" placeholder="Descriptor / Website" debounce="400" (ionChange)="searchDescriptor()"></ion-input>
    <ion-icon name="search" slot='end' size='small'></ion-icon>
  </ion-item>

  <div *ngIf="recentSearches.length && !descriptor_key" class="recent-searches">

    <div class="header">
      <h5>Recent searches</h5>
      <ion-icon name="close-circle" (click)='clearSearches()'></ion-icon>
    </div>

    <div class="chips">

      <ion-chip *ngFor="let descriptor of recentSearches" outline='true' (click)="autofill(descriptor)">
        <ion-label>{{descriptor}}</ion-label>
        <ion-icon name="arrow-forward" size="small"></ion-icon>
      </ion-chip>

    </div>

  </div>

  <div class="search-results">
      <div *ngIf="searching" class="loader">
        <ion-spinner></ion-spinner>
      </div>
      <ion-list *ngIf="!searching && searchResults.length && descriptor_key">

        <ion-item *ngFor="let descriptor of searchResults" lines='full' button detail="false" (click)="selectDescriptor(descriptor)">
          <ion-label>{{descriptor.descriptor_text}}</ion-label>
        </ion-item>

      </ion-list>

      <ion-list *ngIf="!searching && !searchResults.length && descriptor_key && descriptor_key.length >= 5">

        <ion-item lines='full' button detail="false" (click)="nmmRefund()">
          <p style="padding: 10px 0">The merchant is not a member, if you'd like us to contact the merchant on your behalf about getting you a refund, please click here.</p>
        </ion-item>

      </ion-list>
  </div>

</div>

</ion-content>