<ion-content>

  <img src="assets/img/login_bg_1.png" alt="" class="bg">

  <div class="main-container">
    <div class="main-content">
      <img src="assets/img/ican_logo.png" alt="" class="ican-logo">

      <div class="welcome">
        <h3>Welcome!</h3>
        <p>Sign in to continue.</p>
      </div>

      <div class="login-form">
        <ion-item lines="full">
          <ion-icon name="person" slot="start" size="small"></ion-icon>
          <ion-input [(ngModel)]="creds.username" placeholder="Username" type="text" autofocus="true" enterkeyhint="next" (keyup)="next($event, password)"></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-icon name="lock-closed" slot="start" size="small"></ion-icon>
          <ion-input #password [(ngModel)]="creds.password" placeholder="Password" [type]="showPassword ? 'text' : 'password'" (keyup)="next($event)"></ion-input>
          <ion-icon *ngIf="showPassword" name="eye" slot="end" (click)='togglePassword()'></ion-icon>
          <ion-icon *ngIf="!showPassword" name="eye-off" slot="end" (click)='togglePassword()'></ion-icon>
        </ion-item>
        <ion-button (click)="login()">
          <p *ngIf='!loggingIn'>Login</p>
          <ion-spinner *ngIf='loggingIn' color='light'></ion-spinner>
        </ion-button>
        <p>No account yet? <span (click)='signUp()'>Sign up</span></p>
      </div>

      <!-- <div class="google">
        <p class="divider">or login with</p>
        <ion-button (click)='googleLogin()'>
          <img src='assets/img/google-logo.png' />
          <p>Google</p>
        </ion-button>
      </div> -->
    </div>

    <div class="guess-login">
      <ion-button (click)="loginAsGuest()">
        <p>CONTINUE AS GUEST</p>
      </ion-button>
    </div>

  </div>


</ion-content>
