@import '../../../theme/colors';

.bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.main-container{
    justify-content: space-evenly;
    font-size: 16px;

    .main-content{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        font-size: 16px;
        flex: 100%;
    }

    .ican-logo{
        width: 45%;
        min-width: 170px;
    }

    .welcome{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        p{
            color: rgba($color: #000000, $alpha: .5);
        }
    }

    .login-form{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        ion-icon{
            color: $black;

            &[name=eye], &[name=eye-off]{
                color: rgba($color: #000000, $alpha: .5);
            }
        }

        ion-item{
            width: 80%;
            margin-bottom: 10px;
            border-radius: 50px;
            --padding-top: 2px;
            --padding-bottom: 2px;
            box-shadow: 0 6px 8px rgba($color: #000000, $alpha: .16);
        }

        ion-button{
            --background: #0f345c;
            width: 80%;
            --border-radius: 50px;
            --box-shadow: 0 6px 8px rgba(0,0,0,.16);
            margin-bottom: 15px;
            --background-activated: #09294b;

            p{
                color: $white;
            }

            ion-spinner{
                color: #fafafa;
            }
        }

        span{
            color: $highlight;
        }
    }

    .google{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        >p{
            margin-bottom: 20px;
            width: 80%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &::after, &::before{
                content: '';
                display: block;
                width: 30%;
                height: 1px;
                background-color: rgba($color: #000000, $alpha: .2);
            }
        }

        ion-button{
            display: flex;
            justify-content: space-between;
            --background: #fafafa;
            --background-activated: #cacaca;
            --border-radius: 50px;
            --box-shadow: 0 6px 8px rgba(0,0,0,.16);
            
            img{
                width: 30px;
                margin-right: 10px;
            }
        }
    }

    .guess-login{
        width: 100%;
        
        *{
            color: white;
        }

        ion-button{
            margin: 0;
            --border-radius: 0;
            width: 100%;
        }
    }
}