<ion-app>
  <ion-menu menuId='genMenu' contentId='main' (ionWillOpen)="menuOpen()" (ionWillClose)="menuClose()" type='reveal'>
    <ion-content>
      <div class="menu-content">

        <div class="logo">

          <img src="assets/img/logo_white.png" alt="">

          <h3>iCAN4Consumers</h3>

        </div>

        <div class="inner">

          <div class="menus">

            <div [class]="'menu-item ' + activatedRoute('home')" (click)="navigate('home')">
              <ion-icon name="home"></ion-icon>
              <p>Home</p>
            </div>
  
            <div [class]="'menu-item ' + activatedRoute('refund')" (click)="navigate('refund')">
              <ion-icon name="card"></ion-icon>
              <p>Get Refund</p>
            </div>

            <div *ngIf="account != 'guest' || !account" [class]="'menu-item ' + activatedRoute('refund/history')" (click)="navigate('refund/history')">
              <ion-icon src="assets/svg/payroll-salary.svg"></ion-icon>
              <p>Refund History</p>
            </div>
  
            <div [class]="'menu-item ' + activatedRoute('about-us')" (click)="navigate('about-us')">
              <ion-icon name="information-circle"></ion-icon>
              <p>About us</p>
            </div>
  
            <div [class]="'menu-item ' + activatedRoute('contact-us')" (click)="navigate('contact-us')">
              <ion-icon name="call"></ion-icon>
              <p>Contact Us</p>
            </div>
  
            <span class="divider"></span>
  
            <div [class]="'menu-item ' + activatedRoute('privacy-policy')" (click)="navigate('privacy-policy')">
              <ion-icon name="shield-half"></ion-icon>
              <p>Privacy Policy</p>
            </div>
  
            <div [class]="'menu-item ' + activatedRoute('terms-and-condition')" (click)="navigate('terms-and-condition')">
              <ion-icon name="reader"></ion-icon>
              <p>Terms and Conditions</p>
            </div>
  
          </div>
  
          <div class="footer">
            <p>24/7 Customer Service:</p>
            <p><ion-icon name="call"></ion-icon> Toll-free (855) 660-3214</p>
            <p><ion-icon name="mail"></ion-icon> support@iCan4Consumers.com</p>
          </div>

        </div>

      </div>
    </ion-content>
  </ion-menu>
  <ion-content id="main">
    <div class="splash">
      <video autoplay playsinline webkit-playsinline #afterSplash src="assets/vid/afterSplash.mp4" poster="assets/img/afterSplash.png"></video>
    </div>
    <ion-router-outlet></ion-router-outlet>
  </ion-content>
</ion-app>
