@import '../theme/colors';

ion-content{
    --background: #080B1A;

    .splash{
        position: absolute;
        left: 0;
        top: 0;
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 1s;

        video{
            width: 100%;
        }
    }
}

ion-menu{

    ion-content{

        --background: #0652DD;
    }

}

.menu-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    min-height: 100vh;

    .logo{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        padding: 10px 15px 10px 10px;
        background-color: rgba($color: #ffffff, $alpha: .2);
        border-radius: 12px;

        img{
            width: 65px;
            height: 65px;
            padding: 8px;
            object-fit: contain;
            background-color: rgba($color: $marine, $alpha: .7);
            border-radius: 12px;
        }

        h3{
            font-size: 18px;
            font-weight: 600;
            color: white;
            margin: 0;
        }
    }

    .inner{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        flex: 100%;
        justify-content: space-between;
    }

    .menus{
        width: 100%;
        position: relative;
        padding: 20px 0;

        .menu-item{
            width: 100%;
            display: flex;
            align-items: center;
            border: 1px solid;
            padding: 12px;
            border-radius: 15px;
            border: none;
            margin: 15px 0;

            &:active{
                background-color: rgba($color: #000000, $alpha: .1);
            }

            *{
                color: white;
            }
            
            ion-icon{
                font-size: 25px;
                margin-right: 20px;
            }

            p{
                font-weight: 500;
            }

            &.active{
                background-color: rgba($color: #000000, $alpha: .15);
            }
        }

        .divider{
            display: block;
            width: 100%;
            height: 1px;
            background-color: rgba($color: #000000, $alpha: .2);
        }
    }

    .footer{
        font-size: 14px;

        *{
            display: flex;
            align-items: center;
            color: white;
        }

        ion-icon{
            margin-right: 10px;
        }
    }
}