@import '../../../theme/colors';

svg{
    height: 100%;
    width: 100%;
}
.entrance{
    #manLeft{
        animation: slideToRight 1s ease-in-out;
    }

    #rightGroup{
        animation: slideLeft 1s ease-in-out;
    }
}

#mlRightHand{
    animation: mlrh 2s ease-in-out alternate infinite;
}

#mlLeftHand{
    animation: mllh 2s ease-in-out alternate infinite;
}

#mlHead{
    animation: mlh 2s ease-in-out alternate infinite;
}

#mrLeftHand{
    animation: mrlh 2s ease-in-out alternate infinite;
    transform-origin: 200px 90px;
}

#mrRightHand{
    animation: mrlh 2s ease-in-out alternate infinite;
    transform-origin: 200px 90px;
}

#mrHead{
    animation: mrh 2s ease-in-out alternate-reverse infinite;
}

#questionMark{
    animation: qm 2s ease-in-out alternate-reverse infinite;
    transform-origin: center center;
}

#trail{
    fill: rgba($color: $highlight, $alpha: .2);
}

#ellipses{
    circle{
        fill: rgba($color: $highlight, $alpha: .2);
        
        &:nth-child(1){
            // transform: translate(33.812px, 15.099px);
        }
    }
}

@keyframes slideUp{
    0%{
        transform: translateY(200px);
    }
    100%{
        transform: translateY(0px);
    }
}

@keyframes slideToRight{
    0%{
        transform: translateX(-200px);
    }
    100%{
        transform: translateX(0px);
    }
}

@keyframes slideLeft{
    0%{
        transform: translateX(200px);
    }
    100%{
        transform: translateX(0px);
    }
}

@keyframes mlrh{
    0%{
        transform: rotate(-20deg) translate(-35px,12px);
    }
    100%{
        transform: rotate(0deg);
    }
}

@keyframes mllh{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-20deg) translate(-38px,11px);
    }
}

@keyframes mlh{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(10deg) translate(18px,-10px);
    }
}

@keyframes mrlh{
    0%{
        transform: rotate(40deg) translate(2px,-8px);
    }
    100%{
        transform: rotate(0deg);
    }
}

@keyframes mrrh{
    0%{
        transform: rotate(40deg) translate(7px,-8px);
    }
    100%{
        transform: rotate(0deg);
    }
}

@keyframes mrh{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-10deg) translate(-20px,35px);
    }
}

@keyframes qm{
    0%{
        transform: rotate(-5deg) translate(2px,-8px);
    }
    100%{
        transform: rotate(0deg);
    }
}

@media (prefers-color-scheme: dark) {

    svg{
        filter: drop-shadow(0 0 1px white) drop-shadow(0 0 1px white);
    }

}