<svg *ngIf='!type' class="block {{ entrance == 'true' ? 'entrance' : '' }}" id="undraw_Questions_re_1fy7" xmlns="http://www.w3.org/2000/svg" width="280.299" height="197.533" viewBox="0 0 280.299 197.533">
  <path id="trail" d="M494.63,379.96c8.54-2.565,17.619-5.239,24.391-11.336,6.052-5.448,10.138-13.768,7.631-21.939-2.5-8.154-10-13.591-17.734-16.3a72.757,72.757,0,0,0-13.569-3.053c-4.989-.727-10-1.322-15.009-1.895q-30.422-3.48-61.074-4.251c-10.083-.254-20.164-.248-30.248-.1-9.006.131-18.491.127-26.846-3.7-6.5-2.977-12.394-8.392-14.2-15.508-2.09-8.215,1.765-16.58,7.294-22.529a59.056,59.056,0,0,1,9.835-8.2c3.812-2.633,7.757-5.079,11.787-7.363a164.141,164.141,0,0,1,24.811-11.438c4.23-1.538,8.522-2.865,12.851-4.089a109.954,109.954,0,0,0,10.857-3.477c6.83-2.722,13.327-7.334,15.064-14.894,1.646-7.165-1.129-14.943-5.995-20.266-5.629-6.158-14.116-8.857-22.253-9.294-9.135-.49-18.06,1.8-26.646,4.7-9.158,3.095-18.118,6.653-27.469,9.16a184.817,184.817,0,0,1-28.271,5.255,76.691,76.691,0,0,1-14.188.679c-3.94-.319-7.859-1.478-10.763-4.274a10.644,10.644,0,0,1-3.463-9.17c.093-.632,1.052-.363.96.265-.621,4.233,2.257,8.133,5.8,10.131,4.1,2.309,9.084,2.312,13.646,2.048a178.477,178.477,0,0,0,29.373-4.246,236.054,236.054,0,0,0,27.776-8.574c8.68-3.143,17.553-6.211,26.826-6.891,8.046-.591,16.51.581,23.519,4.786a26.018,26.018,0,0,1,12.134,16.93,19.624,19.624,0,0,1-5.774,18.688c-5.416,4.993-12.843,7.128-19.763,9.094a181.067,181.067,0,0,0-25.682,9.193,161.218,161.218,0,0,0-24.158,13.582c-7.382,5.045-14.668,11.392-17,20.392a18.786,18.786,0,0,0,.933,12.6,23.022,23.022,0,0,0,7.387,8.767c7.407,5.45,16.742,6.569,25.689,6.681,10.049.125,20.1-.214,30.15-.049q30.728.5,61.331,3.741,7.668.812,15.317,1.794a138.5,138.5,0,0,1,13.7,2.222c8.018,1.861,15.82,5.439,20.8,12.238a19.352,19.352,0,0,1,1.648,21.16c-3.827,7.53-11,12.319-18.608,15.465a132.024,132.024,0,0,1-12.528,4.23.5.5,0,0,1-.265-.96Z" transform="translate(-260.283 -183.703)" fill="#f2f2f2"/>
  <g id="ellipses">
    <circle id="Ellipse_2" data-name="Ellipse 2" cx="7.964" cy="7.964" r="7.964" transform="translate(33.812 15.099)" fill="#f2f2f2"/>
    <circle id="Ellipse_3" data-name="Ellipse 3" cx="7.964" cy="7.964" r="7.964" transform="translate(89.064 30.198)" fill="#f2f2f2"/>
    <circle id="Ellipse_4" data-name="Ellipse 4" cx="7.964" cy="7.964" r="7.964" transform="translate(135.854)" fill="#f2f2f2"/>
    <circle id="Ellipse_5" data-name="Ellipse 5" cx="7.964" cy="7.964" r="7.964" transform="translate(165.056 33.848)" fill="#f2f2f2"/>
    <circle id="Ellipse_6" data-name="Ellipse 6" cx="7.964" cy="7.964" r="7.964" transform="translate(125.567 73.005)" fill="#f2f2f2"/>
    <circle id="Ellipse_7" data-name="Ellipse 7" cx="7.964" cy="7.964" r="7.964" transform="translate(75.459 91.92)" fill="#f2f2f2"/>
    <circle id="Ellipse_8" data-name="Ellipse 8" cx="7.964" cy="7.964" r="7.964" transform="translate(128.553 121.454)" fill="#f2f2f2"/>
    <circle id="Ellipse_10" data-name="Ellipse 10" cx="7.964" cy="7.964" r="7.964" transform="translate(252.331 134.396)" fill="#f2f2f2"/>
  </g>
  <path id="floor" d="M457.567,746.04H178.057a.4.4,0,0,1,0-.79H457.566a.4.4,0,1,1,0,.79Z" transform="translate(-177.662 -548.507)" fill="#3f3d56"/>
  <g id="manLeft">
    <path id="Path_19" data-name="Path 19" d="M126.539,550.989h4.068l1.936-15.692h-6Z" transform="translate(-84.547 -357.662)" fill="#ffb8b8"/>
    <path id="Path_20" data-name="Path 20" d="M0,0H12.786V4.94H4.94A4.94,4.94,0,0,1,0,0Z" transform="translate(53.905 197.104) rotate(179.997)" fill="#2f2e41"/>
    <path id="Path_21" data-name="Path 21" d="M82.539,550.989h4.068L88.543,535.3h-6Z" transform="translate(-55.148 -357.662)" fill="#ffb8b8"/>
    <path id="Path_22" data-name="Path 22" d="M0,0H12.786V4.94H4.94A4.94,4.94,0,0,1,0,0Z" transform="translate(39.304 197.104) rotate(179.997)" fill="#2f2e41"/>
    <path id="Path_23" data-name="Path 23" d="M259.957,610.791l-3.974-.209a1.551,1.551,0,0,1-1.466-1.648l4.75-52.586,21.872,5.9,2.107-.575-6.59,46.552a1.558,1.558,0,0,1-1.446,1.309l-4.284.2a1.551,1.551,0,0,1-1.636-1.591l.776-27.94a.517.517,0,0,0-1.023-.119l-7.485,29.472a1.542,1.542,0,0,1-1.516,1.236Z" transform="translate(-229.011 -422.291)" fill="#2f2e41"/>
    <path id="Path_24" data-name="Path 24" d="M265.483,448.287l.9,19.336.324,7.035a1.54,1.54,0,0,0,1.02,1.386l21.018,7.614a1.486,1.486,0,0,0,.531.093,1.541,1.541,0,0,0,1.548-1.589l-.862-34.766a12.255,12.255,0,0,0-10.2-11.839c-.2-.031-.41-.062-.617-.09a12.029,12.029,0,0,0-9.678,3.133,12.357,12.357,0,0,0-3.977,9.688Z" transform="translate(-236.331 -341.461)" fill="#ccc"/>
    <g id="mlLeftHand">
      <path id="Path_25" data-name="Path 25" d="M347.917,539.222a3.339,3.339,0,0,1-1.782-5.053l-7.127-9.477,6.15-.381,5.825,9.058a3.355,3.355,0,0,1-3.067,5.853Z" transform="translate(-285.467 -400.885)" fill="#ffb8b8"/>
      <path id="Path_26" data-name="Path 26" d="M326.784,484.1a1.541,1.541,0,0,1-.843-.836L315.2,457.685a4.136,4.136,0,0,1,7.627-3.2l10.738,25.583a1.553,1.553,0,0,1-.83,2.03l-4.767,2a1.54,1.54,0,0,1-1.187.006Z" transform="translate(-269.345 -352.534)" fill="#ccc"/>
    </g>
    <g id="mlRightHand">
      <path id="Path_27" data-name="Path 27" d="M298.139,504.622l10.313-19.748a1.619,1.619,0,0,1,2.182-.685l14.97,7.818a1.619,1.619,0,0,1,.685,2.182l-10.313,19.748a1.619,1.619,0,0,1-2.182.685l-14.97-7.818a1.619,1.619,0,0,1-.685-2.182Z" transform="translate(-258.037 -373.955)" fill="#3f3d56"/>
      <path id="Path_28" data-name="Path 28" d="M289.053,502.764a3.34,3.34,0,0,0-5.149-1.48l-9.882-6.555L274,500.891l9.386,5.28a3.355,3.355,0,0,0,5.661-3.407Z" transform="translate(-242.034 -381.119)" fill="#ffb8b8"/>
      <path id="Path_29" data-name="Path 29" d="M257.623,470.284l-8.076-6.4a5.7,5.7,0,0,1-2.6-9l7.333-9.61a3.35,3.35,0,0,1,5.684,3.413l-5.8,9.491,8.526,4.044a1.551,1.551,0,0,1,.646,2.23L259.9,469.9a1.554,1.554,0,0,1-1.051.7l-.026,0A1.558,1.558,0,0,1,257.623,470.284Z" transform="translate(-223.098 -347.254)" fill="#ccc"/>
    </g>
    <g id="mlHead">
      <circle id="Ellipse_14" data-name="Ellipse 14" cx="8.15" cy="8.15" r="8.15" transform="translate(34.572 74.73)" fill="#ffb8b8"/>
      <path id="Path_30" data-name="Path 30" d="M279.777,384.47a.708.708,0,0,1,.616-.935,1.636,1.636,0,0,1,1.154.569,4.59,4.59,0,0,0,1.019.875.877.877,0,0,0,1.154-.208,1.6,1.6,0,0,0-.061-1.246,12.246,12.246,0,0,1-.541-3.242,5.709,5.709,0,0,1,.816-3.467,4.587,4.587,0,0,1,3.931-1.671,26.416,26.416,0,0,1,4.416.782,1.483,1.483,0,0,0,1.444-.242,1.861,1.861,0,0,0,.075-1.66,11.533,11.533,0,0,0-1.747-4.165,6.271,6.271,0,0,0-4-2.253,9.6,9.6,0,0,0-4.467.507,11.978,11.978,0,0,0-5.868,4.088,9.7,9.7,0,0,0-1.851,7.168,8.849,8.849,0,0,0,3.281,5.593Z" transform="translate(-243.214 -296.132)" fill="#2f2e41"/>
    </g>
  </g>
  <g id="rightGroup">
    <g id="manRight">
      <circle id="Ellipse_9" data-name="Ellipse 9" cx="7.964" cy="7.964" r="7.964" transform="translate(185.63 138.046)" fill="#f2f2f2"/>
      <path id="Path_4" data-name="Path 4" d="M560.924,550.533h-4.068l-1.936-15.692h6Z" transform="translate(-370.774 -357.358)" fill="#a0616a"/>
      <path id="Path_5" data-name="Path 5" d="M542.049,578.626H549.9v4.94H537.109A4.94,4.94,0,0,1,542.049,578.626Z" transform="translate(-358.874 -386.613)" fill="#2f2e41"/>
      <path id="Path_6" data-name="Path 6" d="M655.924,550.533h-4.068l-1.936-15.692h6Z" transform="translate(-434.249 -357.358)" fill="#a0616a"/>
      <path id="Path_7" data-name="Path 7" d="M637.049,578.626H644.9v4.94H632.109A4.94,4.94,0,0,1,637.049,578.626Z" transform="translate(-422.348 -386.613)" fill="#2f2e41"/>
      <path id="Path_8" data-name="Path 8" d="M757.517,457.944l3.647-8.379a10.414,10.414,0,0,0-2.306-11.814,10.573,10.573,0,0,0-1.019-.886,10.266,10.266,0,0,0-6.3-2.18,10.678,10.678,0,0,0-4.447.989c-.12.053-.236.109-.355.166-.229.11-.454.229-.674.352a10.512,10.512,0,0,0-5.21,7.924L739.242,457.6c-.4,1.059-14.846,39.287-9.8,68.472a1.482,1.482,0,0,0,1.268,1.218l5.12.7a1.492,1.492,0,0,0,1.662-1.171l8.591-40.953a1.163,1.163,0,0,1,2.256-.076l12.139,43.066a1.484,1.484,0,0,0,1.43,1.088,1.7,1.7,0,0,0,.289-.027l6.255-1.2a1.484,1.484,0,0,0,1.2-1.6C768.743,516.866,763.858,465.52,757.517,457.944Z" transform="translate(-545.626 -341.001)" fill="#2f2e41"/>
      <g id="mrRightHand">
        <path id="Path_9" data-name="Path 9" d="M706.057,415.4a3.337,3.337,0,0,0,3.516,3.718l4.556,10.948,3.446-5.108-4.855-9.613a3.355,3.355,0,0,0-6.663.056Z" transform="translate(-530.698 -326.121)" fill="#a0616a"/>
        <path id="Path_11" data-name="Path 11" d="M729.382,454.723a5.66,5.66,0,0,1-1.094-.108,5.411,5.411,0,0,1-3.965-3.191l-6.383-7.783a1.494,1.494,0,0,1,.369-2.217l4.541-2.811a1.493,1.493,0,0,1,2.063.495l4.5,7.411,8.615-6.367a3.226,3.226,0,0,1,3.753,5.164l-8.6,7.844A5.394,5.394,0,0,1,729.382,454.723Z" transform="translate(-538.427 -343.476)" fill="#2f2e41"/>
      </g>
      <g id="mrLeftHand">
        <path id="Path_10" data-name="Path 10" d="M792.589,510.96a3.337,3.337,0,0,0,2.8-4.285l9.585-6.981-5.771-2.161-8.218,6.961a3.355,3.355,0,0,0,1.607,6.467Z" transform="translate(-586.008 -382.992)" fill="#a0616a"/>
        <path id="Path_12" data-name="Path 12" d="M812.116,471.329h-.035a1.5,1.5,0,0,1-1.1-.521l-4.037-4.71a1.493,1.493,0,0,1,.305-2.214l7.56-5.04-6.849-8.234a3.226,3.226,0,0,1,4.94-4.043l8.324,8.134a5.484,5.484,0,0,1-1.22,8.94l-6.8,7.219A1.5,1.5,0,0,1,812.116,471.329Z" transform="translate(-597.882 -348.376)" fill="#2f2e41"/>
      </g>
      <path id="Path_13" data-name="Path 13" d="M786.229,444.928a1.535,1.535,0,0,1-.193-.012A1.48,1.48,0,0,1,784.8,443.9l-3.034-9.3a1.023,1.023,0,0,1,.529-1.236l.1-.047c.089-.042.178-.084.268-.125a10.81,10.81,0,0,1,4.514-1,10.4,10.4,0,0,1,5.695,1.711,1.039,1.039,0,0,1,.3,1.425l-5.691,8.916A1.478,1.478,0,0,1,786.229,444.928Z" transform="translate(-581.268 -339.331)" fill="#e6e6e6"/>
      <g id="mrHead">
        <circle id="Ellipse_11" data-name="Ellipse 11" cx="9.955" cy="9.955" r="9.955" transform="translate(198.591 70.681)" fill="#2f2e41"/>
        <circle id="Ellipse_12" data-name="Ellipse 12" cx="8.15" cy="8.15" r="8.15" transform="translate(198.883 74.349)" fill="#a0616a"/>
        <circle id="Ellipse_13" data-name="Ellipse 13" cx="3.258" cy="3.258" r="3.258" transform="translate(213.137 69.677)" fill="#2f2e41"/>
        <path id="Path_14" data-name="Path 14" d="M778.739,361.365h0a8.628,8.628,0,0,0-8.628,8.628v3.65h4.49l2.147-3.65.644,3.65h13.625l-3.65-3.65A8.628,8.628,0,0,0,778.739,361.365Z" transform="translate(-573.512 -292.011)" fill="#2f2e41"/>
        <path id="Path_15" data-name="Path 15" d="M834.809,358.391a5.027,5.027,0,0,1,5.469-3.45,6.967,6.967,0,0,1,4.7,3.88,38.218,38.218,0,0,1,2.087,5.949,10.774,10.774,0,0,0,3.25,5.3c1.66,1.294,4.207,1.645,5.837.314a6.676,6.676,0,0,1-12.437,2.383,14.44,14.44,0,0,1-1.337-5.061,11.06,11.06,0,0,0-1.613-4.958,4.1,4.1,0,0,0-4.581-1.705Z" transform="translate(-616.74 -287.688)" fill="#2f2e41"/>
      </g>
    </g>
    <g id="questionMark">
      <circle id="Ellipse_1" data-name="Ellipse 1" cx="15.265" cy="15.265" r="15.265" transform="translate(127.89 166.585)" fill="#6c63ff"/>
      <path id="Path_2" data-name="Path 2" d="M516.071,220.371a44.174,44.174,0,0,0-43.729,43.41c0,.22,0,1.769,0,3.794a11.2,11.2,0,0,0,11.2,11.2h0a11.205,11.205,0,0,0,11.2-11.213c0-1.38,0-2.334,0-2.392a21.238,21.238,0,1,1,32.693,17.879l0,0s-15.938,10.26-20.8,24.336h0a31.192,31.192,0,0,0-1.285,8.883c0,1.236.073,12.053.213,20.832a11.544,11.544,0,0,0,11.545,11.356h0a11.547,11.547,0,0,0,11.546-11.618c-.049-8.04-.075-17.4-.075-18.082,0-8.643,8.338-17.254,15.186-22.87a46.061,46.061,0,0,0,15.841-25.22,28.789,28.789,0,0,0,.829-6.25,44.052,44.052,0,0,0-44.37-44.051Z" transform="translate(-374.552 -197.804)" fill="#6c63ff"/>
      <path id="Path_16" data-name="Path 16" d="M486.381,310.192h0a11.2,11.2,0,0,1-11.2-11.2c0-2.027,0-3.575,0-3.8a43.638,43.638,0,0,1,5.1-19.88,43.737,43.737,0,0,0-8.415,25.19c0,.22,0,1.769,0,3.794a11.2,11.2,0,0,0,11.2,11.2h0a11.207,11.207,0,0,0,10.781-8.16A11.157,11.157,0,0,1,486.381,310.192Z" transform="translate(-374.236 -234.519)" fill="#3f3d56"/>
      <path id="Path_17" data-name="Path 17" d="M571.827,280.739A21.239,21.239,0,0,1,590.3,310.41a21.237,21.237,0,1,0-35.648-22.229A21.2,21.2,0,0,1,571.827,280.739Z" transform="translate(-429.548 -234.576)" fill="#3f3d56"/>
      <path id="Path_18" data-name="Path 18" d="M586.441,499.223h0A11.544,11.544,0,0,1,574.9,487.864c-.14-8.777-.213-19.594-.213-20.83a31.192,31.192,0,0,1,1.285-8.883h0a31.541,31.541,0,0,1,1.823-4.215,36.517,36.517,0,0,0-5.142,9.524h0a31.2,31.2,0,0,0-1.285,8.883c0,1.236.073,12.053.213,20.832a11.544,11.544,0,0,0,11.545,11.356h0a11.548,11.548,0,0,0,11.084-8.31A11.5,11.5,0,0,1,586.441,499.223Z" transform="translate(-440.717 -353.864)" fill="#3f3d56"/>
      <path id="Path_31" data-name="Path 31" d="M574.9,687.383a15.263,15.263,0,0,1-5.665-23.723A15.264,15.264,0,1,0,590,685.716,15.254,15.254,0,0,1,574.9,687.383Z" transform="translate(-435.111 -493.992)" fill="#3f3d56"/>
    </g>
  </g>
</svg>

<svg *ngIf='type == "blue"' class="block {{ entrance == 'true' ? 'entrance' : '' }}" id="undraw_Questions_re_1fy7" xmlns="http://www.w3.org/2000/svg" width="280.299" height="197.533" viewBox="0 0 280.299 197.533">
  <path id="trail" d="M494.63,379.96c8.54-2.565,17.619-5.239,24.391-11.336,6.052-5.448,10.138-13.768,7.631-21.939-2.5-8.154-10-13.591-17.734-16.3a72.757,72.757,0,0,0-13.569-3.053c-4.989-.727-10-1.322-15.009-1.895q-30.422-3.48-61.074-4.251c-10.083-.254-20.164-.248-30.248-.1-9.006.131-18.491.127-26.846-3.7-6.5-2.977-12.394-8.392-14.2-15.508-2.09-8.215,1.765-16.58,7.294-22.529a59.056,59.056,0,0,1,9.835-8.2c3.812-2.633,7.757-5.079,11.787-7.363a164.141,164.141,0,0,1,24.811-11.438c4.23-1.538,8.522-2.865,12.851-4.089a109.954,109.954,0,0,0,10.857-3.477c6.83-2.722,13.327-7.334,15.064-14.894,1.646-7.165-1.129-14.943-5.995-20.266-5.629-6.158-14.116-8.857-22.253-9.294-9.135-.49-18.06,1.8-26.646,4.7-9.158,3.095-18.118,6.653-27.469,9.16a184.817,184.817,0,0,1-28.271,5.255,76.691,76.691,0,0,1-14.188.679c-3.94-.319-7.859-1.478-10.763-4.274a10.644,10.644,0,0,1-3.463-9.17c.093-.632,1.052-.363.96.265-.621,4.233,2.257,8.133,5.8,10.131,4.1,2.309,9.084,2.312,13.646,2.048a178.477,178.477,0,0,0,29.373-4.246,236.054,236.054,0,0,0,27.776-8.574c8.68-3.143,17.553-6.211,26.826-6.891,8.046-.591,16.51.581,23.519,4.786a26.018,26.018,0,0,1,12.134,16.93,19.624,19.624,0,0,1-5.774,18.688c-5.416,4.993-12.843,7.128-19.763,9.094a181.067,181.067,0,0,0-25.682,9.193,161.218,161.218,0,0,0-24.158,13.582c-7.382,5.045-14.668,11.392-17,20.392a18.786,18.786,0,0,0,.933,12.6,23.022,23.022,0,0,0,7.387,8.767c7.407,5.45,16.742,6.569,25.689,6.681,10.049.125,20.1-.214,30.15-.049q30.728.5,61.331,3.741,7.668.812,15.317,1.794a138.5,138.5,0,0,1,13.7,2.222c8.018,1.861,15.82,5.439,20.8,12.238a19.352,19.352,0,0,1,1.648,21.16c-3.827,7.53-11,12.319-18.608,15.465a132.024,132.024,0,0,1-12.528,4.23.5.5,0,0,1-.265-.96Z" transform="translate(-260.283 -183.703)" fill="#f2f2f2"/>
  <g id="ellipses">
    <circle id="Ellipse_2" data-name="Ellipse 2" cx="7.964" cy="7.964" r="7.964" transform="translate(33.812 15.099)" fill="#f2f2f2"/>
    <circle id="Ellipse_3" data-name="Ellipse 3" cx="7.964" cy="7.964" r="7.964" transform="translate(89.064 30.198)" fill="#f2f2f2"/>
    <circle id="Ellipse_4" data-name="Ellipse 4" cx="7.964" cy="7.964" r="7.964" transform="translate(135.854)" fill="#f2f2f2"/>
    <circle id="Ellipse_5" data-name="Ellipse 5" cx="7.964" cy="7.964" r="7.964" transform="translate(165.056 33.848)" fill="#f2f2f2"/>
    <circle id="Ellipse_6" data-name="Ellipse 6" cx="7.964" cy="7.964" r="7.964" transform="translate(125.567 73.005)" fill="#f2f2f2"/>
    <circle id="Ellipse_7" data-name="Ellipse 7" cx="7.964" cy="7.964" r="7.964" transform="translate(75.459 91.92)" fill="#f2f2f2"/>
    <circle id="Ellipse_8" data-name="Ellipse 8" cx="7.964" cy="7.964" r="7.964" transform="translate(128.553 121.454)" fill="#f2f2f2"/>
    <circle id="Ellipse_10" data-name="Ellipse 10" cx="7.964" cy="7.964" r="7.964" transform="translate(252.331 134.396)" fill="#f2f2f2"/>
  </g>
  <path id="floor" d="M457.567,746.04H178.057a.4.4,0,0,1,0-.79H457.566a.4.4,0,1,1,0,.79Z" transform="translate(-177.662 -548.507)" fill="#3f3d56"/>
  <g id="manLeft">
    <path id="Path_19" data-name="Path 19" d="M126.539,550.989h4.068l1.936-15.692h-6Z" transform="translate(-84.547 -357.662)" fill="#ffb8b8"/>
    <path id="Path_20" data-name="Path 20" d="M0,0H12.786V4.94H4.94A4.94,4.94,0,0,1,0,0Z" transform="translate(53.905 197.104) rotate(179.997)" fill="#2f2e41"/>
    <path id="Path_21" data-name="Path 21" d="M82.539,550.989h4.068L88.543,535.3h-6Z" transform="translate(-55.148 -357.662)" fill="#ffb8b8"/>
    <path id="Path_22" data-name="Path 22" d="M0,0H12.786V4.94H4.94A4.94,4.94,0,0,1,0,0Z" transform="translate(39.304 197.104) rotate(179.997)" fill="#2f2e41"/>
    <path id="Path_23" data-name="Path 23" d="M259.957,610.791l-3.974-.209a1.551,1.551,0,0,1-1.466-1.648l4.75-52.586,21.872,5.9,2.107-.575-6.59,46.552a1.558,1.558,0,0,1-1.446,1.309l-4.284.2a1.551,1.551,0,0,1-1.636-1.591l.776-27.94a.517.517,0,0,0-1.023-.119l-7.485,29.472a1.542,1.542,0,0,1-1.516,1.236Z" transform="translate(-229.011 -422.291)" fill="#2f2e41"/>
    <path id="Path_24" data-name="Path 24" d="M265.483,448.287l.9,19.336.324,7.035a1.54,1.54,0,0,0,1.02,1.386l21.018,7.614a1.486,1.486,0,0,0,.531.093,1.541,1.541,0,0,0,1.548-1.589l-.862-34.766a12.255,12.255,0,0,0-10.2-11.839c-.2-.031-.41-.062-.617-.09a12.029,12.029,0,0,0-9.678,3.133,12.357,12.357,0,0,0-3.977,9.688Z" transform="translate(-236.331 -341.461)" fill="#ccc"/>
    <g id="mlLeftHand">
      <path id="Path_25" data-name="Path 25" d="M347.917,539.222a3.339,3.339,0,0,1-1.782-5.053l-7.127-9.477,6.15-.381,5.825,9.058a3.355,3.355,0,0,1-3.067,5.853Z" transform="translate(-285.467 -400.885)" fill="#ffb8b8"/>
      <path id="Path_26" data-name="Path 26" d="M326.784,484.1a1.541,1.541,0,0,1-.843-.836L315.2,457.685a4.136,4.136,0,0,1,7.627-3.2l10.738,25.583a1.553,1.553,0,0,1-.83,2.03l-4.767,2a1.54,1.54,0,0,1-1.187.006Z" transform="translate(-269.345 -352.534)" fill="#ccc"/>
    </g>
    <g id="mlRightHand">
      <path id="Path_27" data-name="Path 27" d="M298.139,504.622l10.313-19.748a1.619,1.619,0,0,1,2.182-.685l14.97,7.818a1.619,1.619,0,0,1,.685,2.182l-10.313,19.748a1.619,1.619,0,0,1-2.182.685l-14.97-7.818a1.619,1.619,0,0,1-.685-2.182Z" transform="translate(-258.037 -373.955)" fill="#3f3d56"/>
      <path id="Path_28" data-name="Path 28" d="M289.053,502.764a3.34,3.34,0,0,0-5.149-1.48l-9.882-6.555L274,500.891l9.386,5.28a3.355,3.355,0,0,0,5.661-3.407Z" transform="translate(-242.034 -381.119)" fill="#ffb8b8"/>
      <path id="Path_29" data-name="Path 29" d="M257.623,470.284l-8.076-6.4a5.7,5.7,0,0,1-2.6-9l7.333-9.61a3.35,3.35,0,0,1,5.684,3.413l-5.8,9.491,8.526,4.044a1.551,1.551,0,0,1,.646,2.23L259.9,469.9a1.554,1.554,0,0,1-1.051.7l-.026,0A1.558,1.558,0,0,1,257.623,470.284Z" transform="translate(-223.098 -347.254)" fill="#ccc"/>
    </g>
    <g id="mlHead">
      <circle id="Ellipse_14" data-name="Ellipse 14" cx="8.15" cy="8.15" r="8.15" transform="translate(34.572 74.73)" fill="#ffb8b8"/>
      <path id="Path_30" data-name="Path 30" d="M279.777,384.47a.708.708,0,0,1,.616-.935,1.636,1.636,0,0,1,1.154.569,4.59,4.59,0,0,0,1.019.875.877.877,0,0,0,1.154-.208,1.6,1.6,0,0,0-.061-1.246,12.246,12.246,0,0,1-.541-3.242,5.709,5.709,0,0,1,.816-3.467,4.587,4.587,0,0,1,3.931-1.671,26.416,26.416,0,0,1,4.416.782,1.483,1.483,0,0,0,1.444-.242,1.861,1.861,0,0,0,.075-1.66,11.533,11.533,0,0,0-1.747-4.165,6.271,6.271,0,0,0-4-2.253,9.6,9.6,0,0,0-4.467.507,11.978,11.978,0,0,0-5.868,4.088,9.7,9.7,0,0,0-1.851,7.168,8.849,8.849,0,0,0,3.281,5.593Z" transform="translate(-243.214 -296.132)" fill="#2f2e41"/>
    </g>
  </g>
  <g id="rightGroup">
    <g id="manRight">
      <circle id="Ellipse_9" data-name="Ellipse 9" cx="7.964" cy="7.964" r="7.964" transform="translate(185.63 138.046)" fill="#f2f2f2"/>
      <path id="Path_4" data-name="Path 4" d="M560.924,550.533h-4.068l-1.936-15.692h6Z" transform="translate(-370.774 -357.358)" fill="#a0616a"/>
      <path id="Path_5" data-name="Path 5" d="M542.049,578.626H549.9v4.94H537.109A4.94,4.94,0,0,1,542.049,578.626Z" transform="translate(-358.874 -386.613)" fill="#2f2e41"/>
      <path id="Path_6" data-name="Path 6" d="M655.924,550.533h-4.068l-1.936-15.692h6Z" transform="translate(-434.249 -357.358)" fill="#a0616a"/>
      <path id="Path_7" data-name="Path 7" d="M637.049,578.626H644.9v4.94H632.109A4.94,4.94,0,0,1,637.049,578.626Z" transform="translate(-422.348 -386.613)" fill="#2f2e41"/>
      <path id="Path_8" data-name="Path 8" d="M757.517,457.944l3.647-8.379a10.414,10.414,0,0,0-2.306-11.814,10.573,10.573,0,0,0-1.019-.886,10.266,10.266,0,0,0-6.3-2.18,10.678,10.678,0,0,0-4.447.989c-.12.053-.236.109-.355.166-.229.11-.454.229-.674.352a10.512,10.512,0,0,0-5.21,7.924L739.242,457.6c-.4,1.059-14.846,39.287-9.8,68.472a1.482,1.482,0,0,0,1.268,1.218l5.12.7a1.492,1.492,0,0,0,1.662-1.171l8.591-40.953a1.163,1.163,0,0,1,2.256-.076l12.139,43.066a1.484,1.484,0,0,0,1.43,1.088,1.7,1.7,0,0,0,.289-.027l6.255-1.2a1.484,1.484,0,0,0,1.2-1.6C768.743,516.866,763.858,465.52,757.517,457.944Z" transform="translate(-545.626 -341.001)" fill="#2f2e41"/>
      <g id="mrRightHand">
        <path id="Path_9" data-name="Path 9" d="M706.057,415.4a3.337,3.337,0,0,0,3.516,3.718l4.556,10.948,3.446-5.108-4.855-9.613a3.355,3.355,0,0,0-6.663.056Z" transform="translate(-530.698 -326.121)" fill="#a0616a"/>
        <path id="Path_11" data-name="Path 11" d="M729.382,454.723a5.66,5.66,0,0,1-1.094-.108,5.411,5.411,0,0,1-3.965-3.191l-6.383-7.783a1.494,1.494,0,0,1,.369-2.217l4.541-2.811a1.493,1.493,0,0,1,2.063.495l4.5,7.411,8.615-6.367a3.226,3.226,0,0,1,3.753,5.164l-8.6,7.844A5.394,5.394,0,0,1,729.382,454.723Z" transform="translate(-538.427 -343.476)" fill="#2f2e41"/>
      </g>
      <g id="mrLeftHand">
        <path id="Path_10" data-name="Path 10" d="M792.589,510.96a3.337,3.337,0,0,0,2.8-4.285l9.585-6.981-5.771-2.161-8.218,6.961a3.355,3.355,0,0,0,1.607,6.467Z" transform="translate(-586.008 -382.992)" fill="#a0616a"/>
        <path id="Path_12" data-name="Path 12" d="M812.116,471.329h-.035a1.5,1.5,0,0,1-1.1-.521l-4.037-4.71a1.493,1.493,0,0,1,.305-2.214l7.56-5.04-6.849-8.234a3.226,3.226,0,0,1,4.94-4.043l8.324,8.134a5.484,5.484,0,0,1-1.22,8.94l-6.8,7.219A1.5,1.5,0,0,1,812.116,471.329Z" transform="translate(-597.882 -348.376)" fill="#2f2e41"/>
      </g>
      <path id="Path_13" data-name="Path 13" d="M786.229,444.928a1.535,1.535,0,0,1-.193-.012A1.48,1.48,0,0,1,784.8,443.9l-3.034-9.3a1.023,1.023,0,0,1,.529-1.236l.1-.047c.089-.042.178-.084.268-.125a10.81,10.81,0,0,1,4.514-1,10.4,10.4,0,0,1,5.695,1.711,1.039,1.039,0,0,1,.3,1.425l-5.691,8.916A1.478,1.478,0,0,1,786.229,444.928Z" transform="translate(-581.268 -339.331)" fill="#e6e6e6"/>
      <g id="mrHead">
        <circle id="Ellipse_11" data-name="Ellipse 11" cx="9.955" cy="9.955" r="9.955" transform="translate(198.591 70.681)" fill="#2f2e41"/>
        <circle id="Ellipse_12" data-name="Ellipse 12" cx="8.15" cy="8.15" r="8.15" transform="translate(198.883 74.349)" fill="#a0616a"/>
        <circle id="Ellipse_13" data-name="Ellipse 13" cx="3.258" cy="3.258" r="3.258" transform="translate(213.137 69.677)" fill="#2f2e41"/>
        <path id="Path_14" data-name="Path 14" d="M778.739,361.365h0a8.628,8.628,0,0,0-8.628,8.628v3.65h4.49l2.147-3.65.644,3.65h13.625l-3.65-3.65A8.628,8.628,0,0,0,778.739,361.365Z" transform="translate(-573.512 -292.011)" fill="#2f2e41"/>
        <path id="Path_15" data-name="Path 15" d="M834.809,358.391a5.027,5.027,0,0,1,5.469-3.45,6.967,6.967,0,0,1,4.7,3.88,38.218,38.218,0,0,1,2.087,5.949,10.774,10.774,0,0,0,3.25,5.3c1.66,1.294,4.207,1.645,5.837.314a6.676,6.676,0,0,1-12.437,2.383,14.44,14.44,0,0,1-1.337-5.061,11.06,11.06,0,0,0-1.613-4.958,4.1,4.1,0,0,0-4.581-1.705Z" transform="translate(-616.74 -287.688)" fill="#2f2e41"/>
      </g>
    </g>
    <g id="questionMark">
      <circle id="Ellipse_1" data-name="Ellipse 1" cx="15.265" cy="15.265" r="15.265" transform="translate(127.89 166.585)" fill="#53A5FE"/>
      <path id="Path_2" data-name="Path 2" d="M516.071,220.371a44.174,44.174,0,0,0-43.729,43.41c0,.22,0,1.769,0,3.794a11.2,11.2,0,0,0,11.2,11.2h0a11.205,11.205,0,0,0,11.2-11.213c0-1.38,0-2.334,0-2.392a21.238,21.238,0,1,1,32.693,17.879l0,0s-15.938,10.26-20.8,24.336h0a31.192,31.192,0,0,0-1.285,8.883c0,1.236.073,12.053.213,20.832a11.544,11.544,0,0,0,11.545,11.356h0a11.547,11.547,0,0,0,11.546-11.618c-.049-8.04-.075-17.4-.075-18.082,0-8.643,8.338-17.254,15.186-22.87a46.061,46.061,0,0,0,15.841-25.22,28.789,28.789,0,0,0,.829-6.25,44.052,44.052,0,0,0-44.37-44.051Z" transform="translate(-374.552 -197.804)" fill="#53A5FE"/>
      <path id="Path_16" data-name="Path 16" d="M486.381,310.192h0a11.2,11.2,0,0,1-11.2-11.2c0-2.027,0-3.575,0-3.8a43.638,43.638,0,0,1,5.1-19.88,43.737,43.737,0,0,0-8.415,25.19c0,.22,0,1.769,0,3.794a11.2,11.2,0,0,0,11.2,11.2h0a11.207,11.207,0,0,0,10.781-8.16A11.157,11.157,0,0,1,486.381,310.192Z" transform="translate(-374.236 -234.519)" fill="#3f3d56"/>
      <path id="Path_17" data-name="Path 17" d="M571.827,280.739A21.239,21.239,0,0,1,590.3,310.41a21.237,21.237,0,1,0-35.648-22.229A21.2,21.2,0,0,1,571.827,280.739Z" transform="translate(-429.548 -234.576)" fill="#3f3d56"/>
      <path id="Path_18" data-name="Path 18" d="M586.441,499.223h0A11.544,11.544,0,0,1,574.9,487.864c-.14-8.777-.213-19.594-.213-20.83a31.192,31.192,0,0,1,1.285-8.883h0a31.541,31.541,0,0,1,1.823-4.215,36.517,36.517,0,0,0-5.142,9.524h0a31.2,31.2,0,0,0-1.285,8.883c0,1.236.073,12.053.213,20.832a11.544,11.544,0,0,0,11.545,11.356h0a11.548,11.548,0,0,0,11.084-8.31A11.5,11.5,0,0,1,586.441,499.223Z" transform="translate(-440.717 -353.864)" fill="#3f3d56"/>
      <path id="Path_31" data-name="Path 31" d="M574.9,687.383a15.263,15.263,0,0,1-5.665-23.723A15.264,15.264,0,1,0,590,685.716,15.254,15.254,0,0,1,574.9,687.383Z" transform="translate(-435.111 -493.992)" fill="#3f3d56"/>
    </g>
  </g>
</svg>