@import '../../../../theme/colors';

.main-container{
    padding: 65px 20px 20px;

    .header{
        padding: 20px 0;
        h1{
            font-weight: 700;
            font-size: 35px;
            color: $primary;
            // text-decoration: underline;
        }
    }

    ion-segment{

        border-radius: 50px;
        --background: #4279FC11;
        margin-bottom: 20px;

        &-button{

            margin: 0;
            padding: 8px;
            --indicator-box-shadow: none;
            // --background-checked: #4279FC;
            --indicator-color: #4279FC;

            &.segment-button-checked{

                ion-label{
                    color: white;
                }

            }

            &:first-child{
            
                --border-radius: 50px 0 0 50px;

            }

            &:last-child{

                --border-radius: 0 50px 50px 0;

            }

        }

    }

    .searchbar{
        width: 100%;
        ion-item{
            --highlight-color-focused: transparent;
            --background: #edf7ff;
            border-radius: 20px 20px 0 0;
        }
    }

    ion-content{
        --background: #edf7ff;
        border-radius: 0 0 20px 20px;
        overflow: hidden;

        .history-container{
            width: 100%;

            .history-item{

                width: 100%;
                padding: 40px 20px;
                border-bottom: 1px solid #b8cfe9;
                transition: .2s;

                &:active{
                    background-color: #d0e7ff;
                }

                p{
                    width: fit-content;
                    font-size: 16px;
                }

                h5{
                    font-weight: 700;
                    font-size: 16px;
                }

                ion-icon{
                    font-size: 30px;
                    margin-right: 10px;
                }

                .descriptor-panel{

                    ion-skeleton-text{
                        &:first-child{
                            width: 30px;
                            height: 30px;
                            margin-right: 20px;
                            --border-radius: 8px;
                        }
                    }

                }

                .sub-details{
                    flex-wrap: wrap;
                    padding: 3px 0;

                    ion-skeleton-text{
                        width: 40%;
                        --border-radius: 8px;
                    }
                }

                .request-status{

                    --color: #3e3e3e;

                    span{
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        margin-right: 10px;
                        background-color: var(--color);
                    }

                    p{
                        font-weight: 600;
                        color: var(--color);
                    }

                    &.pending{
                        --color: #f89406;
                    }

                    &.declined{
                        --color: #f03434;
                    }

                    &.approved{
                        --color: #1e955b;
                    }

                }

            }
        }
    }
}