<ion-content>
  <app-custom-header></app-custom-header>

  <div class="main-container">

    <div class="header">
      <h1>Refund History</h1>
    </div>

    <ion-segment mode="ios" value="pending" (ionChange)="switchSlide($event)">

      <ion-segment-button value="pending">
        <ion-label>Pending</ion-label>
      </ion-segment-button>

      <ion-segment-button value="processed">
        <ion-label>Processed</ion-label>
      </ion-segment-button>

    </ion-segment>

    <div class="searchbar">
      <ion-item lines="none">
        <ion-icon slot="start" name="search-outline"></ion-icon>
        <ion-input placeholder="Search..." [(ngModel)]="searchKey" debounce="800" (ionChange)="searchHistory()"></ion-input>
        <ion-icon slot="end" name="funnel" (click)="sort()"></ion-icon>
      </ion-item>
    </div>

    <ion-content>

      <ion-slides #historySlide [options]="{autoHeight: true }">

        <ion-slide>
          <div class="flex-col history-container">

            <div class="history-loader" *ngIf="loading">
              <div class="history-item">

                <div class="flex-col">
                  <div class="flex-alcen descriptor-panel">
                    <ion-skeleton-text animated="true"></ion-skeleton-text>
                    <ion-skeleton-text animated="true"></ion-skeleton-text>
                  </div>
                  <div class="flex-alcen-jusSB sub-details">
                    <ion-skeleton-text animated="true"></ion-skeleton-text>
                    <ion-skeleton-text animated="true"></ion-skeleton-text>
                  </div>
                  <div class="flex-alcen-jusSB sub-details">
                    <ion-skeleton-text animated="true"></ion-skeleton-text>
                    <ion-skeleton-text animated="true"></ion-skeleton-text>
                  </div>
                </div>

              </div>
              <div class="history-item">

                <div class="flex-col">
                  <div class="flex-alcen descriptor-panel">
                    <ion-skeleton-text animated="true"></ion-skeleton-text>
                    <ion-skeleton-text animated="true"></ion-skeleton-text>
                  </div>
                  <div class="flex-alcen-jusSB sub-details">
                    <ion-skeleton-text animated="true"></ion-skeleton-text>
                    <ion-skeleton-text animated="true"></ion-skeleton-text>
                  </div>
                  <div class="flex-alcen-jusSB sub-details">
                    <ion-skeleton-text animated="true"></ion-skeleton-text>
                    <ion-skeleton-text animated="true"></ion-skeleton-text>
                  </div>
                </div>

              </div>
              <div class="history-item">

                <div class="flex-col">
                  <div class="flex-alcen descriptor-panel">
                    <ion-skeleton-text animated="true"></ion-skeleton-text>
                    <ion-skeleton-text animated="true"></ion-skeleton-text>
                  </div>
                  <div class="flex-alcen-jusSB sub-details">
                    <ion-skeleton-text animated="true"></ion-skeleton-text>
                    <ion-skeleton-text animated="true"></ion-skeleton-text>
                  </div>
                  <div class="flex-alcen-jusSB sub-details">
                    <ion-skeleton-text animated="true"></ion-skeleton-text>
                    <ion-skeleton-text animated="true"></ion-skeleton-text>
                  </div>
                </div>

              </div>
            </div>

            <div *ngFor="let history of pendingRefund" class="history-item" (click)="showRefundInfo(history)">

              <div class="flex-col">
                <div class="flex-alcen">
                  <ion-icon *ngIf="isRefund(history['response'])" src="assets/svg/refund.svg"></ion-icon>
                  <ion-icon *ngIf="isCancellation(history['response'])" src="assets/svg/cancel-subscription.svg"></ion-icon>
                  <h5>{{history['descriptor_or_mid']}}</h5>
                </div>
                <div class="flex-alcen-jusSB sub-details">
                  <p>{{parseDate(history['refund_request_date'])}}</p>
                  <p>{{history['card_number']}}</p>
                </div>
                <div class="flex-alcen-jusSB sub-details">
                  <p>{{history['email_address']}}</p>
                  <div class="flex-alcen request-status pending">
                    <span class="status-indicator"></span>
                    <p>Requested</p>
                  </div>
                </div>
              </div>

            </div>

          </div>
        </ion-slide>

        <ion-slide>

          <div class="flex-col history-container">

            <div *ngFor="let history of processedRefund" class="history-item" (click)="showRefundInfo(history)">

              <div class="flex-col">
                <div class="flex-alcen">
                  <ion-icon *ngIf="isRefund(history['response'])" src="assets/svg/refund.svg"></ion-icon>
                  <ion-icon *ngIf="isCancellation(history['response'])" src="assets/svg/cancel-subscription.svg"></ion-icon>
                  <h5>{{history['descriptor_or_mid']}}</h5>
                </div>
                <div class="flex-alcen-jusSB sub-details">
                  <p>{{parseDate(history['refund_request_date'])}}</p>
                  <p>{{history['card_number']}}</p>
                </div>
                <div class="flex-alcen-jusSB sub-details">
                  <p>{{history['email_address']}}</p>
                  <div class="flex-alcen request-status approved" *ngIf="history['refund_Status'] == 'REFUND APPROVED' || history['refund_Status'] == 'REFUND ISSUED' || history['refund_Status'] == 'SUBSCRIPTION CANCELLED'">
                    <span class="status-indicator"></span>
                    <p>{{history['refund_Status'].split(' ')[1]}}</p>
                  </div>
                  <div class="flex-alcen request-status declined" *ngIf="history['refund_Status'] == 'REFUND DECLINED' || history['refund_Status'] == 'REFUND FAILED' || history['refund_Status'] == 'CANCELLATION DECLINED'">
                    <span class="status-indicator"></span>
                    <p>{{history['refund_Status'].split(' ')[1]}}</p>
                  </div>
                </div>
              </div>

            </div>

          </div>
        </ion-slide>

      </ion-slides>

    </ion-content>

  </div>
</ion-content>