<ion-content>

  <div class="main-container">

    <div class="illustration">
      <h1>Thank you!</h1>
      <p>We're happy to assist you 24 hours a day everyday!</p>
    </div>

    <h3>Have a nice day!</h3>
    
    <app-thankyou-svg></app-thankyou-svg>

    <div class="contact-options">

      <p>Questions?</p>

      <div class="option-item" (click)="call()">
        <ion-icon name="call"></ion-icon>
        <ion-label>
          <p>Call us at <br> (855) 660-3124</p>
        </ion-label>
      </div>

      <div class="option-item" (click)="chat()">
        <ion-icon src='assets/svg/messenger.svg'></ion-icon>
        <ion-label>
          <p>Chat now</p>
        </ion-label>
      </div>

      <div class="option-item" (click)="email()">
        <ion-icon name="mail"></ion-icon>
        <ion-label>
          <p>Send us an email</p>
        </ion-label>
      </div>

      <ion-button (click)="returnHome()">Return to Home</ion-button>
      
    </div>


  </div>

</ion-content>
