@import '../../../theme/colors';

.main-container{
    justify-content: space-between;
    padding: 20px;
    background: linear-gradient(to bottom right, white, #ecfaff, #fcf0ff);

    *{
        position: relative;
        z-index: 2;
    }

    app-thankyou-svg{
        width: 130%;
        opacity: .3;
        position: absolute;
        top: 40%;
        left: 55%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }

    .illustration{
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 30px;

        *{
            margin: 10px 0;
        }

        h1{
            font-weight: 700;
            font-size: 30px;
            color: $marine;
        }
    }

    .contact-options{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        >p{
            margin-bottom: 20px;
        }

        .option-item{
            width: 85%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: white;
            padding: 20px;
            border-radius: 20px;
            box-shadow: 0 3px 12px rgba($color: #000000, $alpha: .1);
            height: 80px;
            margin-bottom: 10px;
            text-align: center;

            &:active{
                transform: scale(.9) !important;
            }

            ion-icon{
                font-size: 30px;
                color: $highlight;
            }

            ion-label{
                flex: 100%;
                display: flex;
                justify-content: center;
                
                p{
                    font-size: 14px;
                    color: $black;
                    width: 80%;
                }
            }
        }

        ion-button{
            width: 85%;
            --background: #0f345c;
            --background-activated: #0b2c50;
            color: white;
        }
    }

}