@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import '../../theme/colors';
*{
    font-family: 'Poppins', sans-serif !important;
// }

// *:not(ion-toast){
    color: $black;
}

.flex{
    display: flex;
    
    &-alstart{
        @extend.flex;
        align-items: flex-start;

        &-jusstart{
            @extend.flex-alstart;
            justify-content: flex-start;
        }

        &-jusend{
            @extend.flex-alstart;
            justify-content: flex-end;
        }

        &-juscen{
            @extend.flex-alstart;
            justify-content: center;
        }

        &-jusSA{
            @extend.flex-alstart;
            justify-content: space-around;
        }

        &-jusSB{
            @extend.flex-alstart;
            justify-content: space-between;
        }

        &-jusSE{
            @extend.flex-alstart;
            justify-content: space-evenly;
        }
    }

    &-alcen{
        @extend.flex;
        align-items: center;

        &-jusstart{
            @extend.flex-alcen;
            justify-content: flex-start;
        }

        &-jusend{
            @extend.flex-alcen;
            justify-content: flex-end;
        }

        &-juscen{
            @extend.flex-alcen;
            justify-content: center;
        }

        &-jusSA{
            @extend.flex-alcen;
            justify-content: space-around;
        }

        &-jusSB{
            @extend.flex-alcen;
            justify-content: space-between;
        }

        &-jusSE{
            @extend.flex-alcen;
            justify-content: space-evenly;
        }
    }

    &-alend{
        @extend.flex;
        align-items: flex-end;

        &-jusstart{
            @extend.flex-alend;
            justify-content: flex-start;
        }

        &-jusend{
            @extend.flex-alend;
            justify-content: flex-end;
        }

        &-juscen{
            @extend.flex-alend;
            justify-content: center;
        }

        &-jusSA{
            @extend.flex-alend;
            justify-content: space-around;
        }

        &-jusSB{
            @extend.flex-alend;
            justify-content: space-between;
        }

        &-jusSE{
            @extend.flex-alend;
            justify-content: space-evenly;
        }
    }

    &-jusstart{
        @extend.flex;
        justify-content: flex-start;
    }

    &-jusend{
        @extend.flex;
        justify-content: flex-end;
    }

    &-jusSA{
        @extend.flex;
        justify-content: space-around;
    }

    &-jusSB{
        @extend.flex;
        justify-content: space-between;
    }

    &-jusSE{
        @extend.flex;
        justify-content: space-evenly;
    }

    &-col{
        @extend.flex;
        flex-direction: column;

        &-alstart{
            @extend.flex-col;
            align-items: flex-start;
    
            &-jusstart{
                @extend.flex-col-alstart;
                justify-content: flex-start;
            }
    
            &-jusend{
                @extend.flex-col-alstart;
                justify-content: flex-end;
            }
    
            &-juscen{
                @extend.flex-col-alstart;
                justify-content: center;
            }
    
            &-jusSA{
                @extend.flex-col-alstart;
                justify-content: space-around;
            }
    
            &-jusSB{
                @extend.flex-col-alstart;
                justify-content: space-between;
            }
    
            &-jusSE{
                @extend.flex-col-alstart;
                justify-content: space-evenly;
            }
        }
    
        &-alcen{
            @extend.flex-col;
            align-items: center;
    
            &-jusstart{
                @extend.flex-col-alcen;
                justify-content: flex-start;
            }
    
            &-jusend{
                @extend.flex-col-alcen;
                justify-content: flex-end;
            }
    
            &-juscen{
                @extend.flex-col-alcen;
                justify-content: center;
            }
    
            &-jusSA{
                @extend.flex-col-alcen;
                justify-content: space-around;
            }
    
            &-jusSB{
                @extend.flex-col-alcen;
                justify-content: space-between;
            }
    
            &-jusSE{
                @extend.flex-col-alcen;
                justify-content: space-evenly;
            }
        }
    
        &-alend{

            @extend.flex-col;
            align-items: flex-end;
    
            &-jusstart{
                @extend.flex-col-alend;
                justify-content: flex-start;
            }
    
            &-jusend{
                @extend.flex-col-alend;
                justify-content: flex-end;
            }
    
            &-juscen{
                @extend.flex-col-alend;
                justify-content: center;
            }
    
            &-jusSA{
                @extend.flex-col-alend;
                justify-content: space-around;
            }
    
            &-jusSB{
                @extend.flex-col-alend;
                justify-content: space-between;
            }
    
            &-jusSE{
                @extend.flex-col-alend;
                justify-content: space-evenly;
            }
        }
    
        &-jusstart{
            @extend.flex-col;
            justify-content: flex-start;
        }
    
        &-jusend{
            @extend.flex-col;
            justify-content: flex-end;
        }
    
        &-jusSA{
            @extend.flex-col;
            justify-content: space-around;
        }
    
        &-jusSB{
            @extend.flex-col;
            justify-content: space-between;
        }
    
        &-jusSE{
            @extend.flex-col;
            justify-content: space-evenly;
        }
    }
}

.main-container{
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p, h1, h2, h3, h4, h5, h6{
    margin: 0;
    color: $black;
}

ion-button{
    --padding-top: 8px;
    --padding-bottom: 8px;
    --padding-start: 12px;
    --padding-end: 12px;
    min-height: 45px;
    --box-shadow: none;
    --border-radius: 12px;
}

ion-item{
    --padding-top: 3px;
    --padding-bottom: 3px;
    --padding-start: 24px;
    --padding-end: 12px;
}

.alert-checkbox-group{
    button{
        contain: none !important;
        height: unset !important;

        .alert-checkbox-label{
            white-space: normal;
        }
    }
}

ion-toast{
    color: #fafafa;
}

app-custom-header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
}

app-custom-footer{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9;
}

.txn-picker-modal{
    .modal-wrapper{
        background: rgba($color: #000000, $alpha: .1);
        backdrop-filter: blur(3px);
    }
}

.swiper-wrapper{
    height: unset;
}

.action-sheet-button{
    contain: unset !important;
    height: unset !important;
    padding: 18px !important;
    font-size: 16px !important;
    font-weight: 500 !important;
}

.emailer{
    .modal-wrapper{
        background: transparent;
    }
}

.chatroom-textarea{
    .native-textarea{
        color: white !important;
    }
}

.convo-bubbles{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;

    .date-divider{
        text-align: center;
        padding: 20px;

        p{
            font-weight: 500;
            color: #c5c5c5;
            font-size: 14px;
        }
    }

    .new-convo-bubbles{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    

    br{
        display: none !important;
    }

    .date_time{
        display: inline-block;
        overflow: hidden;
        height: 0;
        i{
            display: relative;
            color: rgba($color: #000000, $alpha: .5);
            font-size: 14px;
        }
    }

    .agent_msg{
        display: flex;
        width: 100%;
        padding: 10px;

        &:last-child{
            padding-bottom: 20px;
        }

        img{
            display: none;
        }

        .img{
            width: 50px;
            height: 50px;
            background-color: rgba($color: $highlight, $alpha: .8);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            position: relative;
            top: 25px;
            margin-right: 10px;
            span{
                color: white;
                font-size: 25px;
            }
        }

        .msg_content{
            width: 70%;
            display: flex;
            flex-direction: column;
            position: relative;

            .agentname{
                b{
                    color: rgba($color: #000000, $alpha: .5);
                    font-size: 14px;
                    font-weight: 500;
                }
            }

            .agentmsg{
                padding: 10px 15px;
                border-radius: 0 20px 20px;
                background: rgba($color: #000000, $alpha: .05);
                display: inline-block;
                color: $black;
                width: fit-content;
                max-width: 100%;
            }
        }
    }

    .clients_msg{
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        padding: 10px;
        height: fit-content;

        &:last-child{
            padding-bottom: 20px;
        }


        img{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-left: 10px;
            position: relative;
            top: 25px;
        }

        .msg_content{
            width: 70%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            position: relative;

            .aclientname{
                b{
                    color: rgba($color: #000000, $alpha: .5);
                    font-size: 14px;
                    font-weight: 500;
                }
            }

            .clientmsg{
                padding: 10px 15px !important;
                border-radius: 20px 0 20px 20px !important;
                background: $primary !important;
                display: inline-block;
                color: white !important;
                width: fit-content;
                max-width: 100%;
            }
        }

        &.alert-danger{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: rgba($color: $red, $alpha: .5);
            font-size: 14px;
            padding:  20px;
            text-align: center;

            *{
                color: rgba($color: $red, $alpha: .5) !important;
            }

            .date_time{
                height: unset;
                overflow: unset;
            }
        }
    }
}

body.onTransition{
    pointer-events: none;
    *{
        pointer-events: none;
        transition: 1s !important;
    }
}

body.light{
    .main-container{
        background: white;
    }
}

body.dark {

    *, p, h1, h2, h3, h4, h5, h6{
        color: white;
    }

    span{
        color: $highlight;
    }

    ion-menu{

        ion-content{
            --background: #353538 !important;

            .logo{
                background-color: rgba($color: white, $alpha: .05) !important;

                img{
                    background-color: #084a95;
                }
            }
        }

    }

    ion-action-sheet{
        --background: #2e2e2e !important;

        span{
            color: #fafafa !important;
        }

        .action-sheet-group-cancel{
            button{
                &::after{
                    background: #2e2e2e !important;
                }
            }
        }
    }

    ion-loading{
        --background: #2e2e2e !important;

        .spinner-lines{
            color: white !important;
        }
    }

    ion-alert{
        --background: #2e2e2e !important;
        --ion-text-color: white !important;
        span, .alert-message{
            color: white !important;
        }
    }

    app-custom-header{

        .custom-header{
            background-color: #2e2e2e !important;
            
            img{
                filter: brightness(100) !important;
            }

            .menu-extendee{
                svg{
                    path{
                        fill: #343437 !important;
                    }
                }
            }
        }

    }
    
    app-custom-footer{

        .custom-footer{
            
            .container{
                svg{
                    path{
                        fill: #2e2e2e !important;
                    }
                }

                ion-button{
                    &.active{        
                        ion-icon{
                            color: #42a8fc !important;
                        }
                    }
                }
            }

            ion-fab{
                ion-fab-button{
                    --background: #2e2e2e !important;
                }
            }
        }
    }

    app-home{
        .main-container{
            background: #2e2e2e !important;

            .support{
                span{
                    color: #0077ff !important;
                }

                app-support-svg{
                    opacity: 1 !important;
                }
            }

            .help-item{
                background: linear-gradient(to bottom right, #2e2e2e, #2e2e2e, #464646, #2e2e2e) !important;

                .content{
                    h3{
                        color: #0077ff !important;
                    }
                    p{
                        color: rgba($color: white, $alpha: .8) !important;
                    }
                }

                ion-button{
                    --background: #555 !important;
                    --background-activated: #4e4e4e !important;
                    --border-color: #888888 !important;
                    ion-icon{
                        color: #fafafa !important;
                    }
                }
            }

            .info{
                ion-item{
                    ion-input{
                        --color: #0077ff;
                    }
                }
            }

            .action{
                ion-icon{
                    color: #2e2e2e !important;
                }
            }

        }
    }

    app-login{
        
        .main-container{
            background-color: rgba($color: $primary, $alpha: .8);
        }

        .ican-logo{
            filter: brightness(100) !important;
        }
    
        .welcome{
            p{
                color: #49a7ff !important;
            }
        }
    
        ion-item{
            --background: #233244 !important;
    
            ion-icon{
                color: #fafafa !important;
            }
        }
    
        .google{
            ion-button{
                --background: #0f345c !important;
            }
        }
        span{
            color: #42d1fc !important;
        }
    
    }

    app-sign-up{
    
        ion-toolbar{
            --background: #2e2e2e !important;
    
            ion-button{
                --color: #fafafa !important;
    
                ion-icon{
                    color: #fafafa !important;
                }
            }
        }
    
        .main-container{

            background: #2e2e2e !important;
    
            .header{
                p{
                    color: #fafafa !important;
                }
            }
    
            ion-item{
                --background: #233244 !important;
    
                ion-icon{
                    color: #fafafa !important;
                }
            }
    
            .google-signup{
                .divider{
                    color: #fafafa !important;
    
                    &::after,&::before{
                        background-color: rgba($color: white, $alpha: .2) !important;
                    }
                }
    
                ion-button{
                    --background: #0f345c !important;
                }
            }
    
        }
    }

    app-descriptor-search{
        .search-container{
            background-color: #2e2e2e !important;
    
            .header{
                h1{
                    color: #42a2fc !important;
                }
    
                ion-button{
                    color: #fafafa !important;
                }
            }
    
            >ion-item{
                --background: #464646 !important;
    
                ion-icon{
                    color: #fafafa !important;
                }
            }
    
            .search-results{
    
                ion-list{
                    --ion-item-background: none !important;
                }
    
                ion-item{
                    --background: #222222 !important;
                }
            }
    
            .recent-searches{
                h5{
                    color: #fafafa !important;
                }
    
                ion-chip{
                    border-color: rgba($color: white, $alpha: .5) !important;
                }
            }
        }
    }

    app-product-question {

        .main-container{
    
            background: #2e2e2e;
    
            .illustration{
    
                span{
                    color: #0077ff !important;
                }
    
                app-question-svg{
                    opacity: 1 !important;
                }
    
            }
    
            .contact-options{
    
                .option-item{
                    background: linear-gradient(to bottom right, #3e3e3e, #3e3e3e, #464646, #3e3e3e) !important;
                    p{
                        color: #fafafa !important;
                    }
                }
            }
    
        }
    }

    app-track-order{

        .main-container{
            background: #2e2e2e;
    
            .illustration{
        
                span{
                    color: #0077ff !important;
                }
        
                app-unreceived-svg{
                    opacity: 1 !important;
                }
        
            }
        
            ion-item{
                --background: #464646 !important;
                border: 1px solid #838383 !important;
            }

            .form{
                ion-button{
                    --background: #144f8f !important;
                    --background-activated: #0e437c !important;
                }

                .buttons{
                    .back{
                        --background: #585858 !important;
                        --background-activated: #4b4b4b !important;
                        --border-color: #7a7a7a !important;
                        color: #fafafa !important;
                    }
                }

                .inputs{
                    >ion-label{

                        &.alert{
                            color: #ff6436 !important;
                        }
                    }
                }
            }
        }
    }

    ion-picker{
        --background: #2e2e2e !important;

        .picker-above-highlight{
            background: linear-gradient(to bottom, #2e2e2e 20%, rgba(46,46,46,.8) 100%) !important;
        }

        .picker-below-highlight{
            background: linear-gradient(to bottom, rgba(46,46,46,.8) 100%, #2e2e2e 20%) !important;
        }
    }

    app-track-result {

        .main-container{
            background: #2e2e2e !important;
    
            .track-result{
    
                .result-item{
                    background-color: #4e4e4e !important;
                    border-color: #42a8ff !important;
    
                    p{
                        color: #c7c7c7 !important;
                    }
    
                    h4{
                        color: #42a2fc !important;
                    }
                }
            }

            .buttons{

                ion-button{
                    --background: #144f8f !important;
                    --background-activated: #0e437c !important;
                }
            
                .get-refund{
                    --background: #585858 !important;
                    --background-activated: #4b4b4b !important;
                    --border-color: #7a7a7a !important;
                    color: #fafafa !important;
                }
            }
        }
    
    }

    app-thank-you{
        .main-container{
            background: #2e2e2e !important;

            .option-item{
                background: linear-gradient(to bottom right, #3e3e3e, #3e3e3e, #464646, #3e3e3e) !important;

                p{
                    color: white !important;
                }
            }

            .buttons{

                ion-button{
                    --background: #144f8f !important;
                    --background-activated: #0e437c !important;
                }
            
                .get-refund{
                    --background: #585858 !important;
                    --background-activated: #4b4b4b !important;
                    --border-color: #7a7a7a !important;
                    color: #fafafa !important;
                }
            }

            ion-button{
                --background: #144f8f !important;
                --background-activated: #0e437c !important;
            }
        }
    }

    app-cancellation-result{

        .main-container{
            background: #2e2e2e;
        
            h1{
                color: #0077ff !important;
            }

            ion-button{
                --background: #144f8f !important;
                --background-activated: #0e437c !important;
            }
        }
    }

    app-index{

        .main-container{
            background: #2e2e2e !important;

            .slides{
                background: unset !important;
            }

            ion-card{
                --background: linear-gradient(to bottom right, #2e2e2e, #2e2e2e, #464646, #2e2e2e) !important;

                .content{
                    h4{
                        color: #0077ff !important;
                    }
                    p{
                        color: rgba($color: white, $alpha: .8) !important;
                    }
                }

                ion-button{
                    --background: #555 !important;
                    --background-activated: #4e4e4e !important;
                    --border-color: #888888 !important;
                    ion-icon{
                        color: #fafafa !important;
                    }
                }
            }
        }
    }

    app-request{
        .main-container{
            background-color: #0b1020 !important;

            

            ion-button{
                --background: #144f8f !important;
                --border-color: transparent !important;
                color: white !important;
                --background-activated: #0e437c !important;
            }
        }
    }

    app-result{

        .main-container{
            background: #2e2e2e !important;

            h1{
                color: #0077ff !important;
            }

            ion-button{
                --background: #144f8f !important;
                --background-activated: #0e437c !important;
            }
        }
    }

    app-support{

        .main-container{
            background: #2e2e2e !important;

            .searchbar{
                ion-item{
                    --background: #4c4c4c !important;
                }
            }

            .answer{
                background: #4c4c4c !important;

                span{
                    color: #0095ff !important;
                }
            }
        }
    }

    app-contact-us{

        .header-back{
            background: #2e2e2e !important;

            ion-button{
                color: #fafafa !important;
            }
        }

        .main-container{
            background: #2e2e2e !important;

            .header{
                h1{
                    color: #0077ff !important;
                }
            }

            .contact-info{
                border-color: rgba($color: white, $alpha: .5) !important;
            }

            ion-button{
                --background: #144f8f !important;
                --background-activated: #0e437c !important;
            }
        }

    }

    app-emailer{
        .main-container{
            background: #2e2e2e !important;

            ion-item{
                --background: #464646 !important;
                border: 1px solid #838383 !important;
            }

            >ion-button{
                --background: #144f8f !important;
                --background-activated: #0e437c !important;
            }
        }
    }

    app-about-us, app-privacy-policy, app-terms-and-condition{
        .main-container{
            background: #2e2e2e;

            .header{
                h1{
                    color: #0077ff !important;
                }
            }

            span{
                color: #0095ff !important;
            }
        }
    }

    app-chatroom{

        .chatroom-custom-header{
            background-color: #0f345c !important;

            ion-button{
                --background: #0f345c !important;
                --background-activated: #0a2849 !important;

                ion-icon{
                    color: #fafafa !important;
                }
            }

            h3{
                color: white !important;
            }
        }

        .chat-convo{
            background-color: #0f345c !important;

            .alert-danger{
                color: #ffd9a3 !important;
                
                *{
                    color: #ffd9a3 !important;
                }
            }

            .agent_msg{

                .agentname{
                    b{
                        color: rgba($color: white, $alpha: .5) !important;
                    }
                }

                .agentmsg{
                    background: rgba($color: #000000, $alpha: .3) !important;
                    color: #fafafa !important;
                }
            }

            .clients_msg{
                .aclientname{
                    b{
                        color: rgba($color: white, $alpha: .5) !important;
                    }
                }

                .clientmsg{
                    background: #0046c7 !important;
                    color: #fafafa !important;
                }
            }
        }
    }

    app-change-password{
        .main-container{
            background: #2e2e2e !important;

            h1{
                color: #0077ff !important;
            }

            ion-item{
                --background: #464646 !important;
                border: 1px solid #838383 !important;
            }

            .buttons{

                ion-button{
                    &:last-child{
                    --background: #144f8f !important;
                    --background-activated: #0e437c !important;
                    --border-color: transparent !important;
                    }
                    
            
                    &:first-child{
                        --background: #585858 !important;
                        --background-activated: #4b4b4b !important;
                        --border-color: #7a7a7a !important;
                        color: #fafafa !important;
                    }
                }
            }
        }
    }

    app-history{
        .main-container{
            background-color: #2e2e2e !important;

            .header{
                h1{
                    color: white !important;
                }
            }

            .searchbar{
                border-bottom: 1px solid #646060 !important;
                ion-item{
                    --background: #3c3c3c !important;
                }
            }

            .request-status{
                &.declined{
                    --color: #ff623f !important;
                    // p{
                    //     color: #ff8686 !important;
                    // }
                    // span{
                    //     background-color: #ff8686 !important;
                    // }
                }
            }

            ion-content{
                --background: #3c3c3c !important;
            }
        }
    }

    .refundDetails{
        .main-container{
            background-color: #2e2e2e !important;

            .top-bar{
                ion-button{
                    --background: #3c3c3c !important
                }
            }

            .detail-item{
                .label{
                    color: #6c6c6c !important;
                }

                h4{
                    span{
                        color: white !important;
                    }
                }

                &.customer{
                    background-color: #3c3c3c !important;

                    .label{
                        color: #6c6c6c !important;
                    }
                }
            }
        }
    }

    app-cancellation-svg, app-question-svg, app-support-svg, app-thankyou-svg, app-unreceived-svg, app-unrecognized-svg{
        svg{
            filter: drop-shadow(0 0 1px white) drop-shadow(0 0 1px white);
        }
    }

    .passwordReq{
        .alert-checkbox-label{
            color: white !important;
        }
    }
}

.readonly{
    pointer-events: none !important;
}

.passwordReq{
    .alert-checkbox-group{
        max-height: unset;
    }
}