<svg class="block {{ entrance == 'true' ? 'entrance' : '' }}" xmlns="http://www.w3.org/2000/svg" width="282.001" height="169.875" viewBox="0 0 282.001 169.875">
  <g id="undraw_online_payments_luau" transform="translate(0 0)">
    <g id="Plant">
      <g id="leaf1">
        <path id="Path_1" data-name="Path 1" d="M174.452,548.659l-1.693-6.679a86.742,86.742,0,0,0-9.2-3.3l-.214,3.1-.867-3.42c-3.878-1.107-6.516-1.6-6.516-1.6s3.563,13.551,11.037,23.91l8.709,1.53-6.766.975a35.1,35.1,0,0,0,3.026,3.207c10.873,10.092,22.983,14.722,27.048,10.342s-1.452-16.113-12.325-26.2a46.19,46.19,0,0,0-11.843-7.615Z" transform="translate(-155.96 -424.278)" fill="#e6e6e6"/>
      </g>
      <g id="leaf2">
        <path id="Path_2" data-name="Path 2" d="M237.472,508.952l2-6.593a86.727,86.727,0,0,0-6.171-7.582l-1.788,2.547,1.025-3.376c-2.747-2.953-4.753-4.734-4.753-4.734s-3.954,13.442-2.911,26.174l6.664,5.811-6.3-2.662a35.089,35.089,0,0,0,.933,4.31c4.091,14.259,12.064,24.483,17.809,22.835s7.086-14.544,2.995-28.8a46.2,46.2,0,0,0-6.2-12.641Z" transform="translate(-202.874 -391.825)" fill="#e6e6e6"/>
      </g>
    </g>
    <rect id="Floor" width="281.976" height="0.712" transform="translate(0.025 154.848)" fill="#3f3d56"/>
    <g id="Man">
      <path id="Path_3" data-name="Path 3" d="M280.31,432.049s-2.2,26.4-2.667,32.061a40.234,40.234,0,0,1-2.357,10.372,9.754,9.754,0,0,0-.943,3.772V502.3a1.4,1.4,0,0,0-1.414,1.886c.471,1.886.943,5.186.943,5.186h7.072a1.46,1.46,0,0,1,.943-1.886c1.414-.471,0-4.243,0-4.243l7.544-28.288,11.315-23.574s6.6,21.216,8.015,23.574c0,0,5.186,26.4,6.129,28.76s1.414,2.357.943,3.3a2.1,2.1,0,0,0,0,2.357c.471.471,9.43,0,9.43,0L322.9,475.9l-4.243-40.075-21.688-6.6Z" transform="translate(-235.734 -350.882)" fill="#2f2e41"/>
      <path id="Path_4" data-name="Path 4" d="M266.513,660.3s-2.357-8.487-6.129-1.886-3.772,8.958-3.772,8.958-6.129,8.958,2.357,8.015,6.6-5.186,6.6-5.186,3.3-1.886,3.3-3.3S266.513,660.3,266.513,660.3Z" transform="translate(-223.191 -505.58)" fill="#2f2e41"/>
      <path id="Path_5" data-name="Path 5" d="M407.592,657.329s2.357-8.487,6.129-1.886,3.772,8.958,3.772,8.958,6.129,8.958-2.357,8.015-6.6-5.186-6.6-5.186-3.3-1.886-3.3-3.3S407.592,657.329,407.592,657.329Z" transform="translate(-326.08 -503.554)" fill="#2f2e41"/>
      <path id="Path_6" data-name="Path 6" d="M337.646,237.686s.943,6.129-1.886,7.544,6.129,6.6,8.487,6.6,6.6-4.715,6.6-4.715-2.357-7.072-1.886-8.486Z" transform="translate(-278.294 -220.167)" fill="#a0616a"/>
      <circle id="Ellipse_5" data-name="Ellipse 5" cx="9.901" cy="9.901" r="9.901" transform="translate(54.638 2.431)" fill="#a0616a"/>
      <path id="Path_7" data-name="Path 7" d="M334.6,267.972l-11.786-7.141s-6.706,7.612-13.961-.874l-12.441,3.3,1.886,32.06s-2.829,12.73-1.886,15.087-2.357,3.3-1.414,3.772,0,3.772,0,3.772,18.387,9.43,38.661,2.357l-1.886-6.129a4.948,4.948,0,0,0-.943-4.715,4.171,4.171,0,0,0-.472-5.186s.943-4.243-1.414-6.129l-.471-6.6,1.414-3.3Z" transform="translate(-250.728 -235.366)" fill="#cfcce0"/>
      <path id="Path_8" data-name="Path 8" d="M331.71,190.25s-1.18,2.555,3.541,1.533c0,0,1.771,1.022,1.771-.511,0,0,2.361,2.555,2.951,1.022s1.771.511,1.771.511l1.18-2.555,1.18,1.533h4.131s1.18-10.218-12.984-9.2-7.2,17.211-7.2,17.211.114-2.906,1.294-1.373S331.71,190.25,331.71,190.25Z" transform="translate(-272.238 -182.515)" fill="#2f2e41"/>
      <path id="Path_9" data-name="Path 9" d="M414.414,344.589l.472,9.9s1.886,18.388-1.886,26.4v4.243s-.943,10.844-5.658,10.372,1.414-15.559,1.414-15.559l-.943-20.745-.943-11.787Z" transform="translate(-326.302 -293.124)" fill="#a0616a"/>
      <path id="Path_10" data-name="Path 10" d="M394.63,285.041l4.7-.764a22.962,22.962,0,0,1,6.612,12.079c1.414,7.544,1.886,8.958,1.886,8.958l-11.315,2.829-6.129-11.787Z" transform="translate(-315.947 -251.964)" fill="#cfcce0"/>
      <g id="rhand">
        <path id="Path_20" data-name="Path 20" d="M274.032,301.293s-4.243,17.916.943,17.916,17.445-20.273,17.445-20.273,12.73-6.6,7.544-8.958-11.787,3.772-11.787,3.772l-7.616,10.574-.4-5.388Z" transform="translate(-235.423 -255.486)" fill="#a0616a"/>
        <path id="Path_21" data-name="Path 21" d="M283.393,273.179l-2.829-2.829s-5.658,3.3-6.129,6.6-2.829,13.673-2.829,13.673l8.722.707,2.829-4.243Z" transform="translate(-234.884 -242.459)" fill="#cfcce0"/>
      </g>
      <g id="card-container">
        <g id="Card" transform="translate(9)">
          <rect id="Rectangle_3" data-name="Rectangle 3" width="74.403" height="36.96" transform="translate(58.433 27.697)" fill="#fff"/>
          <path id="Path_11" data-name="Path 11" d="M354.617,274.544a8.7,8.7,0,0,0-5.092-.974,7.508,7.508,0,0,0,8.339,5.017A8.7,8.7,0,0,0,354.617,274.544Z" transform="translate(-288.06 -244.625)" fill="#6c63ff"/>
          <path id="Path_12" data-name="Path 12" d="M362.4,348.571H350.449a2.688,2.688,0,1,0,0,5.376H362.4a2.688,2.688,0,0,0,0-5.376Z" transform="translate(-286.856 -295.842)" fill="#6c63ff"/>
          <path id="Path_13" data-name="Path 13" d="M407.508,259.215H340.526a5.933,5.933,0,0,0-5.934,5.934v32.635a5.933,5.933,0,0,0,5.934,5.934h66.983a5.934,5.934,0,0,0,5.934-5.934V265.149a5.933,5.933,0,0,0-5.934-5.934Zm-68.64,4.047a8.188,8.188,0,0,1,9.5,5.717l.105.326-.337.06a8.946,8.946,0,0,1-1.454.107,8.655,8.655,0,0,1-4.413-1.112,9.372,9.372,0,0,1-3.636-4.711l-.105-.326Zm14.54,30.3H341.462a3.285,3.285,0,1,1,0-6.571h11.947a3.285,3.285,0,0,1,0,6.571Zm54.359-.6a3.6,3.6,0,0,1-3.584,3.584h-8.96a3.6,3.6,0,0,1-3.584-3.584v-5.376a3.6,3.6,0,0,1,3.584-3.584h8.96a3.6,3.6,0,0,1,3.584,3.584Z" transform="translate(-277.869 -234.86)" fill="#6c63ff"/>
          <path id="Path_14" data-name="Path 14" d="M523.875,362.209h-3.883a1.045,1.045,0,0,0,0,2.091h3.883a1.045,1.045,0,0,0,0-2.091Zm0,1.493h-3.883a.448.448,0,0,1,0-.9h3.883a.448.448,0,1,1,0,.9Z" transform="translate(-403.684 -305.149)" fill="#6c63ff"/>
          <path id="Path_15" data-name="Path 15" d="M546.449,362.209h-3.883a1.045,1.045,0,0,0,0,2.091h3.883a1.045,1.045,0,1,0,0-2.091Zm0,1.493h-3.883a.448.448,0,0,1,0-.9h3.883a.448.448,0,0,1,0,.9Z" transform="translate(-419.09 -305.149)" fill="#6c63ff"/>
          <path id="Path_16" data-name="Path 16" d="M523.875,353.744h-3.883a1.045,1.045,0,0,0,0,2.091h3.883a1.045,1.045,0,1,0,0-2.091Zm0,1.493h-3.883a.448.448,0,0,1,0-.9h3.883a.448.448,0,1,1,0,.9Z" transform="translate(-403.684 -299.372)" fill="#6c63ff"/>
          <path id="Path_17" data-name="Path 17" d="M546.449,353.744h-3.883a1.045,1.045,0,1,0,0,2.091h3.883a1.045,1.045,0,1,0,0-2.091Zm0,1.493h-3.883a.448.448,0,0,1,0-.9h3.883a.448.448,0,0,1,0,.9Z" transform="translate(-419.09 -299.372)" fill="#6c63ff"/>
          <path id="Path_18" data-name="Path 18" d="M523.875,345.279h-3.883a1.045,1.045,0,0,0,0,2.091h3.883a1.045,1.045,0,0,0,0-2.091Zm0,1.493h-3.883a.448.448,0,0,1,0-.9h3.883a.448.448,0,1,1,0,.9Z" transform="translate(-403.684 -293.595)" fill="#6c63ff"/>
          <path id="Path_19" data-name="Path 19" d="M546.449,345.279h-3.883a1.045,1.045,0,0,0,0,2.091h3.883a1.045,1.045,0,1,0,0-2.091Zm0,1.493h-3.883a.448.448,0,0,1,0-.9h3.883a.448.448,0,0,1,0,.9Z" transform="translate(-419.09 -293.595)" fill="#6c63ff"/>
        </g>
      </g>
    </g>
    <g id="List">
      <g id="list1">
        <circle id="Ellipse_6" data-name="Ellipse 6" cx="3.175" cy="3.175" r="3.175" transform="translate(210.511 16.583)" fill="#3f3d56"/>
        <rect id="Rectangle_4" data-name="Rectangle 4" width="51.124" height="0.635" transform="translate(225.594 19.441)" fill="#3f3d56"/>
      </g>
      <g id="list2">
        <circle id="Ellipse_7" data-name="Ellipse 7" cx="3.175" cy="3.175" r="3.175" transform="translate(210.511 51.574)" fill="#3f3d56"/>
        <rect id="Rectangle_5" data-name="Rectangle 5" width="51.124" height="0.635" transform="translate(225.594 54.432)" fill="#3f3d56"/>
      </g>
      <g id="list3">
        <circle id="Ellipse_8" data-name="Ellipse 8" cx="3.175" cy="3.175" r="3.175" transform="translate(210.511 87.065)" fill="#3f3d56"/>
        <rect id="Rectangle_6" data-name="Rectangle 6" width="51.124" height="0.635" transform="translate(225.594 89.922)" fill="#3f3d56"/>
      </g>
    </g>
    <g id="Checkboxes">
      <path id="cb1" data-name="Path 27" d="M565.917,51.68H550.04V35.485h10.8v.635H550.675V51.044h14.607v-7.3h.635Z" transform="translate(-375.38 -24.217)" fill="#3f3d56"/>
      <path id="cb2" data-name="Path 26" d="M565.917,165.68H550.04V149.485h10.8v.635H550.675v14.924h14.607v-7.3h.635Z" transform="translate(-375.38 -102.018)" fill="#3f3d56"/>
      <path id="cb3" data-name="Path 25" d="M565.917,277.68H550.04V261.485h1.416v.635h-.781v14.924h14.607l-.261-14.924h-.927v-.635h1.569Z" transform="translate(-375.38 -178.453)" fill="#3f3d56"/>
    </g>
    <g id="Marks">
      <path id="m1" data-name="Path 22" d="M724.38,231.233c-.355-1.049-4.809-4.614-2.08-5.213L724.538,229l10.29-10.29,1.035,1.035Z" transform="translate(-541.863 -207.219)" fill="#6c63ff"/>
      <path id="m2" data-name="Path 23" d="M724.38,341.427c-.355-1.049-4.809-4.614-2.08-5.213l2.238,2.984,10.29-10.29,1.035,1.035Z" transform="translate(-541.863 -282.423)" fill="#6c63ff"/>
      <g id="question" transform="translate(78.693 77.88)">
        <g id="inner_mark" data-name="Group 2" transform="translate(98.984)">
          <g id="Group_1" data-name="Group 1" transform="translate(0)">
            <circle id="Ellipse_9" data-name="Ellipse 9" cx="0.5" cy="0.5" r="0.5" transform="translate(4.268 14.163)" fill="#6c63ff"/>
            <path id="Path_28" data-name="Path 28" d="M108.283,4.613a4.649,4.649,0,0,0-9.3.036.592.592,0,0,0,1.185,0,3.465,3.465,0,1,1,6.93,0q0,.016,0,.031a3.463,3.463,0,0,1-2.106,3.159,3.233,3.233,0,0,0-1.952,2.986V12.2a.592.592,0,1,0,1.185,0V10.826a2.05,2.05,0,0,1,1.232-1.9,4.646,4.646,0,0,0,2.826-4.28Q108.284,4.631,108.283,4.613Z" transform="translate(-98.984)" fill="#6c63ff"/>
          </g>
        </g>
      </g>
    </g>
  </g>
</svg>