svg{
    height: 100%;
    width: 100%;
}

.entrance{
    #Card{
        animation: cardup 1s ease-in-out forwards;
    
        @keyframes cardup {
            0%{
                transform: translate(209px, 200px);
            }
            100%{
                transform: translate(9px, 0);
            }
        }
    }
    
    #Man{
        animation: manslide 1s ease-in-out forwards;
        
        @keyframes manslide{
            0%{
                transform: translateX(-200px);
            }
            100%{
                transform: translateX(0px);
            }
        }
    }
    
    #cb1{
        transform: translate(-175.38px, -24.217px);
        animation: cb1 1s ease-out forwards;
    
        @keyframes cb1{
            0%{
                transform: translate(-175.38px, -24.217px);
            }
            100%{
                transform: translate(-375.38px, -24.217px);
            }
        }
    }
    
    #cb2{
        transform: translate(-175.38px, -102.018px);
        animation: cb2 1s ease-out .2s forwards;
    
        @keyframes cb2{
            0%{
                transform: translate(-175.38px, -102.018px);
            }
            100%{
                transform: translate(-375.38px, -102.018px);
            }
        }
    }
    
    #cb3{
        transform: translate(-175.38px, -178.453px);
        animation: cb3 1s ease-out .4s forwards;
    
        @keyframes cb3{
            0%{
                transform: translate(-175.38px, -178.453px);
            }
            100%{
                transform: translate(-375.38px, -178.453px);
            }
        }
    }
    
    #m1{
        opacity: 0;
        transform: translate(-541.863px, -307.219px);
        animation: m1 1s ease-out .2s forwards;
    
        @keyframes m1{
            0%{
                // fill: #fff;
                opacity: 0;
                transform: translate(-541.863px, -307.219px);
            }
            100%{
                // fill: #3f3d56;
                opacity: 1;
                transform: translate(-541.863px, -207.219px);
            }
        }
    }
    
    #m2{
        opacity: 0;
        transform: translate(-541.863px, -307.219px);
        animation: m2 1s ease-out .4s forwards;
    
        @keyframes m2{
            0%{
                // fill: #fff;
                opacity: 0;
                transform: translate(-541.863px, -382.423px);
            }
            100%{
                // fill: #3f3d56;
                opacity: 1;
                transform: translate(-541.863px, -282.423px);
            }
        }
    }
    
    #question{
        opacity: 0;
        transform: translate(78.693px, -22.12px);
        animation: q 1s ease-out .6s forwards;
    
        @keyframes q{
            0%{
                // fill: #fff;
                opacity: 0;
                transform: translate(78.693px, -22.12px);
            }
            100%{
                // fill: #3f3d56;
                opacity: 1;
                transform: translate(78.693px, 77.88px);
            }
        }
    }

    #list1{
        transform: translateX(200px);
        animation: listSlide 1s .4s ease-in-out forwards;
    }
    #list2{
        transform: translateX(200px);
        animation: listSlide 1s .6s ease-in-out forwards;
    }
    #list3{
        transform: translateX(200px);
        animation: listSlide 1s .8s ease-in-out forwards;
    }
}

#inner_mark{
    animation: i_m_blink 2s linear infinite;

    @keyframes i_m_blink{
        0%{
            opacity: 1;
        }
        10%{
            opacity: 1;
        }
        30%{
            opacity: .2;
        }
        50%{
            opacity: .2;
        }
        70%{
            opacity: 1;   
        }
        100%{
            opacity: 1;
        }
    }
}

@keyframes listSlide{
    0%{
        transform: translateX(200px);
    }
    100%{
        transform: translateX(0);
    }
}

#rhand{
    animation: swingrhand 2s ease-in-out infinite alternate;
    transform-origin: top left;

    @keyframes swingrhand{
        0%{
            transform: rotate(0deg);
        }
        100%{
            transform: rotate(-10deg) translate(-5px, 8px);
        }
    }
}

#card-container{
    animation: swingcard 2s ease-in-out infinite alternate;

    @keyframes swingcard{
        0%{
            transform: rotate(0deg)
        }
        100%{
            transform: rotate(-10deg) translate(-5px, 8px);
        }
    }
}

#leaf1{
    animation: leaf1swing 2s ease-in-out infinite alternate;
    transform-origin: center center;

    @keyframes leaf1swing{
        0%{
            transform: rotate(0deg);
        }
        100%{
            transform: rotate(-10deg) translate(-15px, -17px);
        }
    }
}

#leaf2{
    animation: leaf2swing 2s ease-in-out .4s infinite alternate;
    transform-origin: center center;

    @keyframes leaf2swing{
        0%{
            transform: rotate(0deg);
        }
        100%{
            transform: rotate(-10deg) translate(-15px, -17px);
        }
    }
}

@media (prefers-color-scheme: dark) {

    svg{
        filter: drop-shadow(0 0 1px white) drop-shadow(0 0 1px white);
    }

}