@import '../../../theme/colors';

.main-container{
    padding: 70px 0 120px;
    background: linear-gradient(to bottom right, white, white, #ecfaff, #fcf0ff);

    ion-slides{
        width: 100vw;
    }

    .slide-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: initial;
        overflow: hidden;
        width: 100%;
    }

    .support{
        width: 100%;
        height: 300px;
        position: relative;
        display: flex;
        align-items: center;
        padding: 0 30px;

        app-support-svg{
            position: absolute;
            right: 0;
            transform: translateX(20%);
            opacity: .4;
            height: 300px;
            z-index: -1;
            top: 0;
        }

        h1{
            width: 75%;
            font-weight: 700;
            font-size: 35px;
            *{color: $primary;}
        }
    }

    .helpOpts{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 20px 30px;

        .help-item{
            background: linear-gradient(to bottom right, #fafafa, #edfcff, #ffeaf4);
            padding: 20px;
            width: 100%;
            border-radius: 20px;
            display: flex;
            overflow: hidden;
            position: relative;
            margin: 20px 0;
            box-shadow: 0 4px 12px rgba($color: #000000, $alpha: .16);


            .illustration{
                width: 35%;
            }

            .content{
                width: 65%;
                position: relative;
                padding-left: 20px;

                h3{
                    font-weight: 700;
                    color: $primary;
                    font-size: 20px;
                }

                p{
                    color: #888888;
                    font-size: 16px;
                }

                .button{
                    display: flex;
                    justify-content: flex-end;
                    min-height: unset;
                    margin-top: 10px;

                    ion-button{
                        --background: #fafafa;
                        --background-activated: #cccccc;
                        --border-color: #cccccc;
                        --border-width: 1px;
                        --border-style: solid;
                        margin: 0;
                        
                        ion-icon{
                            color: $primary;
                        }
                    }
                }
            }
        }
    }

    .back-to-top{
        p{
            display: flex;
            align-items: center;
            color: #aaaaaa;

            ion-icon{
                margin-left: 10px;
                color: #aaaaaa;
            }
        }
    }

    .profile{
        padding: 20px 0;

        ion-avatar{
            width: 150px;
            height: 150px;

            img{
                width: 100%;
                height: 100%;
            }
        }

    }

    .info{
        padding: 20px 30px;
        width: 100%;

        h3{
            font-weight: 600;
            margin: 50px 0 20px;
        }

        ion-label{
            font-size: 16px;
            font-weight: 400;
            color: #cacaca;
        }

        ion-input{
            --color: #0f345c;
            font-weight: 500;
        }

        ion-item{
            margin-bottom: 20px;
            --padding-start: 0;
            --padding-end: 0;
            --background: transparent;
            
            ion-button{
                margin: 0;
                --background: transparent;
                --background-activated: #cacaca;
            }
        }

        .dark-mode-toggle{
            --inner-padding-end: 0;

            ion-toggle{
                padding: 0;
            }
        }

        .other-emails-header{
            display: flex;
            justify-content: space-between;
            align-items: center;

            ion-button{
                --background: transparent;
                --background-activated: #dadada;
            }
        }

        .actions{
            display: flex;

            .action{
                display: inherit;
                flex-direction: column;
                text-align: center;
                align-items: center;
                padding: 10px;
                min-width: 100px;
                border-radius: 20px;
                box-shadow: 0 6px 16px rgba($color: #000000, $alpha: .05);
                margin-right: 10px;

                ion-button{
                    --background: white;
                    --background-activated: #dadada;
                    --border-radius: 50%;
                    --box-shadow: inset 0 0 12px rgba(0,0,0,.1);
                    width: 65px;
                    height: 65px;
                }
    
                p{
                    font-size: 16px;
                }
            }
        }
    }
}