<ion-content #homeContent>
    <app-custom-header></app-custom-header>

    <div class="main-container">

        <ion-slides #homeSlide [options]="slideOpts">

            <ion-slide>

                <div class="slide-content">

                    <div class="support">
                        <h1><span>How may we</span><br/><span>help you</span><br/><span>today?</span></h1>
                        <app-support-svg></app-support-svg>
                    </div>
            
                    <div class="helpOpts">
            
                        <div class="help-item">
            
                            <div class="illustration">
                                <app-question-svg></app-question-svg>
                            </div>
                            <div class="content">
                                <h3>Purchase</h3>
                                <p>I have a question about my purchase.</p>
                                <div class="button">
                                    <ion-button (click)="question()">
                                        <ion-icon name="arrow-forward-outline" size='small'></ion-icon>
                                    </ion-button>
                                </div>
                            </div>
            
                        </div>
            
                        <div class="help-item">
            
                            <div class="illustration">
                                <app-question-svg type='blue'></app-question-svg>
                            </div>
                            <div class="content">
                                <h3>Product Usage</h3>
                                <p>I don't know how to use the product I purchased.</p>
                                <div class="button">
                                    <ion-button (click)="question(true)">
                                        <ion-icon name="arrow-forward-outline" size='small'></ion-icon>
                                    </ion-button>
                                </div>
                            </div>
            
                        </div>
            
                        <div class="help-item">
            
                            <div class="illustration">
                                <app-unreceived-svg type='blue'></app-unreceived-svg>
                            </div>
                            <div class="content">
                                <h3>Unreceived Order</h3>
                                <p>I didn't received what I ordered.</p>
                                <div class="button">
                                    <ion-button (click)="unreceived_order()">
                                        <ion-icon name="arrow-forward-outline" size='small'></ion-icon>
                                    </ion-button>
                                </div>
                            </div>
            
                        </div>
            
                        <div class="help-item">
            
                            <div class="illustration">
                                <app-unrecognized-svg type='blue'></app-unrecognized-svg>
                            </div>
                            <div class="content">
                                <h3>Unrecognized Purchase</h3>
                                <p>I don't recognize this purchase.</p>
                                <div class="button">
                                    <ion-button (click)="unrecognized_order()">
                                        <ion-icon name="arrow-forward-outline" size='small'></ion-icon>
                                    </ion-button>
                                </div>
                            </div>
            
                        </div>
            
                        <div class="help-item">
            
                            <div class="illustration">
                                <app-cancellation-svg type='blue'></app-cancellation-svg>
                            </div>
                            <div class="content">
                                <h3>Cancel Membership</h3>
                                <p>I want to cancel my membership.</p>
                                <div class="button">
                                    <ion-button (click)="cancel_membership()">
                                        <ion-icon name="arrow-forward-outline" size='small'></ion-icon>
                                    </ion-button>
                                </div>
                            </div>
            
                        </div>
            
                    </div>

                    <div class="back-to-top">
                        <p (click)="homeContent.scrollToTop(400)" >Back to top <ion-icon name="arrow-up-outline"></ion-icon></p>
                    </div>

                </div>

            </ion-slide>

            <ion-slide>
                
                <div class="slide-content">
                    
                    <div class="profile">
                        <ion-avatar>
                            <img [src]="user_info.image_url ? user_info.image_url : 'assets/img/profile.jpg'" alt="">    
                        </ion-avatar>
                    </div>

                    <div class="info">

                        <h3>General</h3>

                        <ion-label>Name</ion-label>
                        <ion-item lines="full" *ngIf="user_info != 'guest'">
                            <ion-input readonly [value]="user_info.firstname + ' ' + user_info.lastname"></ion-input>
                        </ion-item>
                        <ion-item lines="full" *ngIf="user_info == 'guest'">
                            <ion-input readonly value="guest"></ion-input>
                        </ion-item>

                        <ion-label *ngIf="user_info != 'guest'">Email address</ion-label>
                        <ion-item lines="full" *ngIf="user_info != 'guest'">
                            <ion-input readonly [value]="user_info.email_address"></ion-input>
                        </ion-item>

                        <h3 *ngIf="user_info != 'guest'">Others</h3>

                        <div class="other-emails-header" *ngIf="user_info != 'guest'">
                            <ion-label>Other Emails</ion-label>
                            <ion-button (click)="addEmail()">
                                <ion-icon name="add-circle"></ion-icon>
                            </ion-button>
                        </div>

                        <ion-item *ngFor="let e of other_emails" lines="full">
                            <ion-button *ngIf="other_emails.length > 1" slot="end" (click)="removeEmail(e['emailaddress'])">
                                <ion-icon name="trash-outline" size="small"></ion-icon>
                            </ion-button>
                            <ion-input readonly [value]="e['emailaddress']"></ion-input>
                        </ion-item>

                        <h3>Display</h3>

                        <ion-item class='dark-mode-toggle'>
                            <p>Enable Dark Mode</p>
                            <ion-toggle mode="ios" [(ngModel)]="darkModeToggle" slot="end" (click)="toggleDarkMode()"></ion-toggle>
                        </ion-item>

                        <h3>Actions</h3>

                        <div class="actions">

                            <div class="action">
                                <ion-button (click)="logout()">
                                    <ion-icon name="log-out"></ion-icon>
                                </ion-button>
                                <p>Logout</p>
                            </div>
                            
                            <div class="action" *ngIf="user_info != 'guest'">
                                <ion-button (click)="changePassword()">
                                    <ion-icon name="lock-closed"></ion-icon>
                                </ion-button>
                                <p>Change<br>password</p>
                            </div>

                        </div>

                    </div>
                    
                </div>

            </ion-slide>

        </ion-slides>

    </div>

    <app-custom-footer [homeSlide]="homeSlide" [content]="homeContent"></app-custom-footer>
</ion-content>
