@import '../../../../theme/colors';

.header-back{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    padding: 10px;
    background-color: white;
    border-bottom: 1px solid rgba($color: #000000, $alpha: .1);
    ion-button{
        --border-radius: 50px;
        --background: transparent;
        --background-activated: #cccccc;
        color: $black;
        ion-icon{
            margin-right: 10px;
        }
    }
}


.main-container{
    padding: 70px 20px 0;
    background: linear-gradient(to bottom right, white, white, #ecfaff, #fcf0ff);

    >*{
        width: 100%;
    }

    .header{
        padding: 20px 0;
        h1{
            font-weight: 700;
            font-size: 35px;
            color: $primary;
            text-decoration: underline;
        }
    }

    .contact-info{
        padding: 0 0 0 20px;
        border-left: 1px solid rgba($color: #000000, $alpha: .2);

        &-item{
            display: flex;
            margin: 10px ;

            ion-icon{
                margin-right: 10px;
                transform: translateY(30%);
                width: 16px;
                height: 16px;
            }
        }
    }

    .emailer{
        flex: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        ion-button{
            --background: #0f345c;
            --background-activated: #0a2847;
            color: white;
            margin: 20px 0;
            
            ion-icon{
                color: white;
                margin-left: 10px;
            }
        }
    }
}