<ion-content>

  <app-custom-header *ngIf="!redirected"></app-custom-header>
  <div *ngIf="redirected" class="header-back">
    <ion-button (click)="back()"><ion-icon name="arrow-back-outline"></ion-icon> Back</ion-button>
  </div>

  <div class="main-container">

    <div class="header">
      <h1>Contact Us</h1>
    </div>

    <div class="contact-info">

      <div class="contact-info-item">
        <ion-icon name="location"></ion-icon>
        <p>
          iCAN4Consumers, LLC <br>
          137 Johnson Ferry Rd, Suite 2220 <br>
          Marietta, GA 30068
        </p>
      </div>

      <div class="contact-info-item">
        <ion-icon name="call"></ion-icon>
        <p>(855) 660-3214</p>
      </div>

      <div class="contact-info-item">
        <ion-icon name="mail"></ion-icon>
        <p>support@iCan4Consumers.com</p>
      </div>

    </div>

    <div class="emailer">

      <h3>Send us an email</h3>
      <ion-button (click)="composeEmail()">Compose <ion-icon name="pencil"></ion-icon></ion-button>

    </div>

  </div>

</ion-content>
