<svg class="block {{ entrance == 'true' ? 'entrance' : '' }}" xmlns="http://www.w3.org/2000/svg" width="266.111" height="193.828" viewBox="0 0 266.111 193.828">
  <g id="undraw_order_delivered_p6ba" transform="translate(0 13.488)">
    <path id="Path_17" data-name="Path 17" d="M265.99,586.677H0v-.669H266.111Z" transform="translate(0 -406.337)" fill="#3f3d56"/>
    <g id="b2">
      <g id="Box2">
        <path id="Path_13" data-name="Path 13" d="M488.026,396.162l1.64-4.374,15.309-8.748,10.388-2.187Z" transform="translate(-338.397 -264.083)" fill="#53a5fe"/>
        <path id="Path_14" data-name="Path 14" d="M242.526,396.162l-1.64-4.374-15.309-8.748-10.388-2.187Z" transform="translate(-149.212 -264.083)" fill="#53a5fe"/>
        <path id="Path_15" data-name="Path 15" d="M348.159,382.417h-58.5l-4.921-22.963h68.343Z" transform="translate(-197.436 -249.245)" fill="#53a5fe"/>
        <path id="Path_16" data-name="Path 16" d="M348.159,382.417h-58.5l-4.921-22.963h68.343Z" transform="translate(-197.436 -249.245)" opacity="0.1"/>
        <rect id="Rectangle_3" data-name="Rectangle 3" width="59.049" height="48.476" transform="translate(91.948 131.805)" fill="#53a5fe"/>
        <rect id="Rectangle_4" data-name="Rectangle 4" width="10.424" height="14.104" transform="translate(116.26 165.864)" fill="#3f3d56"/>
        <rect id="Rectangle_5" data-name="Rectangle 5" width="24.528" height="7.665" transform="translate(109.208 141.726)" fill="#fff"/>
      </g>
    </g>
    <g id="b1">
      <g id="Box1">
        <rect id="Rectangle_1" data-name="Rectangle 1" width="62" height="49" transform="translate(12.172 130.935)" fill="#e6e6e6"/>
        <rect id="Rectangle_2" data-name="Rectangle 2" width="10.424" height="14.104" transform="translate(37.865 165.871)" fill="#53a5fe"/>
        <rect id="Rectangle_6" data-name="Rectangle 6" width="24.528" height="7.665" transform="translate(30.651 141.726)" fill="#fff"/>
      </g>
    </g>
    <g id="Man" transform="translate(161.082 -29.24)">
      <path id="Path_26" data-name="Path 26" d="M97.944,458.829l.443,3.988-3.988-.443V457.5Z" transform="translate(-64.048 -267.13)" fill="#ffb8b8"/>
      <path id="Path_27" data-name="Path 27" d="M195.842,458.829l-.443,3.988,3.988-.443V457.5Z" transform="translate(-120.29 -267.13)" fill="#ffb8b8"/>
      <path id="Path_28" data-name="Path 28" d="M193.329,466.474l-1.773,45.644s-5.761,34.122-4.431,35.008,0,5.761,0,5.761l7.533.886s0-3.545,1.773-4.875S214.6,485.086,214.6,485.086l16.839,60.268s-.443,3.545.886,3.545,1.773,4.875,1.773,4.875h7.533V548.9s2.216-.443.886-3.988-6.2-78.436-6.2-78.436Z" transform="translate(-159.876 -360.745)" fill="#2f2e41"/>
      <path id="Path_29" data-name="Path 29" d="M176.663,659.534s-2.216-1.33-3.1-.443-7.977,9.749-7.977,9.749-9.749,6.2-.886,7.976,15.51-6.647,15.953-7.533-.443-7.977-.886-7.09-1.773.443-2.216,0A9.188,9.188,0,0,1,176.663,659.534Z" transform="translate(-145.426 -467.835)" fill="#2f2e41"/>
      <path id="Path_30" data-name="Path 30" d="M297.212,659.534s2.216-1.33,3.1-.443,7.977,9.749,7.977,9.749,9.749,6.2.886,7.976-15.51-6.647-15.953-7.533.443-7.977.886-7.09,1.773.443,2.216,0A9.186,9.186,0,0,0,297.212,659.534Z" transform="translate(-219.001 -467.835)" fill="#2f2e41"/>
      <circle id="Ellipse_5" data-name="Ellipse 5" cx="9.084" cy="9.084" r="9.084" transform="translate(51.179 20.975)" fill="#ffb8b8"/>
      <path id="Path_31" data-name="Path 31" d="M146.728,108.943,145.4,122.681l10.635,2.216,2.659-16.4Z" transform="translate(-92.448 -72.788)" fill="#ffb8b8"/>
      <path id="Path_32" data-name="Path 32" d="M234.952,332.917s-2.659,5.761-12.408-.443l-18.169,59.381s24.373,14.624,39.883,3.545l-5.318-59.824Z" transform="translate(-169.593 -286.126)" fill="#575a89"/>
      <path id="Path_33" data-name="Path 33" d="M218.87,316.8l-8.42-1.329-.886,5.761s-11.522,1.329-12.851,5.761l1.329,32.793s-3.988,7.09-.443,11.522c0,0-5.761,11.965-1.329,14.181,0,0,10.192-4.875,16.4-3.545,0,0,3.545-.886,3.545-3.545S218.87,316.8,218.87,316.8Z" transform="translate(-164.146 -276.66)" fill="#2f2e41"/>
      <path id="Path_34" data-name="Path 34" d="M270.776,320.474l4.875,1.329.443,6.2s11.965,7.533,12.408,11.965-8.863,25.7-8.863,25.7,3.545,6.2,2.216,10.192c0,0,5.761,11.522,2.216,14.624,0,0-6.647,1.773-7.533-.886s-8.863-33.236-5.318-47.859C271.219,341.745,267.674,323.133,270.776,320.474Z" transform="translate(-205.86 -279.444)" fill="#2f2e41"/>
      <path id="Path_35" data-name="Path 35" d="M264.854,343.976h-.167v-4.569a2.645,2.645,0,0,0-2.645-2.645h-9.681a2.645,2.645,0,0,0-2.645,2.645v25.068a2.645,2.645,0,0,0,2.645,2.645h9.681a2.645,2.645,0,0,0,2.645-2.645V347.229h.167Z" transform="translate(-194.842 -288.514)" fill="#3f3d56"/>
      <path id="Path_36" data-name="Path 36" d="M280.1,382.6s-3.545-11.522-8.863-7.977,3.545,13.294,3.545,13.294Z" transform="translate(-205.88 -309.22)" fill="#ffb8b8"/>
      <path id="Path_37" data-name="Path 37" d="M238.375,368.27s6.2-7.533,9.306-3.988-5.318,11.522-5.318,11.522Z" transform="translate(-188.526 -303.311)" fill="#ffb8b8"/>
      <path id="Path_38" data-name="Path 38" d="M190.124,340.456s-2.216-.443-3.545,3.545-6.2,19.055-6.2,21.714,1.773,13.294,11.522,11.522,21.271-14.181,21.271-14.181l-6.2-9.306-13.294,7.977Z" transform="translate(-156.228 -290.563)" fill="#2f2e41"/>
      <path id="Path_39" data-name="Path 39" d="M106.6,165.708l1.852,9.561,13.737-7.977-12.851,4.875-2.833-7.029Z" transform="translate(-70.789 -104.327)" opacity="0.1"/>
      <path id="Path_40" data-name="Path 40" d="M194.9,181.875l1.773,1.329.886-6.2Z" transform="translate(-120.012 -110.932)" opacity="0.1"/>
      <path id="Path_41" data-name="Path 41" d="M201.875,411.777s13.016-3.541,19.138-11.3C221.013,400.479,214.726,410.89,201.875,411.777Z" transform="translate(-168.2 -323.995)" opacity="0.1"/>
      <path id="Path_42" data-name="Path 42" d="M275.875,407.974s2.741,13.414,9.79,13.8C285.665,421.771,277.2,424.37,275.875,407.974Z" transform="translate(-209.408 -328.169)" opacity="0.1"/>
      <path id="Path_43" data-name="Path 43" d="M290.556,360.474s1.329.886,2.216,4.875,6.647,19.055,4.431,22.6-5.761,11.522-13.294,6.2l-7.533-13.737,7.533-7.09,3.1,2.216Z" transform="translate(-209.686 -301.718)" fill="#2f2e41"/>
      <path id="Path_44" data-name="Path 44" d="M238.119,282.3s-7.619-12.348.5-12.99a20.688,20.688,0,0,0,7.782-2.121c2.69-1.369,6.076-2.409,7.878-.3A13.388,13.388,0,0,0,257,269.409c1.583,1.05,3.414,2.751,2.4,4.577l-1.663,2.993-2.328,5.985c.542-2.582.556-4.749-.831-5.819,0,0-7.738,3.293-11.638-2.66C238.575,271.21,237.186,281.519,238.119,282.3Z" transform="translate(-186.577 -249.936)" fill="#2f2e41"/>
      <circle id="Ellipse_6" data-name="Ellipse 6" cx="2.216" cy="2.216" r="2.216" transform="translate(60.263 54.989)" fill="#53a5fe"/>
    </g>
  </g>
</svg>
