svg{
    height: 100%;
    width: 100%;
}

.entrance{
    #b1{
        animation: slideToRight .8s ease-in-out;
    }
    
    #b2{
        transform: translateX(-250px);
        animation: slideToRight .8s ease-in-out .4s forwards;
    }
    #Man{
        animation: slideToLeft .8s ease-in-out;
    }
}

#Box1{
    animation: blink 2s ease-in-out alternate infinite;
}

#Box2{
    animation: blink 2s .6s ease-in-out alternate infinite;
}

@keyframes slideToRight{
    0%{
        transform: translateX(-250px);
    }
    100%{
        transform: translateX(0px);
    }
}

@keyframes slideToLeft{
    0%{
        transform: translate(411.082px, -29.24px);
    }
    100%{
        transform: translate(161.082px, -29.24px);
    }
}

@keyframes blink{
    0%{
        opacity: .3;
    }
    15%{
        opacity: 1;
    }
    85%{
        opacity: 1;
    }
    100%{
        opacity: .3;
    }
}

@media (prefers-color-scheme: dark) {

    svg{
        filter: drop-shadow(0 0 1px white) drop-shadow(0 0 1px white);
    }

}