<ion-content>

  <div class="main-container">

    <div class="illustration">
      <h1>Refund Request</h1>
    </div>

    <div class="cancellation-result">

      <div #refundTextResult class='refundResultContent'>

        <!-- <div style="text-align:left;text-indent:0px;">
          <div>
              Your request for assistance has been received and your confirmation number is '.
                                  $this->_get_display(array(
                                 'inner-html'=>$refund_details['confirmation-number'],
                                 'type'=>'bold',
                                 'access-type'=>$access_type,
                                 ))
                                  .'. 
          We will be contacting the merchant based on the information you\'ve provided.
           </div>
          <br>
          
          <div style="margin-top:5px;">
          If we are unable to secure a refund on your behalf, we will guide you towards the best next steps 
          which may include contacting the merchant directly or going to your issuing bank in order to initiate a dispute.
           Whatever we do, it will be with your best interest in mind!
          </div>
          <br>

          <div style="margin-top:5px;">
            We ask that you please allow 5 business days to process your request, after which we will contact you either by email
             or by phone in order to give you an update. If you have any
              questions or need assistance, please call us at +1 855-660-3214. 
           </div>
          <br>

          <div style="margin-top:5px; text-align:center;">
              Remember to look for our iCAN4Consumers Trust Mark, <img title="iCAN4Consumers Trust Mark" style="display:inline-block;vertical-align:middle;" src="http://www.ic4c.net/_images/ican-icon.png"/> it's your guarantee 
              to eCommerce piece of mind.
          </div>

          <div style="text-align:center; margin-top:5px;"> Please click Finish and thank you for using iCAN4Consumers!</div>
        </div> -->

      </div>

    </div>

    <ion-button (click)="done()">Done</ion-button>

  </div>

</ion-content>
