<ion-content>

  <div *ngIf="type=='unreceived' || type=='unrecognized'" class="main-container">

    <div class="header">

      <ion-button (click)="back()"><ion-icon name="chevron-back"></ion-icon> Back</ion-button>

    </div>

    <div class="content">

      <div class="illustration">

        <app-unreceived-svg *ngIf="type=='unreceived'"></app-unreceived-svg>
        <app-unrecognized-svg *ngIf="type=='unrecognized'"></app-unrecognized-svg>
        <h1 *ngIf="type=='unreceived'"><span>I didn't</span> <br> <span>received</span> <br> <span>what I</span> <br> <span>ordered</span></h1>
        <h1 *ngIf="type=='unrecognized'"><span>I don't</span> <br> <span>recognized</span> <br> <span>this</span> <br> <span>purchase</span></h1>

      </div>

      <p>Let's track your transaction:</p>

      <ion-slides #trackingSlides>

        <ion-slide>

          <div class="form">

            <div class="inputs">

              <ion-item lines="none" *ngIf="orderIdIsRequired()">
                <ion-icon name="receipt" slot="start" size="small"></ion-icon>
                <ion-input [disabled]="otherOptionSelected()" [(ngModel)]="trackingDetails.order_no" placeholder="Order number" (keydown)="nextInput($event)"></ion-input>
              </ion-item>

              <p class="divider" *ngIf="request_requirements.length">or</p>

              <ion-item lines="none">
                <ion-icon name="person" slot="start" size="small"></ion-icon>
                <ion-input [disabled]="orderNumberSelected()" [(ngModel)]="trackingDetails.firstname" placeholder="Firstname (Optional)" autocapitalize="on" (keydown)="nextInput($event, lastname)"></ion-input>
              </ion-item>

              <ion-item lines="none">
                <ion-icon name="person" slot="start" size="small"></ion-icon>
                <ion-input #lastname [disabled]="orderNumberSelected()" [(ngModel)]="trackingDetails.lastname" placeholder="Lastname (Optional)" autocapitalize="on" (keydown)="nextInput($event, first6)"></ion-input>
              </ion-item>

              <ion-item lines="none">
                <ion-icon name="card" slot="start" size="small"></ion-icon>
                <ion-input #first6 [disabled]="orderNumberSelected()" [(ngModel)]="trackingDetails.first6" maxlength="6" placeholder="Card First 6 Digit" inputmode="numeric" (keydown)="nextInput($event, last4)"></ion-input>
              </ion-item>

              <ion-item lines="none">
                <ion-icon name="card" slot="start" size="small"></ion-icon>
                <ion-input #last4 [disabled]="orderNumberSelected()" [(ngModel)]="trackingDetails.last4" maxlength="4" placeholder="Card Last 4 Digit" inputmode="numeric" (keydown)="nextInput($event)"></ion-input>
              </ion-item>

            </div>

            <ion-button (click)="trackOrder()" *ngIf="trackingDetails.order_no" [disabled]="!trackingDetails.order_no">Proceed</ion-button>
            <ion-button (click)="next()" *ngIf="!trackingDetails.order_no" [disabled]="!trackingDetails.first6 || !trackingDetails.last4 || trackingDetails.first6.length < 6 || trackingDetails.last4.length < 4">Next</ion-button>

          </div>

        </ion-slide>

        <ion-slide>

          <div class="form">

            <div class="inputs">

              <ion-label>Date of Purchase</ion-label>
              <ion-item lines="none">
                <ion-icon name="calendar" slot="start" size="small"></ion-icon>
                <ion-datetime [(ngModel)]="trackingDetails.time" placeholder="MM DD YYYY"></ion-datetime>
              </ion-item>

              <ion-item lines="none">
                <ion-label slot="start">$</ion-label>
                <ion-input [(ngModel)]="trackingDetails.amount" placeholder="Amount" type="number" inputmode="decimal" (keydown)="nextInput($event, email)"></ion-input>
              </ion-item>

              <ion-item lines="none">
                <ion-icon name="mail" slot="start" size="small"></ion-icon>
                <ion-input #email [(ngModel)]="trackingDetails.email_address" placeholder="Email (Optional)" pattern="email" type="email" inputmode="email" (keydown)="nextInput($event)"></ion-input>
              </ion-item>
              
              <ion-label class="alert">To keep you on track about your refund, we recommend you filling your email address.</ion-label>

            </div>

            <div class="buttons">
              <ion-button (click)="slideBack()" class="back">Back</ion-button>
              <ion-button (click)="trackOrder()" [disabled]="!trackingDetails.amount || !trackingDetails.time">Proceed</ion-button>
            </div>

          </div>
          
        </ion-slide>

      </ion-slides>
    </div>

  </div>

  <div *ngIf="type=='cancellation'" class="main-container cancellation">

    <div class="header">

      <ion-button (click)="back()"><ion-icon name="chevron-back"></ion-icon> Back</ion-button>

    </div>

    <div class="content">

      <div class="illustration">

        <app-cancellation-svg></app-cancellation-svg>
        <h1><span>I want to</span> <br> <span>cancel my</span> <br> <span>membership</span></h1>

      </div>

      <p>Let's track your transaction:</p>

      <ion-slides #trackingSlides>

        <ion-slide>

          <div class="form">

            <div class="inputs">

              <ion-item lines="none" *ngIf="orderIdIsRequired()">
                <ion-icon name="receipt" slot="start" size="small"></ion-icon>
                <ion-input [(ngModel)]="trackingDetails.order_no" placeholder="Order number" (keydown)="nextInput($event, firstname)"></ion-input>
              </ion-item>

              <ion-item lines="none">
                <ion-icon name="person" slot="start" size="small"></ion-icon>
                <ion-input #firstname [(ngModel)]="trackingDetails.firstname" placeholder="Firstname (Optional)" autocapitalize="on" (keydown)="nextInput($event, lastname)"></ion-input>
              </ion-item>

              <ion-item lines="none">
                <ion-icon name="person" slot="start" size="small"></ion-icon>
                <ion-input #lastname [(ngModel)]="trackingDetails.lastname" placeholder="Lastname (Optional)" autocapitalize="on" (keydown)="nextInput($event, first6)"></ion-input>
              </ion-item>

              <ion-item lines="none">
                <ion-icon name="card" slot="start" size="small"></ion-icon>
                <ion-input #first6 [(ngModel)]="trackingDetails.first6" maxlength="6" placeholder="Card First 6 Digit" inputmode="numeric" (keydown)="nextInput($event, last4)"></ion-input>
              </ion-item>

              <ion-item lines="none">
                <ion-icon name="card" slot="start" size="small"></ion-icon>
                <ion-input #last4 [(ngModel)]="trackingDetails.last4" maxlength="4" placeholder="Card Last 4 Digit" inputmode="numeric" (keydown)="nextInput($event)"></ion-input>
              </ion-item>

            </div>

            <ion-button (click)="next()" [disabled]="!trackingDetails.order_no || !trackingDetails.first6 || !trackingDetails.last4 || trackingDetails.first6.length < 6 || trackingDetails.last4.length < 4">Next</ion-button>

          </div>

        </ion-slide>

        <ion-slide>

          <div class="form">

            <div class="inputs">

              <ion-label>Date of Purchase</ion-label>
              <ion-item lines="none">
                <ion-icon name="calendar" slot="start" size="small"></ion-icon>
                <ion-datetime [(ngModel)]="trackingDetails.time" placeholder="MM DD YYYY"></ion-datetime>
              </ion-item>

              <ion-item lines="none">
                <ion-label slot="start">$</ion-label>
                <ion-input [(ngModel)]="trackingDetails.amount" placeholder="Amount" type="number" inputmode="decimal" (keydown)="nextInput($event, email)"></ion-input>
              </ion-item>

              <ion-item lines="none">
                <ion-icon name="mail" slot="start" size="small"></ion-icon>
                <ion-input #email [(ngModel)]="trackingDetails.email_address" placeholder="Email (Optional)" pattern="email" type="email" inputmode="email" (keydown)="nextInput($event)"></ion-input>
              </ion-item>

              <ion-label class="alert">To keep you on track about your refund, we recommend you filling your email address.</ion-label>
              
            </div>

            <div class="buttons">
              <ion-button (click)="slideBack()" class="back">Back</ion-button>
              <ion-button (click)="trackOrder()" [disabled]="!trackingDetails.amount || !trackingDetails.time">Proceed</ion-button>
            </div>

          </div>
          
        </ion-slide>

      </ion-slides>
    </div>

  </div>

</ion-content>
