@import '../../../theme/colors';

.main-container{
    background: linear-gradient(to bottom right, white, #ecfaff, #fcf0ff);

    .header{

        width: 100%;
        padding: 10px;

        ion-button{
            margin: 0;
            --background: transparent;
            --background-activated: rgba(0,0,0,.1);
            --border-radius: 50px
        }

    }

    .content{
        width: 100%;
        display: flex;
        flex: 100%;
        flex-direction: column;
        align-items: center;
        // text-align: center;
        padding: 20px;
        // justify-content: space-evenly;

        .illustration{
            position: relative;
            width: 100%;
            height: 180px;
            display: flex;
            padding: 0 20px;
            align-items: center;
    
            app-unreceived-svg{
                height: 180px;
                right: 0;
                position: absolute;
                opacity: .4;
            }

            app-cancellation-svg{
                height: 180px;
                right: 0;
                position: absolute;
                opacity: .4;
            }

            app-unrecognized-svg{
                height: 180px;
                right: -20%;
                position: absolute;
                opacity: .4;
            }

            h1{
                position: relative;
                font-weight: 700;
                width: 100%;
                font-size: 32px;
                *{
                    color: $primary;
                }
                text-align: initial;
            }
        }

        >p{
            margin: 30px 0;
        }

        .form{
            width: 100vw;
            height: 100%;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            .inputs{
                text-align: left;

                ion-label{
                    font-weight: 600;
                }

                >ion-label{
                    font-size: 16px;
                    font-weight: 400;
                    color: #adadad;

                    &.alert{
                        color: rgba($color: $red, $alpha: .5);
                    }
                }
            }

            ion-item{
                width: 100%;
                border-radius: 12px;
                --background: #eaf2ff;
                border: 1px solid #c3cfe4;
                // box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .2);

                // &:not(:first-child){
                    margin-bottom: 10px;
                // }
            }
            
            .divider{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px 0;

                &::before, &::after{
                    position: relative;
                    display: block;
                    content: '';
                    width: 40%;
                    height: 1px;
                    background-color: rgba($color: #000000, $alpha: .2);
                }
            }

            ion-button{
                width: 100%;
                --background: #0f345c;
                --background-activated: #0a2b4e;
                color: white;
                --border-radius: 12px;
            }

            .buttons{
                display: flex;
                width: 100%;

                ion-button{
                    flex: 100%;
                }

                .back{
                    --background: #fafafa;
                    --background-activated: #d8d8d8;
                    --border-color: #cfcfcf;
                    --border-width: 1px;
                    --border-style: solid;
                    color: #3e3e3e;
                }
            }
        }

        ion-slides{
            width: 100%;
            flex: 100%;
            display: flex;

            ion-slide{
                width: 100%;
                height: unset;
            }
        }
    }
}

.cancellation{
    ion-item{
        margin-bottom: 10px;
    }
}