@import '../../../theme/colors';

ion-slides{

    width: 100vw;

    ion-slide{
        flex-direction: column;
        height: 100vh;
        padding: 20px;
        justify-content: space-between;
        position: relative;

        h1{
            font-weight: 600;
        }

        svg{
            width: 100%;
        }

        .content{
            height: 80%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }

        .slide-buttons{
            height: 50px;
            position: relative;
            top: -30px;
            width: 100%;
            justify-content: space-between;
            display: flex;

            ion-button{
                --border-radius: 50%;
                height: 50px;
                width: 50px;
                --box-shadow: 0 3px 8px 1px rgba(0,0,0,.16);

                &:first-child{
                    --background: #fafafa;
                    --background-activated: #cacaca;

                    ion-icon{
                        color: $black;
                    }
                }

                &:last-child{
                    --background: #44a5ff;
                    --background-activated: #267dcf;
                    color: $white !important;
                    *{
                        color: $white;
                    }
                }
            }
        }

        &:first-child{

            .slide-buttons{
                justify-content: flex-end;

                ion-icon{
                    --background: #44a5ff;
                    --background-activated: #267dcf;
                    color: $white !important;
                }
            }
        }

        &:last-child{

            .header{
                >*{
                    padding: 10px;
                }

                span{
                    color: $green;
                }
            }

            .content{
                ion-button{
                    --border-radius: 50px;
                    --background: #44a5ff;
                    color: $white;
                }
            }

            .slide-buttons{
                ion-button{
                    --background: #fafafa;
                }
            }
        }
    }
}