<ion-content>
  <div class="main-container">
    <ion-slides #introSlide pager='true'>

      <ion-slide #slide1>
        <div class="content">
          <app-question-svg *ngIf="slideIndex == 1"></app-question-svg>
          <h1>If you have a question about the product or service you purchased...</h1>
        </div>
        <div class="slide-buttons">
          <ion-button (click)="next(slide2)">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-slide>

      <ion-slide #slide2>
        <div class="content">
          <app-unreceived-svg *ngIf="slideIndex == 2"></app-unreceived-svg>
          <h1>...or if you did not receive your purchase...</h1>
        </div>
        <div class="slide-buttons">
          <ion-button (click)="back()">
            <ion-icon name="chevron-back-outline"></ion-icon>
          </ion-button>
          <ion-button (click)="next(slide3)">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-slide>

      <ion-slide #slide3>
        <div class="content">
          <app-unrecognized-svg *ngIf="slideIndex == 3"></app-unrecognized-svg>
          <h1>...or you don't recognize a charge on your card statement...</h1>
        </div>
        <div class="slide-buttons">
          <ion-button (click)="back()">
            <ion-icon name="chevron-back-outline"></ion-icon>
          </ion-button>
          <ion-button (click)="next(slide4)">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-slide>

      <ion-slide #slide4>
        <div class="content">
          <div class="header">
            <h3>Welcome to</h3>
            <h1>iCAN4<span>Consumers</span></h1>
          </div>
          <h2>We can help you!</h2>
          <ion-button (click)="login()">Login now!</ion-button>
        </div>
        <div class="slide-buttons">
          <ion-button (click)="back()">
            <ion-icon name="chevron-back-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-slide>

    </ion-slides>
  </div>
</ion-content>
