@import '../../../theme/colors';

.custom-footer{
    width: 100vw;
    height: 60px;

    .container{
        position: relative;
        width: 100vw;
    }

    svg{
        filter: drop-shadow(0 -3px 8px rgba(0,0,0,.16)) ;
    }

    ion-button{
        position: absolute;
        top: 50%;
        transform: translateY(-60%);
        --background: transparent;
        --background-activated: #42a2fc55;
        --border-radius: 50%;

        &#home{
            left: 5%;
        }

        &#account{
            right: 5%;
        }

        ion-icon{
            color: #aaaaaa;
        }
        
        &.active{
            ion-icon{
                color: $highlight;
            }
        }
    }

    ion-fab{

        transform: translate(-3%, -40%);

        ion-fab-button{
            --background: white;
            --background-activated: #dadada;
            --box-shadow: 0 3px 8px 4px rgba(0,0,0,.2);
            width: 60px;
            height: 60px;
        }

        svg{
            transform: scale(.7);
        }

    }
}