<ion-content>

  <div class="main-container">

    <div class="header">

      <ion-button (click)="back()"><ion-icon name="chevron-back"></ion-icon> Back</ion-button>

    </div>

    <div class="content">

      <div class="illustration">
        <app-question-svg [type]="type == 2 ? 'blue' : null"></app-question-svg>
        <h1 *ngIf="type == 1"><span>I have a</span> <br> <span>question</span> <br> <span>about</span> <br> <span>my</span> <br> <span>purchase.</span></h1>
        <h1 *ngIf="type == 2"><span>I dont know how</span> <br> <span>to use</span> <br> <span>the</span> <br> <span>product</span> <br> <span>I purchased.</span></h1>
      </div>

      <p *ngIf="descriptor == null">We're happy to help you, <br> please contact our customer <br> support team available 24/7</p>
      <p *ngIf="descriptor != null">For more information <br> about your product,</p>

      <div class="contact-options">

        <div class="option-item" (click)="call()">
          <ion-icon name="call"></ion-icon>
          <ion-label>
            <p *ngIf="descriptor == null">Call us at <br> (855) 660-3124</p>
            <p *ngIf="descriptor != null">Call the merchant at <br> {{descriptor.contact_number}}</p>
          </ion-label>
        </div>

        <div *ngIf="descriptor == null" class="option-item" (click)="chat()">
          <ion-icon src='assets/svg/messenger.svg'></ion-icon>
          <ion-label>
            <p>Chat now</p>
          </ion-label>
        </div>

        <div class="option-item" (click)="email()">
          <ion-icon name="mail"></ion-icon>
          <ion-label>
            <p *ngIf="descriptor == null">Send us an email</p>
            <p *ngIf="descriptor != null">or email merchant at <br> {{descriptor.contact_email}}</p>
            <a #mailto *ngIf="descriptor != null" [href]="'mailto:'+descriptor.contact_email"></a>
          </ion-label>
        </div>
        
      </div>

    </div>

  </div>

</ion-content>
