@import '../../../theme/colors';

.main-container{
    background: linear-gradient(to bottom right, white, #ecfaff, #fcf0ff);

    .header{

        width: 100%;
        padding: 10px;

        ion-button{
            margin: 0;
            --background: transparent;
            --background-activated: rgba(0,0,0,.1);
            --border-radius: 50px
        }

    }

    .content{
        width: 100%;
        display: flex;
        flex: 100%;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
        justify-content: space-evenly;

        .illustration{
            position: relative;
            width: 100%;
            // height: 280px;
            display: flex;
            padding: 0 20px;
            // align-items: center;
    
            app-question-svg{
                width: 300px;
                right: 0;
                transform: translateX(20%);
                position: absolute;
                opacity: .2;
            }

            h1{
                position: relative;
                font-weight: 700;
                width: 100%;
                font-size: 32px;
                *{
                    color: $primary;
                }
                text-align: initial;
            }
        }

        >p{
            margin: 70px 0;
        }

        .contact-options{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            .option-item{
                width: 85%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: white;
                padding: 20px;
                border-radius: 20px;
                box-shadow: 0 3px 12px rgba($color: #000000, $alpha: .1);
                height: 80px;
                margin-bottom: 10px;

                &:active{
                    transform: scale(.9) !important;
                }

                ion-icon{
                    font-size: 30px;
                    color: $highlight;
                }

                ion-label{
                    flex: 100%;
                    display: flex;
                    justify-content: center;
                    
                    p{
                        font-size: 14px;
                        color: $black;
                        width: 80%;
                    }
                }
            }
        }
    }

}