@import '../../../theme/colors';

.main-container{
    background: linear-gradient(to bottom right, white, #ecfaff, #fcf0ff);

    .header{

        width: 100%;
        padding: 10px;

        ion-button{
            margin: 0;
            --background: transparent;
            --background-activated: rgba(0,0,0,.1);
            --border-radius: 50px
        }

    }

    .content{
        width: 100%;
        display: flex;
        flex: 100%;
        flex-direction: column;
        align-items: center;
        // text-align: center;
        padding: 20px;
        // justify-content: space-evenly;

        .track-result{
            flex: 100%;
            width: 100%;

            .header{
                text-align: center;
                padding: 20px;
                background-color: $primary;
                border-radius: 12px;

                span{
                    color: $orange;
                }
                
                h3{
                    color: white;
                    font-weight: 700;
                }

                p{
                    font-weight: 500;
                    color: white;
                    margin: 10px 0 0;
                }
            }

            .result-items{
                padding: 20px;

                .result-item{
                    padding: 10px 20px;
                    border-left: 5px solid $primary;
                    border-radius: 12px;
                    background-color: white;
                    box-shadow: 0 3px 12px rgba($color: #000000, $alpha: .1);

                    &:not(:last-child):not(:first-child){
                        margin: 20px 0;
                    }

                    p{
                        font-weight: 500;
                        color: #808080;
                        font-size: 15px;
                        margin-bottom: 5px;

                        &:not(:first-child){
                            margin: 15px 0 5px;
                        }
                    }

                    h3{
                        font-weight: 700;
                    }

                    h4{
                        font-weight: 700;
                        font-size: 20px;
                        color: $highlight;
                        padding-bottom: 10px;

                        &:not(:last-child){
                            border-bottom: 1px solid #eeeeee;
                        }
                    }

                    ion-skeleton-text{
                        height: 12px;
                    }
                }
            }
        }

        .buttons{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            &.cancellation{
                flex-direction: column;

                ion-button{
                    width: 100%;
                }
            }

            ion-button{
                width: 48%;
                --background: #0f345c;
                --background-activated: #0a2c50;
                color: $white;

                &.get-refund{
                    --background: white;
                    --background-activated: #cccccc;
                    --border-width: 1px;
                    --border-style: solid;
                    --border-color: #d6d6d6;
                    color: $black;
                }
            }

            

            &.single{
                ion-button{
                    width: 100%;
                }
            }
        }

    }
}