<ion-content>

  <div class="main-container">

    <div class="header">

      <ion-button (click)="back()"><ion-icon name="chevron-back"></ion-icon> Back</ion-button>

    </div>

    <div class="content">

      <div *ngIf="!searching && PROC_API()" class="track-result">

        <div class="header">
          <h3>Your Transaction Info</h3>
        </div>

        <div class="result-items">

          <div class="result-item">
            <p>Transaction ID:</p>
            <h4>{{selected_txn.transactionid}}</h4>
          </div>

          <div class="result-item">
            <p>Customer name:</p>
            <h4>{{selected_txn.firstname}} {{selected_txn.lastname}}</h4>
            <p>Customer email:</p>
            <h4>{{selected_txn.email}}</h4>
          </div>

          <div class="result-item">
            <p>Card Number:</p>
            <h4>{{selected_txn.first6.substring(0,4)}} {{selected_txn.first6.substring(4)}}xx xxxx {{selected_txn.last4}}</h4>
            <p>Amount:</p>
            <h4>$ {{selected_txn.amount}}</h4>
            <p>Date of Purchase:</p>
            <h4>{{parseDate(selected_txn.time)}}</h4>
          </div>

        </div>

      </div>

      <div *ngIf="!searching && !PROC_API()" class="track-result">

        <div class="header">
          <h3>Your order was <span>{{selected_txn.order_status == "failed_to_deliver" ? "failed to deliver" : (selected_txn.order_status != null ? "succesfully delivered" : "---")}}</span> on <span>{{parseDate(selected_txn.shipping_date)}}</span> via <span>{{selected_txn.shipping_carrier}}</span>. </h3>
          <p>Tracking number: <span>{{selected_txn.tracking_number}}</span></p>
        </div>

        <div class="result-items">

          <div class="result-item">

            <h3>Product</h3>

            <p>Name:</p>
            <h4>{{selected_txn.order_description}}</h4>
            <p>Date settled:</p>
            <h4>{{parseDate(selected_txn.action.date)}}</h4>
            <p>Order Number:</p>
            <h4>{{selected_txn.order_id}}</h4>

          </div>

          <div class="result-item">

            <h3>Payment</h3>

            <p>Amount:</p>
            <h4>$ {{selected_txn.action.amount}}</h4>
            <p>Card type:</p>
            <h4>{{selected_txn.cc_type}}</h4>
            <p>Card First 6 Digit:</p>
            <h4>{{selected_txn.cc_bin}}</h4>

          </div>

          <div class="result-item">

            <h3>Customer's Information</h3>

            <p>Name:</p>
            <h4>{{selected_txn.first_name}} {{selected_txn.last_name}}</h4>
            <p>Country:</p>
            <h4>{{selected_txn.country}}</h4>
            <p>State:</p>
            <h4>{{selected_txn.state}}</h4>
            <p>City:</p>
            <h4>{{selected_txn.city}}</h4>
            <p>Address:</p>
            <h4>{{selected_txn.address_1}}{{", " + selected_txn.address_2}}</h4>

          </div>

          <div class="result-item">

            <h3>Shipping Information</h3>

            <p>Name:</p>
            <h4>{{selected_txn.shipping_first_name}} {{selected_txn.shipping_last_name}}</h4>
            <p>Tracking number:</p>
            <h4>{{selected_txn.tracking_number}}</h4>
            <p>Country:</p>
            <h4>{{selected_txn.shipping_country}}</h4>
            <p>State:</p>
            <h4>{{selected_txn.shipping_state}}</h4>
            <p>City:</p>
            <h4>{{selected_txn.shipping_city}}</h4>
            <p>Address:</p>
            <h4>{{selected_txn.shipping_address_1}}{{", " + selected_txn.shipping_address_2}}</h4>

          </div>

        </div>
        
      </div>

      <div *ngIf="searching" class="track-result">

        <div class="header">
          <h3>We're preparing your request...</h3>
          <!-- <br>
          <ion-spinner [color]="'light'"></ion-spinner> -->
        </div>

        <div class="result-items">

          <div class="result-item">

            <h3>Product</h3>

            <p>Name:</p>
            <ion-skeleton-text animated></ion-skeleton-text>
            <p>Date settled:</p>
            <ion-skeleton-text animated></ion-skeleton-text>
            <p>Order Number:</p>
            <ion-skeleton-text animated></ion-skeleton-text>

          </div>

          <div class="result-item">

            <h3>Payment</h3>

            <p>Amount:</p>
            <ion-skeleton-text animated></ion-skeleton-text>
            <p>Card type:</p>
            <ion-skeleton-text animated></ion-skeleton-text>
            <p>Card First 6 Digit:</p>
            <ion-skeleton-text animated></ion-skeleton-text>

          </div>

          <div class="result-item">

            <h3>Customer's Information</h3>

            <p>Name:</p>
            <ion-skeleton-text animated></ion-skeleton-text>
            <p>Country:</p>
            <ion-skeleton-text animated></ion-skeleton-text>
            <p>State:</p>
            <ion-skeleton-text animated></ion-skeleton-text>
            <p>City:</p>
            <ion-skeleton-text animated></ion-skeleton-text>
            <p>Address:</p>
            <ion-skeleton-text animated></ion-skeleton-text>

          </div>

          <div class="result-item">

            <h3>Shipping Information</h3>

            <p>Name:</p>
            <ion-skeleton-text animated></ion-skeleton-text>
            <p>Tracking number:</p>
            <ion-skeleton-text animated></ion-skeleton-text>
            <p>Country:</p>
            <ion-skeleton-text animated></ion-skeleton-text>
            <p>State:</p>
            <ion-skeleton-text animated></ion-skeleton-text>
            <p>City:</p>
            <ion-skeleton-text animated></ion-skeleton-text>
            <p>Address:</p>
            <ion-skeleton-text animated></ion-skeleton-text>

          </div>



        </div>
        
      </div>

      <div *ngIf="type=='unreceived'" class="buttons">
        <ion-button class='get-refund' (click)="refund()">Get Refund</ion-button>
        <ion-button (click)="done()">Done</ion-button>
      </div>

      <div *ngIf="type=='unrecognized'" class="buttons single">
        <ion-button (click)="done()">Done</ion-button>
      </div>

      <div *ngIf="type=='cancellation'" class="buttons cancellation">
        <ion-button class='get-refund' (click)="cancelMembership()">Cancel Membership</ion-button>
        <ion-button class='get-refund' (click)="refund()">Refund my last purchase</ion-button>
        <ion-button (click)="done()">Done</ion-button>
      </div>

    </div>

  </div>

</ion-content>
