<ion-content>

  <div class="main-container">

    <div class="illustration">
      <h1>Refund Request</h1>
    </div>

    <div class="cancellation-result">

      <p #refundTextResult></p>

    </div>

    <ion-button (click)="done()">Done</ion-button>

  </div>

</ion-content>
